<form [formGroup]="glTrialBalanceForm" (ngSubmit)="glTrialBalance(glTrialBalanceForm.value)">

    <div class="center">
        <table style="width: 100%;background-color: white;">
            <tr>
                <td class="PageHeader">
                    &nbsp;&nbsp;GL&nbsp;Trial&nbsp;Balance&nbsp;
                </td>
            </tr>
        </table>
    </div>

    <div class="center" style="width: 100%;">
        <div class="form-bg">
            <div class="center" style="width: 100%;">

                <!-- <table class="center" style="width: 100%; background-color: #a4d3e9;">
                    <tr>
                        <td >
                        <table class="center">
                        <tr>
                      
                        <td style="width: 15%" class="LabelFontStyle">Division&nbsp;:</td>
                        <td><input disabled type="text"  class="form-control" formControlName="loginArray" id="loginArray" [(ngModel)]='loginArray' ></td>
                       
                        <td style="width: 15%" class="LabelFontStyle">Operating&nbsp;Unit&nbsp;:</td>
                        <td><input disabled type="text"  class="form-control" formControlName="ouName" id="ouName" [(ngModel)]='ouName' ></td>
                                         
                        <td style="width: 15%" class="LabelFontStyle">GL&nbsp;Period&nbsp;:</td>
                        <td><input type="text"  class="form-control" formControlName="glPeriod" id="glPeriod" name="glPeriod" ></td>
                       
                        <td colspan="8" style="text-align: left; width: 100%;">
                        <button type="button" class="btn btn-primary" (click)="SearchTB()"><i class="fa fa-search"></i></button></td>
                        </tr>
                        </table>
                        </td>
                    </tr>
                
                </table> -->

                     <table class="center" style="width: 100%;background-color: #FFE4B5;">
                        <tr>
                          <td >
                              <table class="center">
                                  <tr>
                                    <td style="width: 15%" class="LabelFontStyle">Division&nbsp;:</td>
                                    <td><input disabled type="text"  class="form-control" formControlName="loginArray" id="loginArray" [(ngModel)]='loginArray' ></td>
                                    
                                    <td style="width: 15%" class="LabelFontStyle">Operating&nbsp;Unit&nbsp;:</td>
                                    <td><input disabled type="text"  class="form-control" formControlName="ouName" id="ouName" [(ngModel)]='ouName' ></td>
                                 
                                    <!-- <td style="width: 15%" class="LabelFontStyle">GL&nbsp;Period&nbsp;:</td>
                                    <td><input type="text"  class="form-control" formControlName="glPeriod" id="glPeriod" name="glPeriod" ></td>
                      -->
                                    <td style="width: 15%" class="LabelFontStyle">GL&nbsp;Period&nbsp;:&nbsp;</td>
                                    <td>
                                      <select formControlName="periodName" id="periodName" class="form-control">
                                      <option>--Select--</option>
                                      <option *ngFor="let sc of  periodNameList" [value]="sc.periodName">
                                        {{sc.periodName}}
                                      </option>
                                    </select>
                                    </td>
    
                                    <!-- <td style="background-color: #FFE4B5;"><button type="button" class="btn-primary" (click)="SearchTB()"><i class="fa fa-search"
                                                aria-hidden="true"></i></button>
                                    </td> -->
                                    <td> <button type="button" class="btn btn-info" (click)="SearchTB()" >Run</button> </td>
                                    <td> <button type="button" class="btn btn-info" (click)="resetMast()" >Reset</button> </td>
                                    <div *ngIf="exportExcel; then TBEYes; else TBENo"></div>
                                    <ng-template #TBEYes> 
                                    <td> <button disabled (click)="expExcel()" class="btn btn-info" style="width: fit-content;">ExportToExcel</button></td>  
                                    </ng-template>
                                    <ng-template #TBENo> </ng-template>  
                                  </tr>
                              </table>
                          </td>
                        </tr>
                    </table>

                    <fieldset class="RFS">
                        <div class="container1">
                                <div class="grid_scroll">
                                <table class="auto-style4" class="GridFont" cellspacing="0" cellpadding="4" border="0" id="ctl00_cpForm_grdActions" style="border-color:#959595;border-collapse:collapse;width: 100%;font-size: small;">
                                    <tbody>
                                            <tr class="GridHeader">
                                            <th style="width:2rem" scope="col">Srl&nbsp;No&nbsp;</th> 
                                            <th style="width:10rem" scope="col">Natural&nbsp;Account&nbsp;</th>
                                            <th style="width:25rem" scope="col">Description&nbsp;</th>
                                            <th style="width:12rem" scope="col">Opening&nbsp;Balance</th>
                                            <th style="width:12rem" scope="col">Debit&nbsp;Amount&nbsp;</th>
                                            <th style="width:12rem" scope="col">Credit&nbsp;Amount</th>
                                            <th style="width:12rem" scope="col">Closing&nbsp;Balance</th>
                                        
                                        </tr>
                                    </tbody>
                                    <tr *ngFor="let com of lstTBList let i=index" class="ItemStyle" style="text-decoration:none;font-size: large;">
                                        <td style="text-align: center;">{{i+1}}</td>
                                        <td style="text-align: center;">{{com.naturalAccount}}</td>

                                        <!-- <td style="padding-left: 5px;padding-top: 10px;">
                                            <a href="#naturalAccount"   data-toggle="collapse">{{com.naturalAccount}}</a>
                                        </td>  -->
                                          <!-- 
                                        <div id="naturalAccount" class="collapse">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                          </div> -->
                                          
                                        <td style="text-align: left;">{{com.accountDesc}}</td>
                                        <td style="text-align: right;">{{com.openingBal |number:'0.00'}}</td>
                                        <td style="text-align: right;">{{com.periodNetDr|number:'0.00'}}</td> 
                                        <td style="text-align: right;">{{com.periodNetCR|number:'0.00' }}</td>
                                        <td style="text-align: right; padding-right: 10px;">{{com.closingBal |number:'0.00'}}</td>
                                    </tr> 
                                </table>
                            </div>
                            </div>
                        
                        </fieldset>

                        <!-- <div class="table-responsive">
                            <table class="table">
                              <thead>
                                <tr>
                                    <th style="width:2rem" scope="col">Srl&nbsp;No&nbsp;</th> 
                                    <th style="width:10rem" scope="col">Natural&nbsp;Account&nbsp;</th>
                                    <th style="width:25rem" scope="col">Description&nbsp;</th>
                                    <th style="width:12rem" scope="col">Opening&nbsp;Balance</th>
                                    <th style="width:12rem" scope="col">Debit&nbsp;Amount&nbsp;</th>
                                    <th style="width:12rem" scope="col">Credit&nbsp;Amount</th>
                                    <th style="width:12rem" scope="col">Closing&nbsp;Balance</th>
                                </tr>
                              </thead>
                        <tbody>
                        <tr *ngFor="let com of lstTBList let i=index" class="ItemStyle" style="text-decoration:none;font-size: large;">
                            
                            <td style="text-align: center;">{{i+1}}</td>
                       
                          <td style="padding-left: 5px;padding-top: 10px;">
                              <a class="accordion-toggle collapsed" id="accordion1" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">{{com.naturalAccount}}</a>
                          </td> 

                          <td style="text-align: left;">{{com.accountDesc}}</td>
                          <td style="text-align: right;">{{com.openingBal |number:'0.00'}}</td>
                          <td style="text-align: right;">{{com.periodNetDr|number:'0.00'}}</td> 
                          <td style="text-align: right;">{{com.periodNetCR|number:'0.00' }}</td>
                          <td style="text-align: right; padding-right: 10px;">{{com.closingBal |number:'0.00'}}</td>
                          
                         </tr>
                        
                     
                          <tr class="hide-table-padding">
                          <td></td>
                          <td colspan="3">
                          <div id="collapseOne" class="collapse in p-3">
                            <div class="row">
                              <div class="col-2">label</div>
                              <div class="col-6">value 1</div>
                            </div>
                            <div class="row">
                              <div class="col-2">label</div>
                              <div class="col-6">value 2</div>
                            </div>
                            <div class="row">
                              <div class="col-2">label</div>
                              <div class="col-6">value 3</div>
                            </div>
                            <div class="row">
                              <div class="col-2">label</div>
                              <div class="col-6">value 4</div>
                            </div>
                          </div></td>
                          </tr>

                          <tr class="accordion-toggle collapsed" id="accordion2" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                          <td class="expand-button"></td>
                          <td>Cell</td>
                          <td>Cell</td>
                          <td>Cell</td>
                          
                          </tr>
                          <tr class="hide-table-padding">
                          <td></td>
                          <td colspan="4">
                          <div id="collapseTwo" class="collapse in p-3">
                            <div class="row">
                              <div class="col-2">label</div>
                              <div class="col-6">value</div>
                            </div>
                            <div class="row">
                              <div class="col-2">label</div>
                              <div class="col-6">value</div>
                            </div>
                            <div class="row">
                              <div class="col-2">label</div>
                              <div class="col-6">value</div>
                            </div>
                            <div class="row">
                              <div class="col-2">label</div>
                              <div class="col-6">value</div>
                            </div>
                          </div></td>
                          </tr>
                        </tbody>
                        </table>
                        </div> -->

                        <!-- <div class="container mt-5">
                          <div class="d-flex justify-content-center row">
                          <div class="col-md-10">
                          <div class="rounded"> -->

                          <!-- <div class="table-responsive table-borderless">
                         
                          <table class="table">

                          <thead>
                          <tr>
                            <th style="width:2rem" scope="col">+/-&nbsp;</th> 
                            <th style="width:2rem" scope="col">Srl&nbsp;No&nbsp;</th> 
                            <th style="width:10rem" scope="col">Natural&nbsp;Account&nbsp;</th>
                            <th style="width:25rem" scope="col">Description&nbsp;</th>
                            <th style="width:12rem" scope="col">Opening&nbsp;Balance</th>
                            <th style="width:12rem" scope="col">Debit&nbsp;Amount&nbsp;</th>
                            <th style="width:12rem" scope="col">Credit&nbsp;Amount</th>
                            <th style="width:12rem" scope="col">Closing&nbsp;Balance</th>
                          </tr>
                          </thead>

                          <tbody class="table-body">
                        
                            <tr *ngFor="let com of lstTBList let i=index" class="ItemStyle" style="text-decoration:none;font-size: large;">
                              <td class="table-elipse" data-toggle="collapse" data-target="#demo"><i class="fa fa-ellipsis-h text-black-50"></i></td>
                     
                            <td style="text-align: center;">{{i+1}}</td>
                            <td style="text-align: left;">{{com.naturalAccount}}</td> 
                            <td style="text-align: left;">{{com.accountDesc}}</td>
                            <td style="text-align: right;">{{com.openingBal |number:'0.00'}}</td>
                            <td style="text-align: right;">{{com.periodNetDr|number:'0.00'}}</td> 
                            <td style="text-align: right;">{{com.periodNetCR|number:'0.00' }}</td>
                            <td style="text-align: right; padding-right: 10px;">{{com.closingBal |number:'0.00'}}</td>
                          
                           </tr>
                            
                          <tr id="demo" class="collapse cell-1 row-child">
                            <td class="text-center" colspan="1"><i class="fa fa-angle-up"></i></td>
                            <td colspan="1">12MU.2101.11.13202.000&nbsp;</td>
                            <td colspan="3">Spares Receipt</td>
                            <td colspan="1">201</td>
                            <td colspan="2">500</td>
                          </tr>

                       

                          </tbody>
                          </table>
                          </div> -->
                      

                                  
            </div>
        </div>
    </div>
</form>

                          


