<div class="center">
  <form [formGroup]="AssetRetirementForm" (ngSubmit)="AssetRetirement(AssetRetirementForm.value)">
  <table style="width: 100%;background-color: white;">
      <tr>
          <td class="PageHeader"> &nbsp;Asset&nbsp;Retirement&nbsp;</td>
          <table style="width: 100%; background-color: #a4d3e9;">
                  <tr>
                      <td style="width: 15%" class="LabelFontStyle">Asset&nbsp;No:</td>
                      <td>
                          <input type="text"  class="form-control" formControlName="AssetNo" id="AssetNo" name="AssetNo" [(ngModel)]="AssetNo">
                      </td>
                      <td colspan="8" style="text-align: left; width: 100%;">
                          <button type="submit" class="btn btn-primary" (click)="search(AssetNo)"><i class="fa fa-search"></i></button>
                      </td>
                  </tr>
              </table>
      </tr>
  </table>

  <div class="center" style="width: 100%;">
      <div class="form-bg">
          <div class="center" style="width: 100%;">
              <!-- <form [formGroup]="BookControlForm" (ngSubmit)="bookControl(BookControlForm.value)"> -->
                  <table class="center" >
                    <tr>
                      <fieldset>
                          <table class="center">
                              <tr>
                          <td style="width: 15%" class="LabelFontStyle">Asset&nbsp;No:</td>
                      <td   style="border: none;color: black;">
                          <input type="number" class="form-control" formControlName="assetId" [(ngModel)]="assetId">
                      </td>
                      <td style="width: 15%" class="LabelFontStyle">Reference&nbsp;No:</td>

                      <td>
                         <input type="text" class="form-control" formControlName="referenceNum"[(ngModel)]="referenceNum" >
                      </td>
                      <td style="width: 15%" class="LabelFontStyle">Book&nbsp;:</td>

                      <td>
                      <input type="text" class="form-control" formControlName="bookTypeCode">
                      </td>
                  </tr>
                  <tr>

                        <td style="width: 15%" class="LabelFontStyle">Comments&nbsp;:</td>
                          <td>
                                 <input type="text" class="form-control">
                          </td>

                        <td style="width: 15%" class="LabelFontStyle">Retire&nbsp;Date&nbsp;:</td>
                        <td>
                               <input type="date" class="form-control" formControlName="dateRetired">
                        </td>
                             <td style="width: 15%" class="LabelFontStyle">Status&nbsp;:</td>
                        <td>
                               <input type="text" class="form-control" formControlName="status">
                                    </td>
                      </tr>
                          </table>
                      </fieldset>
                    </tr>
                      <tr>
                          <fieldset class="RFS">
                                  <legend id="FormsPH_LGAadhaar" class="RFSL"
                                  style="font-size: 10px;color: black;">
                                  <b> Retirementnbsp;Details</b>
                              </legend>
                              <table>
                                  <tr>
                                      <td style="width: 15%"class="LabelFontStyle">
                                          Current&nbsp;Units:
                                      </td>
                                      <td >
                                          <input type="number" class="form-control" formControlName="units">
                                      </td>
                                      <td style="width: 15%"class="LabelFontStyle">
                                              Units&nbsp;Retired&nbsp;:
                                          </td>
                                          <td >
                                              <input type="number" class="form-control" formControlName="unitsRetire">
                                          </td>
                                          <td style="width: 15%"class="LabelFontStyle">
                                              Retirement&nbsp;Type&nbsp;:
                                          </td>
                                          <td >
                                              <select  class="form-control" formControlName="retirementTypeCode">
                                                <option>--Select--</option>
                                                <option  *ngFor="let sc of  retireTypeList">{{sc.lookupCode}}</option>
                                              </select>
                                          </td>
                                          <td style="width: 15%"class="LabelFontStyle">
                                              Retirement&nbsp;Convention&nbsp;:
                                          </td>
                                          <td >
                                              <input type="text" class="form-control" formControlName="retirementProrateConvention">
                                          </td>
                                  </tr>
                                  <tr>
                                          <td style="width: 15%"class="LabelFontStyle">
                                              Current&nbsp;Cost&nbsp;:
                                          </td>
                                          <td >
                                              <input type="number" class="form-control" formControlName="nbvRetired" >
                                          </td>

                                          <td style="width: 15%"class="LabelFontStyle">
                                                  Cost&nbsp;Retired&nbsp;:
                                              </td>
                                              <td >
                                                  <input type="number" class="form-control" formControlName="costRetired">
                                              </td>

                                          <td style="width: 15%"class="LabelFontStyle">
                                                  Proceeds&nbsp;of&nbsp;Sale:
                                              </td>
                                              <td >
                                                  <input type="text" class="form-control" formControlName="proceedsOfSale">
                                              </td>

                                          <td style="width: 15%"class="LabelFontStyle">
                                                  Costs&nbsp;Reserve&nbsp;:
                                              </td>
                                              <td >
                                                  <input type="text" class="form-control" formControlName="revalReserveRetired">
                                              </td>

                                  </tr>
                                  <tr>
                                          <td style="width: 15%"class="LabelFontStyle">
                                             AR&nbsp;Invoice&nbsp;No:
                                          </td>
                                          <td >
                                              <input type="number" class="form-control" formControlName="arInvNo">
                                          </td>

                                          <td style="width: 15%"class="LabelFontStyle">
                                                  Customer&nbsp;No&nbsp;:
                                              </td>
                                              <td >
                                                  <input type="number" class="form-control" formControlName="customerNo">
                                              </td>
                                              <input hidden formControlName="emplId" [(ngModel)]="emplId" >
                                          <td style="width: 15%"class="LabelFontStyle">
                                                  Customer&nbsp;Name&nbsp;:
                                              </td>
                                              <td >
                                                  <input type="text" class="form-control" formControlName="soldTo">
                                              </td>

                                          <td style="width: 15%"class="LabelFontStyle">
                                                  AR&nbsp;Invoice&nbsp;Date:
                                              </td>
                                              <td >
                                                  <input type="date" class="form-control">
                                              </td>

                                  </tr>
                               </table>
                          </fieldset>
                      </tr>
                </table>
                      <!-- </fieldset>        -->



                   <br>




                  <!-- ===================================Buttons======================================== -->
                  <!-- <br> -->
                  <table class="center">
                      <tr>
                           <td>
                                  <button type="button" class="btn btn-info">Search</button>
                              </td>
                              <td>
                                      <button type="button" class="btn btn-info" (click)="assRetirementSave()">Done</button>
                                  </td>



               <!-- ====================Reset Dialog ======================== -->

                  <td>
                  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Reset</button>
                  </td>
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-body">
                          <label style="font-size: small; color: black;font-weight: bold; text-align:center;vertical-align: middle;">
                              <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                              Want&nbsp;to&nbsp;Reset. &nbsp;Confirm&nbsp;(Yes/No)?&nbsp;
                          </label>
                      </div>
                      <div class="modal-footer">
                          <table class="center">
                              <tr>
                                  <td>
                                      <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
                                  </td>
                                  <td>
                                      <button type="submit" class="btn btn-info" id="register" (click)="resetMast()">Yes</button>
                                  </td>
                              </tr>
                          </table>
                      </div>
                  </div>
                  </div>
                  </div>

                      <!-- =====================Close Dialog Box====================== -->
                      <td>
                      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalLong">Close</button>
                      </td>
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <div class="modal-body">
                                  <label style="font-size: small; color: black; font-weight: bold; text-align: center; vertical-align: middle;">
                                      <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                                      Want&nbsp;to&nbsp;Close.&nbsp;Confirm&nbsp;(Yes/No)?&nbsp;
                                  </label>
                              </div>
                              <div class="modal-footer">
                                  <table class="center">
                                      <tr>
                                          <td>
                                          <button  type="submit" class="btn btn-info" data-dismiss="modal" id="register"   (click)="closeMast()">Yes</button>
                                          </td>
                                          <td>
                                          <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
                                          </td>
                                      </tr>
                                  </table>
                              </div>
                          </div>
                          </div>
                      </div>

              </tr>
              </table>
              <br>
              <!-- </form> -->
          </div>
      </div>
  </div>
  </form>
</div>





