<form [formGroup]="JvUploadForm" (ngSubmit)="JvUpload(JvUploadForm.value)">
    <table style="width: 100%;background-color: white;">
        <tr>
            <td class="PageHeader">
                JV&nbsp;Upload&nbsp;
            </td>
        </tr>
        </table>
        <table style="width: 50%;" class="center">
            <tr>
                <td class="LabelFontStyle">
                    &nbsp;&nbsp;Select&nbsp;CSV&nbsp;:&nbsp;
                </td>
                <td colspan="3">
                    <input class="form-control" type="file" #fileInput  accept=".csv" formControlName="files"[(ngModel)]="files" style="vertical-align: middle;margin-top: 22px;width: 350px;">&nbsp;&nbsp;  
                </td>
                <td>
                    <button  class="btn btn-primary" (click)="uploadFile($event)" style="width: 100%;font-size: 11px;">Upload</button>    
                </td>
             
            </tr>
            <tr>
              <td class="LabelFontStyle" style="color: blue;width: fit-content;" colspan="4">&nbsp;{{dataDisplay }}&nbsp; </td>
            </tr>
            </table>
</form>

