<form [formGroup]="JvUploadForm" (ngSubmit)="JvUpload(JvUploadForm.value)">
    <table style="width: 100%;background-color: white;">
        <tr>
            <td class="PageHeader">
                JV&nbsp;Upload&nbsp;
            </td>
        </tr>
        </table>
        <table class="center">
            <tr>
                <td class="LabelFontStyle">
                    &nbsp;&nbsp;Journal Type&nbsp;:&nbsp;
                </td>
                <td>
                    <!-- <input type="text" class="form-control" disabled formControlName="location" style="width: 100px;" > -->
                    <select class="form-control" formControlName="jeCategory">
                        <option>--Select--</option>
                        <option *ngFor="let jt of JournalType">{{jt.lookupValue}}</option>
                    </select>
                </td>
                <td class="LabelFontStyle">
                    &nbsp;&nbsp;Period&nbsp;Name&nbsp;:&nbsp;
                </td>
                <td>
                    <!-- <input disabled type="text" class="form-control"  formControlName="userName"  > -->
                    <select class="form-control"  formControlName="periodName" (ngModelChange)="onOptionGlPeriod($event)" #perName>
                        <option>--Select--</option>
                        <option *ngFor="let fy of PeriodName" [ngValue]="fy.periodName">{{fy.periodName}}</option>
                    </select>
                </td>
                <td class="LabelFontStyle">
                    &nbsp;&nbsp;Date&nbsp;:&nbsp;
                </td>
                <td>
                    <input type="Date" class="form-control" formControlName="postedDate" id="postedDate" value={{postedDate}}>
                </td>
            </tr>
        </table>
        <table style="width: 50%;" class="center">
            <tr>
                <td class="LabelFontStyle">
                    &nbsp;&nbsp;Select&nbsp;CSV&nbsp;:&nbsp;
                </td>
                <td colspan="3">
                    <input class="form-control" type="file" #fileInput  accept=".csv" formControlName="files"[(ngModel)]="files" style="vertical-align: middle;margin-top: 22px;width: 350px;">&nbsp;&nbsp;  
                </td>
                <td>
                    <button  class="btn btn-primary" (click)="uploadFile($event)" style="width: 100%;font-size: 11px;">Upload</button>    
                </td>
             
            </tr>
            <tr>
              <td class="LabelFontStyle" style="color: blue;width: fit-content;" colspan="4">&nbsp;{{dataDisplay }}&nbsp; </td>
            </tr>
            </table>
</form>

