<form [formGroup]="bulkUploadPriceListForm" (ngSubmit)="bulkUploadPriceList(bulkUploadPriceListForm.value)">
    <!-- <br> -->
    <table style="width: 100%;background-color: white;">
        <tr>
            <td class="PageHeader">
                Price&nbsp;List&nbsp;Upload&nbsp;
            </td>
        </tr>
    </table>

    <fieldset class="RFS">
        <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 12px;color: black;font-weight: bold;">
           Price List Upload</legend>
    <table class="center">
        <tr>
            <td class="LabelFontStyle">
                &nbsp;&nbsp;Price&nbsp;List&nbsp;Name:&nbsp;
            </td>
            <td>  
                <select formControlName="upldPricelistName" id="upldPricelistName" [(ngModel)]="upldPricelistName" class="form-control" style="background-color: yellow;width:350px">
                    <option>--Select--</option>
                    <option *ngFor="let sc of  PriceListIdList" [ngValue]="sc.priceListName" >
                            {{sc.priceListName}}
                    </option>
                </select>
            </td>
        </tr>

        <tr>
            <td class="LabelFontStyle">Select&nbsp;Upload&nbsp;File(.CSV&nbsp;only):&nbsp; </td>
            <td>
            <input  type="file"  accept=".csv"  #fileInput class="form-control" style="vertical-align: middle;margin-top: 22px;width: 350px;background-color: yellow;">&nbsp;&nbsp;  
            </td>
            
            <div *ngIf ="updStatus;then ButtonNo;else ButtonYes"></div>
            <ng-template #ButtonNo>  
            <td>
                <button  disabled class="btn btn-primary" (click)="uploadFile();" style="width: 5rem;font-size: 11px;">Submit&nbsp;</button>
            </td>
            </ng-template>
            <ng-template #ButtonYes>  
            <td>
                <button   class="btn btn-primary" (click)="uploadFile();" style="width: 5rem;font-size: 11px;">Submit&nbsp;</button>
            </td>
            </ng-template>

        </tr>

        <tr>
            <!-- <td colspan="10">
            <div class="progress">

                <div class="progress-bar progress-bar-success" role="progressbar"  
                  attr.aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100"
                [ngStyle]="{ width: progress + '%' }">
                {{progress}}%
                </div>

              </div>
            </td> -->

                                <!-- <h1>GeeksforGeeks</h1> -->
                    
                    <!-- spinnner element is 
                        defined with id loading -->
                        <div *ngIf="closeResetButton; then hList1; else hList2"></div>
                        <ng-template #hList2> 

                            <div class="d-flex justify-content-center">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only" id="loading"></span>
                                </div>
                            </div>
                      </ng-template>
                      <ng-template #hList1> </ng-template>
                      <h5 style="text-align: center;color:blue" > {{dataDisplay }}</h5>
                           
        </tr>

    </table>
  
    

    <table class="center">
        <tr>

            <!-- <td>
                <button type="submit" class="btn btn-primary" (click)="progressBarTesting()">Test</button>
              </td> -->
            <div *ngIf="closeResetButton; then showB1; else showB2"></div>
            <ng-template #showB1> 
           
            <td>
                <button type="submit" class="btn btn-primary" id="resetBtn" data-toggle="modal" 
                data-target="#confirmAlert" (click)="getMessage('Reset')">Reset</button>
                    
            </td>
            <td>
                <button type="submit" class="btn btn-primary" id="closeBtn"
                data-toggle="modal" data-target="#confirmAlert" (click)="getMessage('Close')">Close</button>
            </td>
            </ng-template>
            <ng-template #showB2> 
           
                <td>
                    <button disabled type="submit" class="btn btn-primary" id="resetBtn" data-toggle="modal" 
                    data-target="#confirmAlert" (click)="getMessage('Reset')">Reset</button>
                        
                </td>
                <td>
                    <button disabled type="submit" class="btn btn-primary" id="closeBtn"
                    data-toggle="modal" data-target="#confirmAlert" (click)="getMessage('Close')">Close</button>
                </td>
            </ng-template>


            

        </tr>
    </table>
</fieldset>

<div class="container1">
    <div class="grid_scroll_3">
      <table class="auto-style4" class="GridFont" cellspacing="0" cellpadding="4" border="0" id="ctl00_cpForm_grdActions" style="font-size:small; border-color:brown;border-collapse:collapse;width: 100%;">
   
       <tbody>
                 <tr class="GridHeader">
                     <th style="width:3rem" scope="col">Srl#</th>
                    <th style="width:10rem" scope="col">Item Number</th>
                     <th style="width:20rem" scope="col">Item Description</th>
                     <th style="width:15rem" scope="col">Remark</th>
                     <th style="width:25rem" scope="col">Status</th>

                                                                                                                                     
             </tr>
         </tbody>
       
             <tr *ngFor="let com of lstMessage let i= index" class="ItemStyle" style="text-decoration:none;">
                 <td style="text-align: center;">{{i+1}}</td>
                 <td style="width:10rem;text-align: center;">{{com.segment}}</td>
                 <td style="width:15rem;text-align: left;">{{com.itemDescription}}</td>
                 <td style="width:30rem;text-align: left;">{{com.itemCategory}}</td>
                 <td style="width:20rem;text-align: center;">{{com.status}}</td>
             </tr>
     </table>
   </div>
 </div>

</form>
<!-- --------------------------------------------------------------------------------------------- -->

<div class="modal" id="confirmAlert" tabindex="-1" role="dialog" aria-hidden="true" style="width: 500px; text-align: center;">
    <div class="modal-dialog modal-dialog-centered modal-sm"  role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" >Confirmation!</h5>
        </div>
        <div class="modal-body">
            <label style="font-size: small; color: black; font-weight: bold; text-align: center; vertical-align: middle;">
                {{message}}
            </label>
        </div>
        <div class="modal-footer">
            <table class="center">
        <tr>
            <td>
            <button  type="submit" class="btn btn-primary" data-dismiss="modal" id="register"   (click)="executeAction()">Yes</button>
            </td>
            <td>
            <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
            </td>
        </tr>
        </table>
        </div>
        </div>
        </div>
    </div>