
          <!-- <form class="form-container"> -->

<div class="back-image"  >
    <div class="loginPage">
        <div class="image">
            <img id="logo2" src="assets\images\Sai Logo.jpg">
        </div>
        <!-- <section class="container-fluid"> -->
          <!-- <section class="row justify-content-center"> -->
              <!-- <section class="col-12 col-sm-6 col-md-3"> -->
        <form #f="ngForm" novalidate class="form-container" >
            <div class="form-group">
                <div class="row" >
                  <div class="rounded-sm" style="border:2px solid rgb(14, 13, 13);">
                    <div class="span4">
                      <label></label>
                    </div>
                    <div class="span4">
                      <label class="autostyle25"><strong> User Login </strong> </label>
                    </div>
                       <div class="span4">
                        <label><strong> User Name </strong></label>
                        </div>
                        <div class="span4">
                            <!-- <input type="text" placeholder="Enter the User Name"> -->
                          <input type="text" placeholder="Enter the User Name"  [(ngModel)]="username" name="username"  required ngModel   pattern="[a-zA-Z0-9]*" class="form-control">
                        </div>
                        <div class="span4">
                          <label><strong> Password </strong></label>
                        </div>
                        <div class="span4">
                            <!-- <input type="password" placeholder="Enter the password"> -->
                          <input type="password" placeholder="Enter the password"  [(ngModel)]="password" name="password"  required ngModel class="form-control">
                        </div>
                        <div class="span4">
                          <label></label>
                        </div>
                        <div class="span4">
                          <button (click)="login()" class="btn btn-primary " ><strong> Login </strong> </button>
                        </div>
                        <div class="span4">
                          <button (click)="forgetPassword()" class="btn btn-primary " ><strong> Forget Password </strong> </button>
                        </div>
                        <div class="span4">
                          <label></label>
                        </div>
                     </div>
                   </div>
              </div>
        </form>
      <!-- </section> -->
    <!-- </section> -->
    <!-- </section> -->
    </div>
    </div>




