.loginForm {
    border: 5px solid purple; 
    padding: 40px;
    background-color: blue;
    /* background-image: url(C:/erpRelica/erpReplica/src/assets/images/bg1.png); */
    width: 100%;
    height: 100%;
    /* background-image: url(src/assets/222.jpg); */
    background-repeat: no-repeat;
    vertical-align: top; 
      }

      .back-image{
        /* background-image: url(src/assets/images/background1.jpg); */
        background-image: url(/assets/images/background1.jpg);
  
        background-repeat: no-repeat;
         padding: 10px;
        width: 100%;
        height: 550px;
      }

      .autostyle10{
        margin-left: 72%;
        position: absolute;
        /* bottom: -20px; */
        top: 214px;
        /* vertical-align: bottom; */
    }
    
    .rounded-sm{
        margin-left: 72%;
        position: absolute;
         top: 140px;
        width: 21%;
        shape-outside: border-box;
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green;
        /* height: 500px; */
       background-color: violet; 
    /* For browsers that do not support gradients */
       /* background-image: linear-gradient(to  orange,  indigo, violet); */
    }
    
    #logo2{
        margin-left: 20px;
    }
    
    
    
    td{
        padding: 7px;
    }
    
    /* label{
        align-items: center;
        width: 50%;
    } */
    
    .btn-primary{
      /* background-color: #00ffff; 
      border-color:   #00ffff;   
      color: darkblue; */
      margin-left: 1.6em;
      margin-right: 2em;
      box-shadow: 5px 5px 8px blue;
      }
    
    label{
        font-size: medium;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color:  rgb(90, 7, 28); 
        margin-left: 2em;
        margin-right: 2em;
        text-shadow:5px 5px 8px blue;
    }
    
    input{
        font-size: small;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
        width: 82%;
        margin-left: 2em;
        margin-right: 2em;
        /* border-color: yellow; */
        
    }
    .span4{
        padding: 1%;
    }

    .autostyle25{
        font-size: small;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
        text-align: center;
        margin-left:90px;
        text-shadow:5px 5px 8px blue;
    }
    
    span{
        font-size: xx-small;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
    }
    
    button{
        width: 82%;
    }
    
    
    
    input.ng.invalid.ng.touched{
        border-color: red;
    } 
    
    
    img{
        height: 50px;
    }

 
    .image{
        margin-left: 40%;
        margin-top: 20px;
    }


  /* .loginPage {
    height: 500px;
    background-color: violet; /* For browsers that do not support gradients */
    /* background-image: linear-gradient(to  orange, yellow, indigo, violet);
      } */
       
      /* @keyframes example {
        from {background-color: red;}
        to {background-color: yellow;}
      } */