<form [formGroup]="deAllotmentForm" (ngSubmit)="deAllotment(deAllotmentForm.value)">
    <table style="width: 100%;background-color: white;">
        <tr>
        <td colspan="4" class="PageHeader" style="width: 100%;">
            &nbsp;De-Allotment&nbsp;
        </td>
    </tr>
    </table>
    <div style="background-color: #FFE4B5;width: 100%;">
        <table class="center">
            <tr>
                <td  style="font-weight: bold;width: 100%;text-align: center;">
                    &nbsp;OU&nbsp;Name&nbsp;:&nbsp;{{ouName}}
                </td>
            </tr>
        </table>
        <table style="background-color: #FFE4B5;">   
            <tr>
                <td style="font-weight: bold;">
                    &nbsp;Order&nbsp;Number&nbsp;:&nbsp;  
                </td>
                <td>
                    <input   class="form-control" >
                </td>
                <td>
                    <button type="button" class="btn-primary" ><i class="fa fa-search" aria-hidden="true"></i></button>
                </td>
            </tr>        
        </table>
</div>
    <div class="center" style="width: 100%;padding-top: 7px;">
        <div class="form-bg">
            <div class="grid_scroll">
                 <table  class="GridFont" cellspacing="0" cellpadding="4"   style="border-color:#959595;border-collapse:collapse;width: 100%;"> 
                    <thead>
                        <tr class="GridHeader"> 
                            <!-- <th scope="col" style="border: 1px solid black;">Select</th> -->
                            <th scope="col" style="border: 1px solid black;">Order Number</th>
                            <th scope="col" style="border: 1px solid black;">Item Allocated</th>
                            <th scope="col" style="border: 1px solid black;">Color Code</th>
                            <th scope="col" style="border: 1px solid black;">Description</th>
                            <th scope="col" style="border: 1px solid black;">Alloted Date</th>
                            <th scope="col" style="border: 1px solid black;">RIPS</th>
                            <th scope="col" style="border: 1px solid black;">Two Tone</th>
                            <th scope="col" style="border: 1px solid black;">Interiors</th>
                            <th scope="col" style="border: 1px solid black;">Accessories Fitted</th>
                            <th scope="col" style="border: 1px solid black;">Hold</th>
                            <th scope="col" style="border: 1px solid black;">Hold Reason</th>
                            <th scope="col" style="border: 1px solid black;">Exchange</th>
                            <th scope="col" style="border: 1px solid black;">Date of Purchase</th>
                            <th scope="col" style="border: 1px solid black;">Aging</th>
                            <th scope="col" style="border: 1px solid black;">Order Aging</th>
                            <th scope="col" style="border: 1px solid black;">De-Allotment Reason</th>
                            <th scope="col" style="border: 1px solid black;">De-Allotment</th>
                        </tr>
                    </thead>
                        <tbody>
                        <tr *ngFor="let com of Deallotmentsearchlist let i= index" class="ItemStyle" style="text-decoration:none;text-align: center;">
                             <!-- <td style="border: 1px solid black;">
                                <input  type="checkbox" formControlName="selectOrderNumber"
                                (change)="selectOrderNumberEvent($event,com.orderNumber,com.orderedItem)">
                            </td> -->
                           
                            <td style="border: 1px solid black;padding-left: 5px;">{{com.orderNumber}}</td>
                            <td style="border: 1px solid black;">{{com.orderedItem}}</td>
                            <td style="border: 1px solid black;">{{com.colorCode}}</td>
                            <td style="border: 1px solid black;">{{com.description}}</td>
                            <td style="border: 1px solid black;width: 8rem;">{{com.lineCreationDt | date:'yyyy-MM-dd  hh:mm:ss'}}</td>
                            <td style="border: 1px solid black;">{{com.rips}}</td>
                            <td style="border: 1px solid black;">{{com.twoTone}}</td>
                            <td style="border: 1px solid black;">{{com.interiors}}</td>
                            <td style="border: 1px solid black;"></td>
                            <td style="border: 1px solid black;">{{com.hold}}</td>
                            <td style="border: 1px solid black;">{{com.holdReason}}</td>
                            <td style="border: 1px solid black;">{{com.exchangeYN}}</td>
                            <td style="border: 1px solid black;width: 8rem;">{{com.creationDate | date:'yyyy-MM-dd  hh:mm:ss'}}</td>
                            <td style="border: 1px solid black;">{{com.aging}}</td>
                            <td style="border: 1px solid black;">{{com.orderAging}}</td>
                            <td style="border: 1px solid black;">
                               
                                <select formControlName="deallotReason" id="deallotReason"  class="form-control"  style="width: 120px;height: 22px;"  (change)="selectReason($event,i)">
                                <option>--Select--</option>
                                <option *ngFor="let deallotmentReason of deallotmentReasonTypelist" [(ngValue)]="deallotmentReason.codeDesc">
                                    {{deallotmentReason.codeDesc}}
                                </option>
                            </select>
                        </td>
                            <td [style.display]="isVisibleDeallocate ? 'block' : 'none'">
                                <!-- <div  *ngIf="displaydeallotmentButton[i]; then thendeallotmentButton; else elsedeallotmentButton">  </div>
                                <ng-template #thendeallotmentButton>
                                </ng-template>
                                <ng-template #elsedeallotmentButton> -->
                                <button type="submit" class="btn btn-primary" id="register" (click)="Deallocate(com.orderNumber,com.orderedItem)">Deallocate</button>
                            <!-- </ng-template> -->
                            </td>
                        </tr>
                    </tbody>
                </table>  
                <!-- <table>
                    <tr>
                        <td>
                            order Number : 
                        </td>
                        <td>
                            <input type="text" class="form-control" formControlName="orderNumber" [(ngModel)]='orderNumber' value={{orderNumber}}   style="width: 170px;">     
                        </td>
                        <td>
                            Chassis Number :
                        </td>
                        <td>
                            <input type="text" class="form-control" formControlName="segment" [(ngModel)]='segment' value={{segment}}   style="width: 170px;">     
                        </td>
                    </tr>
                </table> -->
            </div>
            <table class="center">
                <tr>
                    <td>
                        <button type="submit" class="btn btn-primary" id="register" (click)="resetMast()">Reset</button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary" id="register" (click)="closeMast()">Close</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
