<div class="center">
    <table style="width: 100%;background-color: white;">
        <tr>
            <td class="PageHeader" style="width: 100%;">
                &nbsp;&nbsp;JOBCARD&nbsp;OPENING
            </td>
        </tr>
    </table>
    <div class="center" style="width: 100%;">
        <div class="form-bg">
            <div class="center" style="width: 100%;">
                <form [formGroup]="jobcardForm" (ngSubmit)="jobcard(jobcardForm.value)">
                    <div id="Panel1" class="auto-style103">
                        <table class="center">
                            <!-- formControlName="divisionName" -->
                            <fieldset class="RFS">
                                <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 10px;color: black;">&nbsp;
                                </legend>
                                <tr>
                                    <td style="width: 15%" class="LabelFontStyle">Job&nbsp;Card&nbsp;No&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Job&nbsp;Card&nbsp;Date&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Job&nbsp;Card&nbsp;Status&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Material&nbsp;Issue&nbsp;Status&nbsp;:
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                </tr>
                            </fieldset>
                            <fieldset class="RFS">
                                <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 10px;color: black;">
                                    <b>Vehicle&nbsp;Details&nbsp;</b>
                                </legend>
                                <tr>
                                    <td style="width: 15%" class="LabelFontStyle">Registration&nbsp;No&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Vehicle&nbsp;ID&nbsp;(VIN)&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">OMR&nbsp;/Current&nbsp;KMS&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Division&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 15%" class="LabelFontStyle">Service&nbsp;Type&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Sub&nbsp;Service&nbsp;Type&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Service&nbsp;Advisor&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Group&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 15%" class="LabelFontStyle">Bay&nbsp;Code&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">&nbsp;</td>
                                    <td>
                                        <input type="text" hidden class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Technician&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Technical&nbsp;Adivsor&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 15%" class="LabelFontStyle">
                                        Customers&nbsp;Demanded&nbsp;Job&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Recommendation&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 15%" class="LabelFontStyle">Vehicle&nbsp;Model&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Vehicle&nbsp;Sale&nbsp;Date&nbsp;:
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Chassis&nbsp;No&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Engine&nbsp;No&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 15%" class="LabelFontStyle">Vehicle&nbsp;Variant&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Color&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Dealer&nbsp;Name&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Dealer&nbsp;Site&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                </tr>
                            </fieldset>
                            <fieldset class="RFS">
                                <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 10px;color: black;">
                                    <b>Customer&nbsp;Details&nbsp;</b>
                                </legend>
                                <tr>
                                    <td style="width: 15%" class="LabelFontStyle">Customer&nbsp;ID&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Customer&nbsp;Type&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Name&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">DMS&nbsp;customer&nbsp;ID&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 15%" class="LabelFontStyle">Bill&nbsp;To&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Email&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Contact&nbsp;No&nbsp;1:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Contact&nbsp;No&nbsp;2:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 15%" class="LabelFontStyle">Ship&nbsp;To&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                </tr>
                            </fieldset>
                            <fieldset class="RFS">
                                <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 10px;color: black;">
                                  <b>  Billing&nbsp;Customer&nbsp;</b>
                                </legend>
                                <tr>
                                    <td style="width: 15%" class="LabelFontStyle">Customer&nbsp;ID&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Customer&nbsp;Type&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Name&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 15%" class="LabelFontStyle">Address&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Email&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Contact&nbsp;No&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">GSTIN&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 15%" class="LabelFontStyle">Valid&nbsp;Till&nbsp;Date&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                </tr>
                              
                                
                            </fieldset>

                            <fieldset class="RFS">
                                <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 10px;color: black;">
                                    <b>Pickup&nbsp;</b>
                                </legend>

                                <tr>
                                    <td style="width: 15%" class="LabelFontStyle">Free&nbsp;Pickup&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Pick&nbsp;up&nbsp;Type&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Pickup&nbsp;Date&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Pickup&nbsp;Location&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 15%" class="LabelFontStyle">Diver&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Pickup&nbsp;Remark&nbsp;:</td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="">
                                    </td>
                                </tr>
                            </fieldset>
                            <fieldset class="RFS">
                                <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 10px;color: black;">
                                   <b> Estimated&nbsp;</b>
                                </legend>
                            <tr>
                                <td>
                                    <button type="butt on" class="btn btn-primary"
                                    style="width: 8rem;">Estimated Labor</button>
                                </td>
                                <td>
                                    <input type="text" class="form-control" placeholder="">
                                </td>
                                <td>
                                    <button type="butt on" class="btn btn-primary"
                                    style="width: 8rem;">Estimated Material</button>
                                </td>
                                <td>
                                    <input type="text" class="form-control" placeholder="">
                                </td>
                                <td style="width: 15%" class="LabelFontStyle">
                                    Total&nbsp;:</td>
                                <td>
                                    <input type="text" class="form-control" placeholder="">
                                </td>
                                <td style="width: 15%" class="LabelFontStyle">
                                    Promise&nbsp;Date&nbsp;&&nbsp;Time&nbsp;:</td>
                                <td>
                                    <input type="text" class="form-control" placeholder="">
                                </td>
                            </tr>
                            </fieldset>
                        </table>
                        <table class="center">
                            <tr>
                                <td> <button type="butt on" class="btn btn-primary" (click)="saveArInvoice()"
                                        style="width: 8rem;">Save</button></td>
                                <td> <button type="butt on" class="btn btn-primary" (click)="saveArInvoice()"
                                        style="width: 8rem;">Update</button></td>
                                <td>
                                    <button type="button" class="btn btn-primary" (click)="clearFormArray()"
                                        style="width: 8rem;">Reset</button>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-primary" id="register"
                                        (click)="closeMast()">Close</button>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-primary" id="register"
                                        (click)="closeMast()">Cancel</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>