<div class="center">
    <table style="width: 100%;background-color: white;">
        <tr>
            <td class="PageHeader">
                &nbsp;Create&nbsp;Bank&nbsp;Account&nbsp;&nbsp;
            </td>
        </tr>
    </table>
    <form [formGroup]="bankCreationForm" (ngSubmit)="bankCreation(bankCreationForm.value)">
        <table class="center" style="width: 100;"
            style="border-bottom: solid 1px blue;width: 100%; background-color: #FFE4B5; padding-bottom: 2rem;">
            <tr>
                <td>
                    <table class="center" style="width: 100%;">
                        <tr style="align-items: center;">
                            <td></td>
                            <td style="width: 15%" class="LabelFontStyle"> &nbsp;Bank&nbsp;Name&nbsp;:&nbsp; </td>
                            <td>
                                <select formControlName="bkName" id="bkName" class="form-control" [(ngModel)]="bkName"
                                    (ngModelChange)="onBankNameSelectedHeder($event)">
                                    <option>--Select--</option>
                                    <option *ngFor="let sc of BankNameList" [value]="sc.customerId">
                                        {{sc.custName}}
                                    </option>
                                </select>
                            </td>
                            <td style="width: 15%" class="LabelFontStyle"> Bank Account Name : </td>
                            <td>
                                <!-- <select formControlName="bkBranchName" id="bkBranchName" [(ngModel)]="bkBranchName"
                                    class="form-control">
                                    <option>--Select--</option>
                                    <option *ngFor="let sc of BankBranchListHeder">
                                        {{sc.name}}
                                    </option>
                                </select> -->
                                <select formControlName="bkBranchName" class="form-control">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let sc of BankBranchListHeder"
                                            [value]="sc.bankAccountName">
                                        {{sc.bankAccountName}}
                                    </option>
                                </select>
                            </td>
                            <button type="submit" class="btn btn-primary" id="register"
                                (click)="searchBankAccount()" style="width: 2rem;">
                                <i class="fa fa-search"></i></button>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <div class="center" style="width: 100%;">
            <div class="form-bg">
                <div class="center" style="width: 100%;">
                    <fieldset class="RFS">
                        <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 10px;color: black;">Bank Account
                            Details</legend>
                    <table class="center" style="width: 100%;">
                        <tr>
                            <td>
                                <table class="center">
                                    <tr>
                                        <td style="width: 15%" class="LabelFontStyle"> Bank&nbsp;Name&nbsp;:&nbsp; </td>
                                        <td>
                                            <select formControlName="custName" (ngModelChange)="selectCustId($event)"
                                                id="custName" class="form-control" [(ngModel)]="custName"
                                                (ngModelChange)="onBankNameSelected1($event)">
                                                <option>--Select--</option>
                                                <option *ngFor="let sc of BankNameList">
                                                    {{sc.custName}}
                                                </option>
                                            </select>
                                            <input hidden type="text" formControlName="bankId" [(ngModel)]="bankId">
                                        </td>
                                        <td style="width: 15%" class="LabelFontStyle"> Branch&nbsp;Name&nbsp;:&nbsp;
                                        </td>
                                        <td style="border: none;color: black;">
                                            <!-- <select formControlName="branchName" id="branchName"
                                                 class="form-control"
                                                (ngModelChange)="onbranchIdSelected($event)">
                                                <option>--Select--</option>
                                                <option *ngFor="let sc of BankBranchList">
                                                    {{sc.name}}
                                                </option>
                                            </select> -->

                                            <!-- Branch Name select - REMOVE [(ngModel)] -->
                                            <select formControlName="branchName" id="branchName"
                                                class="form-control"
                                                (ngModelChange)="onbranchIdSelected($event)">
                                                <option value="">--Select--</option>
                                                <option *ngFor="let sc of BankBranchList" [value]="sc.name">
                                                    {{sc.name}}
                                                </option>
                                            </select>
                                        </td>
                                        <!-- <td style="width: 15%" class="LabelFontStyle">
                                            &nbsp;Branch&nbsp;Number&nbsp;:&nbsp; </td>
                                        <td>
                                            <input formControlName="branchNo" [(ngModel)]="branchNo"
                                                class="form-control" placeholder=" branch number">
                                            <input hidden formControlName="branchId" [(ngModel)]="branchId"
                                                class="form-control" placeholder=" branch number">
                                        </td> -->
                                          <td style="width: 15%" class="LabelFontStyle">
                                            Bank&nbsp;Account&nbsp;Name&nbsp;:&nbsp;
                                        </td>
                                        <td style="border: none;color: black;">
                                            <input type="text" formControlName="bankAccountName" class="form-control"
                                                placeholder="" onKeyPress="if(this.value.length==30) return false;">
                                                 <input hidden formControlName="branchId" [(ngModel)]="branchId"
                                                class="form-control" placeholder=" branch number">
                                        </td>

                                        
                                    </tr>
                                    <tr>
                                      
                                        <td style="width: 15%" class="LabelFontStyle">
                                            Bank&nbsp;Account&nbsp;Number&nbsp;:&nbsp;
                                        </td>
                                        <td style="border: none;color: black;">
                                            <input type="text" formControlName="bankAccountNo" class="form-control"
                                                placeholder="" onKeyPress="if(this.value.length==18) return false;">
                                        </td>
                                        <td style="width: 15%" class="LabelFontStyle">
                                            Bank&nbsp;Account&nbsp;Type&nbsp;:&nbsp;
                                        </td>
                                        <td style="border: none;color: black;">
                                            <!-- <input type="text" formControlName="bankAccountType" class="form-control" onKeyPress="if(this.value.length==20) return false;"> -->
                                            <select formControlName="bankAccountType" class="form-control">
                                            <option value="">--Select Account Type--</option>
                                            <option value="SAVINGS">Savings</option>
                                            <option value="CURRENT">Current</option>
                                            <option value="CASH">Cash</option>
                                            <option value="OD">Overdraft</option>
                                            <option value="FD">Fixed Deposit</option>
                                            </select>
                                        </td> 
                                          <td style="width: 15%" class="LabelFontStyle">
                                            Bank&nbsp;Account&nbsp;Owner&nbsp;:&nbsp;
                                        </td>
                                        <td style="border: none;color: black;">
                                            <select formControlName="ownerPartyId" id="ownerPartyId"
                                                class="form-control">
                                                <option>--Select--</option>
                                                <option *ngFor="let sc of  BankNameList1" [ngValue]="sc.customerId">
                                                    {{sc.custName}}
                                                </option>
                                            </select>
                                        </td>                                     
                                    </tr>
                                    <tr>
                                      
                                        <td style="width: 15%" class="LabelFontStyle">
                                            Short&nbsp;Bank&nbsp;Name&nbsp;:&nbsp;
                                        </td>
                                        <td style="border: none;color: black;">
                                            <input type="text" formControlName="shortAccountName" class="form-control"
                                                placeholder="" onKeyPress="if(this.value.length==20) return false;">
                                        </td>
                                        <td style="width: 15%" class="LabelFontStyle">
                                            Currancy&nbsp;Code&nbsp;:&nbsp;
                                        </td>
                                        <td style="border: none;color: black;">
                                            <input type="text" formControlName="currancyCode" class="form-control"
                                                placeholder="" onKeyPress="if(this.value.length==8) return false;">
                                        </td>
                                        <td style="width: 15%" class="LabelFontStyle">
                                            Description&nbsp;:&nbsp;
                                        </td>
                                        <td style="border: none;color: black;">
                                            <input type="text" formControlName="description" class="form-control"
                                                placeholder="">
                                        </td>
                                    </tr>
                                    <tr>
                                        
                                        <td style="width: 15%" class="LabelFontStyle">
                                            Max&nbsp;Check&nbsp;Amount&nbsp;:&nbsp;
                                        </td>
                                        <td style="border: none;color: black;">
                                            <input type="number" min="0" formControlName="maxCheckAmt"
                                                class="form-control" onKeyPress="if(this.value.length==10) return false;">
                                        </td>
                                        <td style="width: 15%" class="LabelFontStyle">
                                            Min&nbsp;Check&nbsp;Amount&nbsp;:&nbsp;
                                        </td>
                                        <td style="border: none;color: black;">
                                            <input type="number" min="0" formControlName="minCheckAmt"
                                                class="form-control" onKeyPress="if(this.value.length==10) return false;">
                                        </td>  
                                        <td style="width: 15%" class="LabelFontStyle">
                                            Status&nbsp;:&nbsp;
                                        </td>
                                        <td>
                                            <!-- <input [disabled]="true" type="text" [ngModel]="status"
                                                formControlName="status" class="form-control"> -->
                                            <select formControlName="status" class="form-control">
                                            <option value="">--Select Status--</option>
                                            <option value="Active">Active</option>
                                            <option value="Inactive">Inactive</option>
                                            </select>
                                        </td>                                    
                                    </tr>
                                    <tr>
                                        
                                        <td style="width: 15%" class="LabelFontStyle">
                                            Start&nbsp;Date&nbsp;:&nbsp;
                                        </td>
                                        <td> <input type="date" formControlName="startDate" class="form-control"
                                                [min]="minDate">
                                        </td>
                                        <td style="width: 15%" class="LabelFontStyle">
                                            END&nbsp;Date&nbsp;:&nbsp;
                                        </td>
                                        <td> <input type="date" formControlName="endDate" class="form-control"
                                                placeholder="Enter end Date" min="{{minDate | date:'yyyy-MM-dd'}}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" style="padding: 2px;">
                                            <table style="width: 100%; border-collapse: collapse;">
                                                <tr>
                                                    <td class="LabelFontStyle">
                                                        Multi&nbsp;Currency&nbsp;Allowed&nbsp;Flag&nbsp;:&nbsp;
                                                    </td>
                                                    <td style="border: none;color: black;">
                                                        <input type="checkbox" formControlName="multiCurrAllowedFlag"
                                                            [(ngModel)]="multiCurrAllowedFlag"
                                                            (change)="multiCurrAllowedFlagFn($event)">
                                                    </td>
                                    
                                                    <td class="LabelFontStyle">
                                                        Payment&nbsp;Multi&nbsp;Currency&nbsp;Flag&nbsp;:&nbsp;
                                                    </td>
                                                    <td style="border: none;color: black;">
                                                        <input type="checkbox" formControlName="paymentMultiCurrFlag"
                                                            [(ngModel)]="paymentMultiCurrFlag"
                                                            (change)="paymentMultiCurrFlagFn($event)">
                                                    </td>
                                    
                                                    <td class="LabelFontStyle">
                                                        Receipt&nbsp;Multi&nbsp;Currency&nbsp;Flag&nbsp;:&nbsp;
                                                    </td>
                                                    <td style="border: none;color: black;">
                                                        <input type="checkbox" formControlName="receiptMultiCurrFlag"
                                                            [(ngModel)]="receiptMultiCurrFlag"
                                                            (change)="receiptMultiCurrFlagFn($event)">
                                                    </td>
                                    
                                                    <td class="LabelFontStyle">
                                                        Zero&nbsp;Amount&nbsp;Allowed&nbsp;:&nbsp;
                                                    </td>
                                                    <td style="border: none;color: black;">
                                                        <input type="checkbox" formControlName="zeroAmtAllowed"
                                                            [(ngModel)]="zeroAmtAllowed"
                                                            (change)="zeroAmtAllowedFn($event)">
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>                                    
                                    <!-- <tr>
                                        <td style="width: 15%" class="LabelFontStyle">
                                            Multi&nbsp;Currency&nbsp;Allowed&nbsp;Flag&nbsp;:&nbsp;
                                        </td>
                                        <td style="border: none;color: black;">
                                            <input type="checkbox" formControlName="multiCurrAllowedFlag"
                                                [(ngModel)]="multiCurrAllowedFlag"
                                                (change)="multiCurrAllowedFlagFn($event)">
                                        </td>
                                        <td style="width: 15%" class="LabelFontStyle">
                                            Payment&nbsp;Multi&nbsp;Currency&nbsp;Flag&nbsp;:&nbsp;
                                        </td>
                                        <td style="border: none;color: black;">
                                            <input type="checkbox" formControlName="paymentMultiCurrFlag"
                                                [(ngModel)]="paymentMultiCurrFlag"
                                                (change)="paymentMultiCurrFlagFn($event)">
                                        </td>
                                        <td style="width: 15%" class="LabelFontStyle">
                                            Receipt&nbsp;Multi&nbsp;Currency&nbsp;Flag&nbsp;:&nbsp;
                                        </td>
                                        <td style="border: none;color: black;">
                                            <input type="checkbox" formControlName="receiptMultiCurrFlag"
                                                [(ngModel)]="receiptMultiCurrFlag"
                                                (change)="receiptMultiCurrFlagFn($event)">
                                        </td>
                                        <td style="width: 15%" class="LabelFontStyle">
                                            Zero&nbsp;Amount&nbsp;Allowed&nbsp;:&nbsp;
                                        </td>
                                        <td style="border: none;color: black;">
                                            <input type="checkbox" formControlName="zeroAmtAllowed"
                                                [(ngModel)]="zeroAmtAllowed" (change)="zeroAmtAllowedFn($event)">
                                        </td>
                                    </tr> -->
                                </table>
                            </td>
                        </tr>
                    </table>
                    </fieldset>
                    <fieldset class="RFS">
                    <table class="center" style="width:100%">
                        <tr>
                            <td>
                                <table class="center">
                                    <tr>
                                        <td>
                                            <button type="submit" class="btn btn-primary" id="register"
                                                (click)="refresh()">
                                                Clear
                                            </button>
                                        </td>
                                        <td>
                                            <button type="submit" class="btn btn-primary"
                                                (click)="BankCreation()" [disabled]="isSave">Save</button>
                                        </td>
                                        <td>
                                            <button type="submit" class="btn btn-primary"
                                                (click)="BankUpdation()" [disabled]="isUpdate">Update</button>
                                        </td>
                                        <td>
                                            <button type="submit" (click)="close()"
                                                class="btn btn-primary">Close</button>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    </fieldset>
                    <div class="modal-body">
                        <div class="grid_scroll1">
                            <!-- <table class="auto-style4" class="GridFont" cellspacing="0" cellpadding="4" border="0"
                                id="ctl00_cpForm_grdActions" style="border-color:#959595;border-collapse:collapse;">
                                <tbody>
                                    <tr class="GridHeader">
                                        <th scope="col">Bank Name</th>
                                        <th scope="col">Branch Name</th>
                                        <th scope="col">Branch Number</th>
                                        <th scope="col">Bank Account Name</th>
                                        <th scope="col">Bank Account Number</th>
                                        <th scope="col">Bank Account Type</th>
                                        <th scope="col">Bank Account Owner</th>
                                        <th scope="col">Short Bank Name</th>
                                        <th scope="col">Currancy Code</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Max Check Amount</th>
                                        <th scope="col">Zero Amount Allowed</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Start Date</th>
                                        <th scope="col">Select one</th>
                                    </tr>
                                    <tr *ngFor="let com of BankNameList" class="ItemStyle"
                                        style="text-decoration:none;text-align: center;">
                                        <td>{{com.custName}}</td>
                                        <td>{{com.branchName}}</td>
                                        <td>{{com.branchId}}</td>
                                        <td>{{com.emailId}}</td>
                                        <td>{{com.address1}}</td>
                                        <td>{{com.address2}}</td>
                                        <td>{{com.address3}}</td>
                                        <td>{{com.city}}</td>
                                        <td>{{com.pinCode}}</td>
                                        <td>{{com.state}}</td>
                                        <td>{{com.contact1}}</td>
                                        <td>{{com.contact2}}</td>
                                        <td>{{com.bankType}}</td>
                                        <td>{{com.startDate}}</td>
                                        <td><button class="btn-primary" (click)="SelectbranchId(com.branchId)"
                                                data-dismiss="modal">Select</button></td>
                                    </tr>
                                </tbody>
                            </table> -->

                            <div *ngIf="bankAccountSearchList.length > 0" class="mt-3">

  <table class="auto-style4" class="GridFont" cellspacing="0" cellpadding="4" border="0"
                                id="ctl00_cpForm_grdActions" style="border-color:#959595;border-collapse:collapse;">
    <thead class="thead-dark">
      <tr class="GridHeader">
        <th>Sr No</th>
        <th>Bank Account Id</th>
        <th>Bank Account Name</th>
        <th>Start Date</th>
        <th>Status</th>
        <th>Select</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let acc of bankAccountSearchList; let i = index" class="ItemStyle"
                                        style="text-decoration:none;text-align: center;">
        <td>{{ i + 1 }}</td>
        <td>{{ acc.bankAccountId }}</td>
        <td>{{ acc.bankAccountName }}</td>
        <td>{{ acc.startDate }}</td>
        <td>{{ acc.status }}</td>
        <td>
          <button class="btn btn-sm btn-primary"
                  (click)="selectAccount(acc)">
            Select
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>