
<form [formGroup]="orderGenerationForm" (ngSubmit)="orderGeneration(orderGenerationForm.value)">

    <div class="center">

        <table style="width: 100%;background-color: white;">
            <tr>
                <td class="PageHeader">
                    &nbsp;&nbsp;Order&nbsp;Generation&nbsp;
                </td>
            </tr>
        </table>

        <div class="form-bg">
        <div class="center" style="width: 100%;">

        <fieldset class="RFS">
            <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 12px;color: black;font-weight: bold;">
               Search Order </legend>

         <table class="center" style="width: 100%;background-color: #FFE4B5;">
            <!-- <table> -->
                <tr>
                  <td >
                      <table class="center">
                          <tr> 
                           <td>&nbsp;Order&nbsp;No:&nbsp;</td>
                           <td>
                                <input type ="number" class="form-control" formControlName="orderNumber" [(ngModel)]='orderNumber'
                                    value={{orderNumber}} >
                                 
                            </td>

                            <td>
                                <button type="button" class="btn-primary" (click)="SearchByOrderNo(orderNumber)"><i class="fa fa-search"
                                        aria-hidden="true"></i></button>
                            </td>

                            <td>&nbsp;From&nbsp;Date:&nbsp;</td>

                            <td>
                                <input type ="date" class="form-control" formControlName="fromDate" [(ngModel)]='fromDate'
                                    value={{fromDate}} max="{{minDate | date:'yyyy-MM-dd'}}" >
                                 
                            </td>
                            <td>&nbsp;To&nbsp;Date:&nbsp;</td>
                            <td>
                                <input type ="date" class="form-control" formControlName="toDate" [(ngModel)]='toDate'
                                    value={{toDate}} max="{{minDate | date:'yyyy-MM-dd'}}" >
                                 
                            </td>

                            <td>
                                <button type="button" class="btn-primary" (click)="SearchByDate(fromDate,toDate)"><i class="fa fa-search"
                                        aria-hidden="true"></i></button>
                            </td>

                                             
                            
                           
                          </tr>
                      </table>
                  </td>
                </tr>

               
            </table>
        </fieldset>

        <fieldset class="RFS">
            <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 12px;color: black;font-weight: bold;">
                Order Details </legend>

                <table class="center">

                    <tr>

                        <td>&nbsp;Consumption(No&nbsp;of&nbsp;Months)&nbsp;:&nbsp;</td>

                            <td>
                                <input type ="number" class="form-control" formControlName="noMonths" [(ngModel)]='noMonths'
                                    value={{noMonths}}  min="0" max="12" style="background-color: yellow;" > </td>

                        <td>&nbsp;Order&nbsp;No:&nbsp;</td>

                            <td>
                                <input disabled type ="number" class="form-control" formControlName="orderNumber" [(ngModel)]='orderNumber'
                                    value={{orderNumber}}  >
                                 
                            </td>

                            <td>&nbsp;Order&nbsp;Date:&nbsp;</td>

                            <td>
                                <input disabled type ="date" class="form-control" formControlName="orderDate" [(ngModel)]='orderDate'
                                    value={{orderDate}} max="{{minDate | date:'yyyy-MM-dd'}}" >
                                 
                            </td>


                           

                            
                    </tr>

                    <tr>
   
                                <td>&nbsp;Include&nbsp;Current&nbsp;Month&nbsp;Consumption:&nbsp;</td>

                                <td>
                                    <select formControlName="currMonthYN" id="currMonthYN" class="form-control"  [(ngModel)]="currMonthYN"  style="background-color: yellow;">
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                    </select>
                                </td>
                                <td>&nbsp;Order&nbsp;Status:&nbsp;</td>

                                <td>
                                    <input disabled type ="string" class="form-control" formControlName="orderStatus" [(ngModel)]='orderStatus'
                                        value={{orderStatus}}  >
                                     
                                </td>

                                <!-- <td>
                                    <select formControlName="orderStatus" id="orderStatus" class="form-control"  [(ngModel)]="orderStatus"  style="background-color: yellow;">
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                    </select>
                                </td> -->


                                <td></td>

                                <td> <button type="submit" class="btn btn-info" id="register" (click)="clearBackOrder()" style="width: 11rem;">Clear Back Order/In-Transit</button></td>
               
                    </tr>
                </table>
        </fieldset>

        <div class="center">
            <!-- <br> -->
           <div class="center" formArrayName="orderList">

                <div class="grid_scroll">

                 <table style="width: 100%; border: solid 1px Gray" class="auto-style4"
                              cellspacing="0" cellpadding="4" rules="all" class="center">

                              <thead>
                                <tr class="GridHeader">
                                      <th style="width:4rem" scope="col">Srl&nbsp;No.</th>
                                      <th style="width:8rem" scope="col">Part&nbsp;No</th>
                                      <th style="width:15rem" scope="col">Description</th>
                                      <th style="width:6rem" scope="col">Curr Qty</th>
                                      <th style="width:6rem" scope="col">Order Qty</th>
                                      <th style="width:8rem" scope="col">Order Value</th>
                                      <th style="width:8rem" scope="col">Consumption</th>
                                      <th style="width:8rem" scope="col">Avg Consumption</th>
                                      <th style="width:8rem" scope="col">Dead Stock</th>
                                     <th style="width:2rem" scope="col">Add+</th>
                                      <th style="width:2rem" scope="col">Del-</th>
                                  </tr>
                              </thead>

                              <tr *ngFor="let group of lineDetailsArray().controls; let i= index" [formGroupName]="i" >

                                <input  hidden style="width:5rem;"  type="number" formControlName="itemId" class="form-control">
                               
                                <td style="text-align: center;width: 4rem;">{{i+1}}</td>
                                <td> <input  disabled style="width:8rem;"   type="text" formControlName="segment"  class="form-control"></td>
                                <td> <input  disabled style="width:15rem;"  type="text" formControlName="description" class="form-control"></td>
                                <td> <input  disabled style="width:6rem;"  type="number" formControlName="currQty" class="form-control"></td>
                                <td> <input   style="width:6rem;background-color: yellow;"   type="number" formControlName="orderQty" class="form-control"></td>
                                <td> <input  disabled style="width:8rem;"  type="number" formControlName="orderValue" class="form-control"></td>
                                <td> <input  disabled style="width:8rem;"  type="number" formControlName="consumption" class="form-control"></td>
                                <td> <input  disabled style="width:8rem;"  type="number" formControlName="avgConsumption" class="form-control"></td>
                                <td> <input  disabled style="width:8rem;"  type="number" formControlName="deadStock" class="form-control"></td>
                               
                                <td><button  type="submit" class="btn btn-info" (click)="addRow(i)"  style="width: min-content;"><i class="fa fa-plus"></i></button>  </td>
                                <td><button  type="submit" class="btn btn-info" (click)="RemoveRow(i)"  style="width: min-content;"><i class="fa fa-trash"></i></button>  </td>
                                <!-- (keydown.shift.arrowdown)="addRow(i)" -->
                            </tr>



                 </table>
                </div>
           </div>
        </div>

        <table class="center">
            <tr>
                <div *ngIf="displayButton; then thenBlock1; else elseBlock1"></div>
                <ng-template #thenBlock1>
                <td> <button type="submit" class="btn btn-info" id="register" (click)="newMast()">Create</button></td>
                <td> <button type="submit" class="btn btn-info" id="register" (click)="newMast()">Update</button></td>
                <td> <button type="submit" class="btn btn-info" id="register" (click)="newMast()">Cancel</button></td>
                <td> <button type="submit" class="btn btn-info" id="register" (click)="newMast()">Print</button></td>
                <!-- <td> <button type="submit" class="btn btn-info" id="register" (click)="searchMast(0)">Search</button></td> -->
                <td> <button type="submit" class="btn btn-info" id="register" (click)="resetMast()">Reset</button></td>
                <td> <button type="submit" class="btn btn-info" id="register" (click)="closeMast()">Close</button></td>
               
                </ng-template>
                <ng-template #elseBlock1>
                    <td> <button disabled type="submit" class="btn btn-info" id="register" (click)="newMast()">Save</button></td>
                    <!-- <td> <button type="submit" class="btn btn-info" id="register" (click)="searchMast(0)">Search</button></td> -->
                    <td> <button type="submit" class="btn btn-info" id="register" (click)="resetMast()">Reset</button></td>
                    <td> <button type="submit" class="btn btn-info" id="register" (click)="closeMast()">Close</button></td>
                </ng-template>
                
            </tr>
        </table>




        </div>
        </div>




    </div>
</form>