<form [formGroup]="reversalOrderForm" (ngSubmit)="reversalOrder(reversalOrderForm.value)">
    <table style="width: 100%;background-color: rgb(255, 255, 255);">
        <tr>
            <td colspan="4" class="PageHeader" style="width: 100%;">
                &nbsp;Reversal&nbsp;Order&nbsp;
            </td>       
        </tr>
    </table>
    <table style="background-color:#FFE4B5;width: 100%;" class="center">
        <tr>
            <td  style="background-color: #FFE4B5;">
                &nbsp;Order&nbsp;No&nbsp;&nbsp;
            </td>
            <td style="background-color: #FFE4B5;">
                <input class="form-control" formControlName="orderNumber" [(ngModel)]='orderNumber'
                    value={{orderNumber}}>
            </td>
            <td style="background-color: #FFE4B5;">
                <button type="button" class="btn-primary" (click)="OrderFind(orderNumber)" style="width: 2rem;"><i class="fa fa-search"
                        aria-hidden="true"></i></button>
            </td>
            <td style="background-color: #FFE4B5;">
                &nbsp;Sales&nbsp;Invoice&nbsp;No&nbsp;:&nbsp;
            </td>
            <td style="background-color: #FFE4B5;">
                <input class="form-control" formControlName="orderNumber" [(ngModel)]='orderNumber'
                    value={{orderNumber}}>
            </td>
            <td style="background-color: #FFE4B5;">
                <button type="button" class="btn-primary" (click)="OrderFind(orderNumber)" style="width: 2rem;"><i class="fa fa-search"
                        aria-hidden="true"></i></button>
            </td>
            <td  style="background-color: #FFE4B5;">
                &nbsp;Credit/Debit&nbsp;Memo&nbsp;:&nbsp;
            </td>
            <td style="background-color: #FFE4B5;">
                <input class="form-control" formControlName="orderNumber" [(ngModel)]='orderNumber'
                    value={{orderNumber}}>
            </td>
            <td style="background-color: #FFE4B5;">
                <button type="button" class="btn-primary" (click)="OrderFind(orderNumber)" style="width: 2rem;"><i class="fa fa-search"
                        aria-hidden="true"></i></button>
            </td>
        </tr>
    </table>
    <div class="center" style="width: 100%;">
        <div class="form-bg">
            <div class="grid_scroll">
               
            </div>
        </div>
    </div>
</form>
