/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
 :root {
   --blue: #2c3e50;
   --indigo: #6610f2;
   --purple: #6f42c1;
   --pink: #e83e8c;
   --red: #e74c3c;
   --orange: #fd7e14;
   --yellow: #f39c12;
   --green: #18bc9c;
   --teal: #20c997;
   --cyan: #3498db;
   --white: #fff;
   --gray: #95a5a6;
   --gray-dark: #343a40;
   --primary: #2c3e50;
   --secondary: #95a5a6;
   --success: #18bc9c;
   --info: #3498db;
   --warning: #f39c12;
   --danger: #e74c3c;
   --light: #ecf0f1;
   --dark: #7b8a8b;
   --breakpoint-xs: 0;
   --breakpoint-sm: 576px;
   --breakpoint-md: 768px;
   --breakpoint-lg: 992px;
   --breakpoint-xl: 1200px;
   --font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
 } */
 
 /* *,
 *::before,
 *::after {
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
 }
 
 html {
   font-family: sans-serif;
   line-height: 1.15;
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }
 
 article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
   display: block;
 }
 
 body {
   margin: 0;
   font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 0.9375rem;
   font-weight: 400;
   line-height: 1.5;
   color: #212529;
   text-align: left;
   background-color: #fff;
 }
 
 [tabindex="-1"]:focus:not(:focus-visible) {
   outline: 0 !important;
 }
 
 hr {
   -webkit-box-sizing: content-box;
           box-sizing: content-box;
   height: 0;
   overflow: visible;
 }
 
 h1, h2, h3, h4, h5, h6 {
   margin-top: 0;
   margin-bottom: 0.5rem;
 }
 
 p {
   margin-top: 0;
   margin-bottom: 1rem;
 }
 
 abbr[title],
 abbr[data-original-title] {
   text-decoration: underline;
   -webkit-text-decoration: underline dotted;
           text-decoration: underline dotted;
   cursor: help;
   border-bottom: 0;
   text-decoration-skip-ink: none;
 }


 */

.PageHeader {
    font-size:large;
    font-weight: bold;
    margin: 0;
    height: 22px;
    font-family: Verdana,Sans-serif, Arial, Helvetica;
    vertical-align: middle;
    text-align: center;
    padding: 2px;
    color: white;
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
}

.PageHeader1 {
    font-size:large;
    font-weight: bold;
    margin: 0;
    height: 22px;
    font-family: Verdana,Sans-serif, Arial, Helvetica;
    vertical-align: middle;
    text-align: center;
    padding: 2px;
    color: white;
    background-image: linear-gradient(#d7e8f1, #cee7f5 60%, #daf0fc);
  
}

.LabelFontStyle {
    font-family: Verdana,Sans-serif, Arial, Helvetica;
    font-weight: normal;
    color: Black;
    font-size: 11px;
    text-align: right;
    vertical-align: middle;
    padding-top: 0px;
    padding-bottom: 0px;
    border-color: Gray;
    height: 15px;
  }

  

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  td{
    padding: 0px;
  }
  
  span{
    font-size: xx-small;
    color:red;
    position: absolute;
  }
  

  .auto-style103{
    margin: 1px auto;
    border: 1px solid #1d9ce5;
    padding-bottom: 10px;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 7px;
    -webkit-border-radius: 7px;
    border-radius: 3px;
    /* box-shadow: 2px 10px 15px #f5f2f0 inset; */
    min-height: 30px;
    /* background-color: #f0d4cb; */
    }

  
.grid_scroll{
    overflow: auto;
    /* width: 800px; */
    width: 100%;
    height: 200px;
    /* width: 100%; */
}

/* .grid_scroll1{
  overflow: auto;
  width: 50%;
  height: 200px;
} */

.classic-tabs{
  width: 100%;
}

ul li{
  padding: 0px;
}
      
i{
  height: 7px;
  background-color: white;
}
      
      
  
button{
    width: 5em;
    background-image: linear-gradient(#cce2ee, #99cae5 60%, #83c9f1);
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3rem;
    height: 22px;
    font-size: 11px;
    vertical-align: middle;
    text-align: center;
    line-height: 10px;   
}

.modal {
width: 40rem;
margin-left: 30%;
      }
      
.GridFont{
        font-family: "Calibri";
        font-size: 11px;
        color: Black;
        background-color: #eeeeee;
        width: 100%;
        }


    
.GridHeader {
        border-top-width: 1px;
        border-style: solid;
        border-top-color: rgb(217,0,25);
        border-left: none;
        border-right: none;
        height: 25px;
        padding: 0px 10px 0px 10px;
        font-family: Verdana,Sans-serif, Arial, Helvetica;
        font-size: 9px;
        text-align: center;
        color: #1F2436;
        background-color: #fff;
        border-bottom: 2px solid rgb(158, 155, 155);
          }

.ItemStyle {
        padding: 0px 10px 0px 10px !important;
        height: 23px;
        font-family: "Calibri";
        font-family: "Calibri";
        color: Black;
        font-size: small;
           }
