body {
  overflow-x: hidden;
}
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}
#sidebar-wrapper .list-group {
  width: 15rem;
}
#page-content-wrapper {
  min-width: 100vw;
}
#wrapper.toggled #sidebar-wrapper {
  margin-left: 0px;
}
@media (min-width: 785px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

 .container-fluid{
  background-image: url(src\assets\images\flower-WaterMark.gif);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
} 
  #menu-toggle{
    border: none;
  }


  
.dropdown-submenu {
    position:relative;
  }
  

a{
  cursor: pointer;
}

/* 
.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
  
}
.dropdown-submenu {
  position:relative;
} */

li{
  display: block;
}



/* .dropdown-submenu {
  position: relative;
} */

/* .dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 8px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
} */


.bajajlogo{
  margin-left: auto;
  margin-right: auto;
}

.modal-dialog {
  max-width: 1200px;
  margin: 0 auto;
  /* vertical-align: top; */
  /* display: inline-block;  */
  text-align: left; 
}

.modal-dialog-pop {
  max-width: 750px;
  margin: 0 auto;
  
  /* vertical-align: top; */
  /* display: inline-block;  */
  text-align: left; 
}

.auto-style4
{
    color:#333333;
    font-family:Verdana;
    font-size:small;
    height:16px;
    width: 100%;
    text-align: left; 
    margin-right:0px; 
    margin-left: 0px;
    border-color: #35357c;
    border-style: ridge;

}

.grid_scroll_3{
    overflow: auto;
    /* width: 800px; */
    width: 100%;
    height: 260px;
    width: 100%;
  }

  .grid_scroll_2{
    overflow: auto;
    /* width: 800px; */
    width: 100%;
    height: 150px;
    width: 100%;
  }


  legend {
    display: block;
    padding-inline-start: 1px;
    padding-inline-end: 1px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    width: fit-content;
}



fieldset {
    display: block;
    margin-inline-start: .30px;
    margin-inline-end: 1px;
    padding-block-start: 0.15em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 10px;
    border-style:solid;
    border-color: threedface;
    border-image: initial;
}

.RFS legend {
    font-size: 1em;
    letter-spacing: 0.05em;
    color: #000 !important;
    
    padding: 2px 5px;
    background: #fefeff;
    border-radius: 3px;
    border: #608cb0 solid 1px;
}

.RFS {
    margin: 1px auto;
    border: 1px solid #608cb0;
    /* padding-bottom: 10px; */
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 7px;
    -webkit-border-radius: 7px;
    border-radius: 3px;
    /* box-shadow: 2px 10px 15px #ececec inset; */
    min-height: 30px;
    /* background-color: #fefeff; */
    /* width: 100%; */
}

.form-control {
  font-family: Verdana,Sans-serif, Arial, Helvetica;
  font-size: 12px;
  outline: medium none;
  padding: 3px;
  vertical-align: top;
  width:125px;
  height: 50%;
  border-color: rgb(126, 116, 116);
 /* box-shadow: 5px 5px 8px rgb(13, 13, 19); */
}