<div class="d-flex" id="wrapper">
  <div class="bg-light border-right" id="sidebar-wrapper">
    <li class="nav-item dropdown">
      <a  class="list-group-item list-group-item-action bg-light" (click)="dashboard()">&nbsp;&nbsp;Dashboard&nbsp;&nbsp;</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        All Masters
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Master</a>
          <ul class="dropdown-menu">
            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Common Master</a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" [routerLink]="['/admin/master/division']">Division Master</a>
                </li>
                <li><a class="dropdown-item" [routerLink]="['/admin/master/orgMaster']">Operating Unit Master</a> </li>
                 <li><a class="dropdown-item" [routerLink]="['/admin/master/locatioMaster']">Location Master</a></li>
                <li><a class="dropdown-item" [routerLink]="['/admin/master/companyMaster']">Company Master</a></li>
                <li><a class="dropdown-item" [routerLink]="['/admin/master/CommonMaster']">Common Lookup Master</a></li>
                <li> <a class="dropdown-item" [routerLink]="['/admin/master/HsnSacMaster']">Hsn/Sac Master</a> </li>
                <li> <a class="dropdown-item" [routerLink]="['/admin/master/FlexField']">FlexField Master</a> </li>
                <li> <a class="dropdown-item" [routerLink]="['/admin/master/DocumentSequenceMaster']">Document Sequence Master</a></li>
                <li> <a class="dropdown-item" [routerLink]="['/admin/master/EmployeeMaster']">Employee Master</a> </li>   
                <li> <a class="dropdown-item" [routerLink]="['/admin/master/pricelistMaster']">Pricelist Master</a> </li>
              </ul>
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Items Master</a>
              <ul class="dropdown-menu">
                <li> <a class="dropdown-item" [routerLink]="['/admin/master/ItemCategory']">Item Category master</a></li>
                <li> <a class="dropdown-item" [routerLink]="['/admin/master/ItemMaster']">Item Master</a>  </li>
                <li> <a class="dropdown-item" [routerLink]="['/admin/master/LocatorMaster']">Locator Master</a> </li> 
              </ul>
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Supplier Master</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" [routerLink]="['/admin/master/suplierMaster']">Supplier Master</a>  </li>
                <li><a class="dropdown-item" [routerLink]="['/admin/master/GlCodeCombination']">GlCodeCombination Master</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Customer Master</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" [routerLink]="['/admin/master/customerMaster']">Customer Master</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">OM Master</a>
              <ul class="dropdown-menu">
                <li> <a class="dropdown-item" [routerLink]="['/admin/master/OMGRP']">Group Master</a> </li>
              </ul>
            </li>
            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Tax Master</a>
              <ul class="dropdown-menu">
                <li> <a class="dropdown-item" [routerLink]="['/admin/master/JaiRegimeMaster']">Jai-Regime Master</a> </li>
          <li> <a class="dropdown-item" [routerLink]="['/admin/master/TaxAccounts']">Tax Accounts Master</a>  </li>
          <li> <a class="dropdown-item" [routerLink]="['/admin/master/taxCategoryMaster']">Tax Category Master</a> </li> 
          <li> <a class="dropdown-item" [routerLink]="['/admin/master/JaiTaxCategoryLine']">Jai Tax Category Line Master</a> </li>
          <li> <a class="dropdown-item" [routerLink]="['/admin/master/JaiTaxType']">Jai Tax Type Master</a> </li>
          <li> <a class="dropdown-item" [routerLink]="['/admin/master/jaiTaxRatesMaster']">Jai Tax Rates Master</a> </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
 <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Transactions
  </a> 
  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <!-- <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Module</a> -->
      <!-- <ul class="dropdown-menu"> -->
        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Purchase</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/admin/master/OPMasterDto']">Purchase Order</a></li>
            <li><a class="dropdown-item" [routerLink]="['/admin/master/PoReceiptForm']">PO Receipt</a></li>
            <li><a class="dropdown-item" [routerLink]="['/admin/transaction/PoInvoice']">PO Invoice</a></li>
            <li><a class="dropdown-item" [routerLink]="['/admin/transaction/TdsInvoice']">TDS Invoice</a></li>
            <li><a class="dropdown-item" [routerLink]="['/admin/transaction/Payment']">Payment</a></li>
            <!-- <li><a class="dropdown-item" [routerLink]="['/admin/bank/newBank']">Bank Account creation</a></li>  
            <li><a class="dropdown-item" [routerLink]="['/admin/bank/bankBranch']">Bank Branch creation</a></li> 
            <li><a class="dropdown-item" [routerLink]="['/admin/bank/BankAccUses']">Create Bank Account Use</a></li> -->
          </ul>
        </li>
        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Inventory</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/admin/transaction/MoveOrder']">Move Order</a></li>
            <li><a class="dropdown-item" [routerLink]="['/admin/transaction/stockTransfer']">Stock Transfer</a></li>
          </ul>
        </li>
        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Bank</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/admin/bank/newBank']">Bank Account creation</a></li>  
            <li><a class="dropdown-item" [routerLink]="['/admin/bank/bankBranch']">Bank Branch creation</a></li> 
            <li><a class="dropdown-item" [routerLink]="['/admin/bank/BankAccUses']">Create Bank Account Use</a></li>
            <li><a class="dropdown-item" [routerLink]="['/admin/OrderManagement/salesOrderBooking']">Sales Order Booking</a></li>
          </ul>  
          </li>   

      <!-- </ul> -->
    <!-- </li> -->
  </ul>
</li>  


    <div class="list-group list-group-flush">
      <!-- <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a> -->
      <!-- <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a> -->
      <!-- <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a> -->
      <!-- <a href="#" class="list-group-item list-group-item-action bg-light">Events</a> -->
      <!-- <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a> -->
      <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
    </div>
  </div>
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button  id="menu-toggle">
        <i class="fa fa-hand-o-left" aria-hidden="true"></i>
      </button>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <img id="sailogo" src="assets\images\Footer.jpg" style="width: 95%">
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-item" (click)="close()" style="color: blue;"><u>Logout</u></a>
           <div >
            <table style="width: 100%;">
            <tr>
              <td style="font-size: 11px;color: blue;width: 80px;">
                Login&nbsp;As&nbsp;&nbsp;: 
              </td>
              <td style="font-size: 11px;color: black;font-weight: bold;text-align: left;">{{ticketNo}}</td>
            </tr>
            </table>
           </div>
          </li>
        </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>

