<form [formGroup]="poPendingListForm" (ngSubmit)="poPendingList(poPendingListForm.value)">
    <table style="width: 100%;background-color: white;">
        <tr>
            <td class="PageHeader">
                Purchase&nbsp;Order&nbsp;List&nbsp;
            </td>
        </tr>
    </table>
    <!-- <br> -->
   <!-- <div class="grid_scroll"> -->
    <div class="col-md-12 table-responsive" #epltable>
        <div style="padding-bottom: 10px;padding-top: 10px;">
            <div class="row">
                <div class="col-sm-12">
                    <button (click)="exportToExcel()" class="btn btn-success" style="width: fit-content;">Export To Excel</button>
                </div>
            </div>
        </div>
        <table class="center" style="width: 100%;background-color: #FFE4B5;">
            <tr>
                <td>
                    <table class="center">
                        <tr>

                            <td>From&nbsp;Date&nbsp;</td>&nbsp;
                            <td>
                                <input type="date" class="form-control" formControlName="startDt" 
                                value={{startDt}}  max="{{minDate | date:'yyyy-MM-dd'}}">
                            </td>

                            <td>To&nbsp;Date&nbsp;</td>&nbsp;
                            <td>
                                <input type="date" class="form-control" formControlName="endDt" 
                                value={{endDt}} max="{{minDate | date:'yyyy-MM-dd'}}">
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary" id="search" (click)="getPO()">
                                    Get&nbsp;PO&nbsp;List
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <div *ngIf="closeResetButton; then hList1; else hList2"></div>
                            <ng-template #hList2> 
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-border text-primary" role="status" >
                                          <span class="sr-only" id="loading"></span>
                                   
                                    </div>
                                </div>
                          </ng-template>
                          <ng-template #hList1> </ng-template>
                           <!-- </td> -->
                           <td class="LabelFontStyle" style="color: blue;width: fit-content;" colspan="4">&nbsp;{{dataDisplay }}&nbsp; </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br>
        <div class="grid_scroll">
        <table  class="GridFont"  style="border-color:#959595;border-collapse:collapse;width: 100%;">
            <tr class="GridHeader" style="font-size: 14px;">
                <th >PO No.</th>
                <th >PO Date</th>
                <th >Supp Invoice No.</th>
                <th >Supp Inv Date</th>
                <th >GRR No.</th>
                <th >GRR Date</th>
                <th >Base Amt</th>
                <th >Tax Amt</th>
                <th >Total Amt</th>
                <th>PO Status</th>

            </tr>
            <tr *ngFor="let com of poDetails ; let i= index" class="ItemStyle" style="text-decoration:none;font-size: 14px;">
                <td style="border: 1px solid #000000;padding-left: 5px;padding-top: 10px;">
                    <a [routerLink]="['/admin/master/OPMasterDto',com.segment1]"
                        href="{{segment1}}">{{com.segment1}}</a>
                </td>
                <td style="padding-left: 5px; text-align: center;">{{com.poDate}}</td>
                <td style="padding-left: 5px; text-align: center;">{{com.suppInvNo}}</td>
                <td style="padding-left: 5px; text-align: center;">{{com.suppInvDate}}</td>
                <td *ngIf="isPending[i]" style="padding-left: 5px; text-align: center; background-color:orangered ;" >
                    {{com.rcvLines[0].receiptNo}}
                </td>
                    <td *ngIf="!isPending[i]" style="padding-left: 5px; text-align: center;">
                     {{com.rcvLines[0].receiptNo}}
                    </td>              
                 
                <td style="padding-left: 5px; text-align: center;">
                    {{com.rcvLines[0].receiptDate}}</td>
                <td style="padding-left: 5px; text-align: right;">{{com.baseAmount}}&nbsp;&nbsp;
                </td>
                <td style="padding-left: 5px; text-align: right;">{{com.totTaxAmt}}&nbsp;&nbsp;
                </td>
                <td style="padding-left: 5px; text-align: right;">{{com.totalAmt}}&nbsp;&nbsp;
                </td>
                <td style="padding-left: 5px; text-align: center;">{{com.authorizationStatus}}
                </td>

            </tr>
        </table>
        </div>
    </div>
    <!-- </div> -->
    
    <table class="center">
        <tr>
            <td>
                <button type="submit" class="btn btn-primary" id="register" (click)="refresh()">
                    Clear
                </button>
            </td>
            <td>
                <button type="submit" (click)="close()" class="btn btn-primary">Close</button>
            </td>
        </tr>
    </table>
</form>