<form [formGroup]="closingStockForm" (ngSubmit)="closingStock(closingStockForm.value)">
    <table style="width: 100%;background-color: white;">
        <tr>
            <td class="PageHeader">
                Closing&nbsp;Stock&nbsp;
            </td>
        </tr>
    </table>
    <div class="col-md-12 table-responsive" #epltable>
        <div style="padding-bottom: 10px;padding-top: 10px;">
            <div class="row">
                <div class="col-sm-12">
                    <button (click)="exportToExcel()" class="btn btn-success" style="width: fit-content;">Export To
                        Excel</button>
                </div>
            </div>
        </div>
        <div class="grid_scroll">
            <table class="GridFont" style="border-color:#494949;border-collapse:collapse;width: 100%;">
                <tr class="GridHeader" style="font-size: 11px;">
                    <th> Chassis Item</th>
                    <th> Chassis No</th>
                    <th> Engine No</th>
                    <th>Variant</th>
                    <th>Model</th>
                    <th>Color</th>
                    <th>Aging</th>
                    <th>Date Of Purchase</th>
                    <th>Dealer Code</th>
                    <th>Hold Reason</th>
                    <th>Two Tone</th>
                    <th> Taxi</th>
                </tr>
                <tr *ngFor="let com of closingStockDetails ; let i= index" class="ItemStyle" style="text-decoration:none;font-size: 11px;">
                    <td style="padding-left: 5px;padding-top: 10px;"> {{com.itemName}} </td>
                    <td style="padding-left: 5px;padding-top: 10px;"> {{com.chassisNo}} </td>
                    <td style="padding-left: 5px;padding-top: 10px;"> {{com.engineNo}} </td>
                    <td style="padding-left: 5px;padding-top: 10px;"> {{com.variant}} </td>
                    <td style="padding-left: 5px;padding-top: 10px;"> {{com.Model}} </td>
                    <td style="padding-left: 5px;padding-top: 10px;"> {{com.color}}</td>
                    <td style="padding-left: 5px;padding-top: 10px;"> {{com.aging}}</td>
                    <td style="padding-left: 5px;padding-top: 10px;"> {{com.dateOfPurchase}}</td>
                    <td style="padding-left: 5px;padding-top: 10px;"> {{com.dealerCode}}</td>
                    <td style="padding-left: 5px;padding-top: 10px;"> {{com.holdReason}}</td>
                    <td style="padding-left: 5px;padding-top: 10px;"> {{com.twoTone}}</td>
                    <td style="padding-left: 5px;padding-top: 10px;"> {{com.taxi}}</td>
            </table>
        </div>
    </div>
    <table class="center">
        <tr>
            <td>
                <button type="submit" class="btn btn-primary" id="register" (click)="refresh()">
                    Clear
                </button>
            </td>
            <td>
                <button type="submit" (click)="close()" class="btn btn-primary">Close</button>
            </td>
        </tr>
    </table>
</form>