<div class="center">
    <table style="width: 100%;background-color: white;">
        <tr>
            <!-- class="PageHeader" -->
            <td colspan="4" class="PageHeader" style="width: 100%;" >
                &nbsp;&nbsp;Common&nbsp;Master
            </td>
        </tr>
    </table>
    <div class="center" style="width: 100%;">
        <div class="form-bg">
            <form [formGroup]="commonMasterForm" (ngSubmit)="commonMaster(commonMasterForm.value)" id="form_1" >
                <table class="center">
                    <tr>
                    <td style="width: 15%" class="LabelFontStyle">Common&nbsp;Type&nbsp;:&nbsp;</td>
                    <td>
                        <input formControlName="cmnType" [(ngModel)]='cmnType' value={{cmnType}} class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.cmnType.errors }"
                                        placeholder="Enter common type">
                                    <div *ngIf="submitted && f. cmnType.errors" class="invalid-feedback">
                                        <div *ngIf="f.cmnType.errors.required">Enter common type</div>
                                        <!-- <div *ngIf="f.divisionCode.errors?.pattern">orgId must be a valid for 3 digit
                                </div> -->
                                        <div *ngIf="f.cmnType.errors?.maxLength">Enter common type
                                        </div>
                                    </div>
                                    <span
                                        *ngIf="!commonMasterForm.get('cmnType').valid && commonMasterForm.get('cmnType').touched">
                                        Enter common type </span>
                    </td>
                    <td style="width: 15%" class="LabelFontStyle">Common&nbsp;Description&nbsp;:&nbsp;</td>
                    <td>
                        <input formControlName="cmnDesc" [(ngModel)]='cmnDesc' value={{cmnDesc}} class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.cmnDesc.errors }"
                        placeholder="Enter common Description">
                    <div *ngIf="submitted && f. cmnDesc.errors" class="invalid-feedback">
                        <div *ngIf="f.cmnDesc.errors.required">Enter common Description</div>
                        <!-- <div *ngIf="f.divisionCode.errors?.pattern">orgId must be a valid for 3 digit
                </div> -->
                        <div *ngIf="f.cmnDesc.errors?.maxLength">Enter common Description
                        </div>
                    </div>
                    <span
                        *ngIf="!commonMasterForm.get('cmnDesc').valid && commonMasterForm.get('cmnDesc').touched">
                        Enter common Description </span>
                       </td>
                    </tr>
                    <tr>
                        <td style="width: 15%" class="LabelFontStyle">Application&nbsp;:&nbsp;</td>
                        <td>
                         <select formControlName="application" id="application" class="form-control">
                             <option>--Select--</option>
                             <option *ngFor="let sc of  applicationList">
                                 {{sc.application}}
                             </option>
                         </select>
                         <div *ngIf="submitted && f. ouId.errors" class="invalid-feedback">
                             <div *ngIf="f.application.errors.required">Select Application</div>
                             <span
                                 *ngIf="!commonMasterForm.get('application').valid && commonMasterForm.get('application').touched">Please
                                 Enter valid OU Id </span>
                         </div>
                        </td>
                         <td style="width: 15%" class="LabelFontStyle">Division&nbsp;:&nbsp;</td>
                         <td>
                             <select formControlName="divisionId" id="divisionId" class="form-control">
                                 <option>--Select--</option>
                                 <option *ngFor="let sc of  DivisionIDList"  [value]="sc.divisionId">
                                     {{sc.divisionName}}
                                 </option>
                             </select>
                             <div *ngIf="submitted && f.divisionId.errors" class="invalid-feedback">
                                 <div *ngIf="f.divisionId.errors.required">Division Name is required</div>
                                 <span
                                     *ngIf="!commonMasterForm.get('divisionId').valid && commonMasterForm.get('divisionId').touched">Please
                                     Enter valid Division Name </span>  
                                     </div>          
                         </td>
                         <td>
                             
                         </td>
                    </tr>
                </table>
                <table class="center">
                    <tr >
                       <td><button type="submit" class="btn btn-primary" id="register"
                            (click)="saveComnMast()">Save</button></td>
                        <td><button type="submit" class="btn btn-primary" id="register"
                           >Reset</button></td>
                        <td><button type="submit" class="btn btn-primary" >close</button></td>
                    </tr>
                </table>
                <br>
                <table style="width: 100%; background-color: #FFE4B5;">
                    <tr>
                        <td style="width: 15%;" class="LabelFontStyle">Common&nbsp;Type&nbsp;:&nbsp;</td>
                        <td >
                            <select formControlName="cmnType" id="cmnType" class="form-control">
                                <option>--Select--</option>
                                <option *ngFor="let sc of  cmnTypeList">
                                    {{sc.cmnType}}
                                </option>
                            </select>
                        </td>
                        <td style="width:100% ;" colspan="8" >
                            <button type="submit" class="btn btn-primary" id="register"
                                   (click)="searchCmnMst($event)">Search</button>
                        </td> 
                        </tr>
                </table>
                <br>
                <!-- <table class="auto-style4" class="GridFont" cellspacing="0" cellpadding="4" border="0" id="ctl00_cpForm_grdActions" style="border-color:#959595;width:100%;border-collapse:collapse;"> -->
                    <table>
                    <tbody>
                     <tr class="GridHeader">
                         <th scope="col">Code</th>
                         <th scope="col">Meaning</th>
                         <th scope="col">Description</th> 
                         <th scope="col">Active Date</th>
                         <th scope="col">Inactive Date</th>
                         <th scope="col">Select one</th>
                     </tr>   
                    </tbody>
                    <!-- <tr ></tr> class="ItemStyle" style="text-decoration:none;"> -->
                    <tr>
                        <td> <input formControlName="code" [(ngModel)]='code' value={{code}} class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.cmnType.errors }"
                            placeholder="Enter code"> </td>
                     <td><input formControlName="codeDesc" [(ngModel)]='codeDesc' value={{codeDesc}} class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.cmnType.errors }"
                        placeholder="Enter code Description "></td>
                     <td><input formControlName="codeDesc" [(ngModel)]='codeDesc' value={{codeDesc}} class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.cmnType.errors }"
                        placeholder="Enter code Description "></td>
                     <td><input type="date" formControlName="startDate" class="form-control"
                        placeholder="Enter start Date" min="{{minDate | date:'yyyy-MM-dd'}}" ></td>
                     <td><input type="date" formControlName="startDate" class="form-control"
                        placeholder="Enter End Date" min="{{minDate | date:'yyyy-MM-dd'}}" ></td>
                     <!-- <td></td> -->
                     <td>
                     <!-- Trigger the modal with a button -->
                     <button type="button" data-toggle="modal" data-target="#myModal">
                         ...
                       </button>
                     <!-- The Modal -->
                 <div class="modal fade" id="myModal">
                 <div class="modal-dialog modal-dialog-centered">
                 <div class="modal-content">
                 
                 <!-- Modal Header -->
                 <div class="modal-header">
                 <label style="text-align: center;font-size: small;font-family: Verdana, Geneva, Tahoma, sans-serif;
                 color: black;">
                 Additional Information
                 </label>
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 </div>
                 
                 <!-- Modal body -->
                 <div class="modal-body">
                 <table>
                 <tr>
                 <td>
                 <label>
                 Service&nbsp;Vehicle&nbsp;Code&nbsp;:&nbsp;
                 </label>
                 </td>
                 <td>
                 <input type="text" class="form-control">
                 </td>
                 </tr>
                 <tr>
                 <td>
                 <label>
                 Service&nbsp;Sub&nbsp;Code&nbsp;:&nbsp;
                 </label>
                 </td>
                 <td>
                 <input type="text" class="form-control">
                 </td>
                 </tr>
                 <tr>
                 <td>
                 <label>
                 Credit&nbsp;Note&nbsp;Item&nbsp;:&nbsp;
                 </label>
                 </td>
                 <td>
                 <input type="text" class="form-control">
                 </td>
                 </tr>
                 </table>
                 </div>
                 
                 <!-- Modal footer -->
                 <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="addRow()">Ok</button>
                 </div>
                 
                 </div>
                 </div>
                 </div>                                    
                 </td>
                 </tr>    
                     </table>
                     <ng-container *ngIf="commonMasterForm.controls.itemRows!=null"> 
                         <div class="container1" *ngFor="let itemRows of commonMasterForm.controls.itemRows.controls;let i=index" [commonMasterForm]='1'>                       
                         </div>  
                     </ng-container>  
                                     <button type="button"  [disabled]="commonMasterForm.invalid" (click)="addRow()" class="btn btn-primary">
                                         Add Row
                                     </button>
            </form>
        </div>
    </div>
</div>
<br>
<div class="container1">
 
</div>