    <table style="width: 100%;background-color: white;">
        <tr>
            <td class="PageHeader">
                &nbsp;&nbsp;AR&nbsp;PAYMENT&nbsp;RECEIPT&nbsp;&nbsp;
            </td>
        </tr>
    </table>
<div class="center" style="width: 100%;">
     <form [formGroup]="paymentArForm" (ngSubmit)="paymentAr(paymentArForm.value)">
        <table class="center">
         <tr>
            <td> <input  hidden style="width:30px ;" type="number" formControlName="orgId" class="form-control" > </td>
            <td> <input hidden style="width:30px ;" type="number" formControlName="divisionId" class="form-control" > </td>
            <td> <input hidden style="width:30px ;" type="number" formControlName="locationId"  class="form-control" placeholder="Location Name"> </td>
            <td> <input hidden style="width:30px ;" type="number" formControlName="locId"  class="form-control" placeholder="Location Name"> </td>
            <td> <input hidden  style="width:50px ;" type="number" formControlName="emplId" class="form-control"  placeholder=""></td>
            <td> <input hidden style="width:30px ;" type="number" formControlName="customerId"  id="customerId"  class="form-control"></td>
            <td> <input hidden  style="width:30px ;" type="number" formControlName="ouId"  id="ouId"  class="form-control"></td>
            <td> <input hidden  style="width:30px ;" type="number" formControlName="deptId" id="deptId"  class="form-control"></td>
            <td> <input hidden  type="number" formControlName="cashReceiptId" ></td>
         </tr>
        </table>
        <fieldset class="RFS">
        <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 10px;color: black;">Customer&nbsp;Details </legend>
        <table class="center">
            <tr>
            <td style="width: 15%" class="LabelFontStyle">Operating&nbsp;Unit:&nbsp;</td>
            <td>
            <input readonly type="text" autofocus formControlName="ouName"  class="form-control" />
            </td>
            <div *ngIf="accountsLogin ,then act1; else act2"> </div>
            <ng-template #act1>
            <td style="width: 15%" class="LabelFontStyle">Location&nbsp;:&nbsp;</td>
            <td>
            <select formControlName="locId" id="locId" [(ngModel)]="locId" class="form-control" style="width: 300px;background-color:yellow;">
            <option disabled>--Select--</option>
            <option *ngFor="let sc of locIdList" [ngValue]="sc.locId"> {{sc.locCode}}-{{sc.locName}}</option>
            </select>
            </td>
            <td style="width: 15%" class="LabelFontStyle">Dept&nbsp;:</td>
            <td>
            <select formControlName="deptId" id="deptId" [(ngModel)]="deptId" class="form-control" style="background-color:yellow">
            <option disabled>--Select--</option>
            <option *ngFor="let sc of  DepartmentList" [ngValue]="sc.cmnTypeId"> {{sc.cmnTypeId}}-{{sc.code}}</option>
            </select>
            </td>
            </ng-template>
            <ng-template #act2>
            <td style="width: 15%" class="LabelFontStyle">Location&nbsp;:&nbsp;</td>
            <td>
            <input readonly   type="text" formControlName="locName" id="locName"  class="form-control">
             <input  hidden style="width:30px ;" type="number" formControlName="locId" id="locId"  class="form-control">
            </td>
            <td style="width: 15%" class="LabelFontStyle">Dept&nbsp;:</td>
            <td>
                 <input readonly   type="text" formControlName="deptName" id="deptName"  class="form-control">
             <input hidden  style="width:30px ;" type="number" formControlName="deptId" id="deptId"  class="form-control">
            </td>
            </ng-template>
            </tr>
            <tr>
            <div *ngIf="displayButton ,then blk11; else blk21" ></div>
            <ng-template #blk11>
            <td style="width: 15%" class="LabelFontStyle">Vehicle&nbsp;No:&nbsp;</td>
            <div *ngIf="fromJc ,then jc1; else jc2" ></div>
            <ng-template #jc1>
            <td>
            <input disabled type="text" autofocus formControlName="vehNo" [(ngModel)]="vehNo" (change)="serchByRegNo(vehNo)" class="form-control" />
            </td>
            </ng-template>
            <ng-template #jc2>
                <td>
            <input type="text" autofocus formControlName="vehNo" [(ngModel)]="vehNo" (change)="serchByRegNo(vehNo)" class="form-control" />
            </td>
            </ng-template>
            <td style="width: 15%" class="LabelFontStyle">Customer&nbsp;Name:&nbsp;</td>
            <td>
            <table style="width: 100%;">
            <tr>
            <div *ngIf="fromJc ,then jc11; else jc21"></div>
            <ng-template #jc11>
            <td><input disabled type="text" formControlName="custName" [(ngModel)]='custName' value={{custName}} class="form-control" style="width:260px;"
                  data-bs-toggle="modal" data-bs-target="#customerNameSearchModel">
            </td>
            </ng-template>
            <ng-template #jc21>
            <td><input type="text" formControlName="custName" [(ngModel)]='custName' value={{custName}} class="form-control" style="width:260px;"
                  data-bs-toggle="modal" data-bs-target="#customerNameSearchModel">
            </td>
            </ng-template>
            <td>
            <button type="button" class="btn btn-primary" (click)="custNameSearch(custName)" data-toggle="modal"
             data-target="#customerNameSearchModel"  style="width: 2rem;color: white;">  <i class="fa fa-search"></i> 
            </button>
            </td>
            </tr>
            </table>
            </td>
            <td style="width: 15%" class="LabelFontStyle1">Customer &nbsp;No:&nbsp;</td>
            <td>
            <table>
            <tr>
            <div *ngIf="enableCustAccount ,then thenBlockCustno; else elseBlockCustno"></div>
            <ng-template #thenBlockCustno>
            <td><input style=" background-color: yellow; text-align: left;" type="number" formControlName="custAccountNo"
                  id="custAccountNo" [(ngModel)]="custAccountNo" (change)="CustAccountNoSearch(custAccountNo)" class="form-control"> 
            </td>
            </ng-template>
            <ng-template #elseBlockCustno>
            <td> <input style="text-align: left;" disabled type="number" formControlName="custAccountNo" id="custAccountNo"
                  [(ngModel)]="custAccountNo"  (change)="CustAccountNoSearch(custAccountNo)" class="form-control">
            </td>
            </ng-template>
            </tr>
            </table>
            </td>
            </ng-template>
            <ng-template #blk21>
            <td style="width: 15%" class="LabelFontStyle">Vehicle&nbsp;No:&nbsp;</td>
            <td> <input disabled type="text" formControlName="vehNo" id="vehNo" [(ngModel)]="vehNo" class="form-control"></td>
            <td style="width: 15%" class="LabelFontStyle">Cust&nbsp;Name:&nbsp;</td>
            <td>
            <table>
            <tr>
            <td> <input style="width:260px" disabled type="text" formControlName="custName" id="custName" [(ngModel)]="custName" class="form-control"></td>
            <td>
            <button type="button" class="btn btn-primary"  (click)="custNameSearch(custName)" data-toggle="modal" data-target="#customerNameSearchModel"
            style="width: 2rem;color: white;"><i class="fa fa-search"></i> 
            </button>
            </td>
            </tr>
            </table>
            </td>
            <td style="width: 15%" class="LabelFontStyle1">Cust&nbsp;No:&nbsp;</td>
            <td> <input disabled type="number" formControlName="custAccountNo"  id="custAccountNo" [(ngModel)]="custAccountNo" class="form-control" style="text-align: left;"></td>
             </ng-template>
            </tr>
            <tr>
            <td style="width: 15%" class="LabelFontStyle1">Customer&nbsp;Site:&nbsp;</td>
            <div *ngIf="displayButton ,then site11; else site12" ></div>
            <ng-template #site11>
            <td colspan="5">
            <select type="number" formControlName="custSiteName" id="custSiteName"  [(ngModel)]="custSiteName" class="form-control"
             style="width:100% ;background-color:yellow;"(change)='onOptionsSelectedcustSiteName($event)'>
            <option *ngFor="let custSite of accountNoSearch"  [value]="custSite.siteName">  {{custSite.siteName}} </option>
            </select>
        <input disabled type="number" class="form-control" formControlName="customerSiteId" hidden
                                        [(ngModel)]='customerSiteId' value={{customerSiteId}} style="text-align:left ;">   
        </td>
            </ng-template>
            <ng-template #site12>
            <td colspan="5">
            <input disabled type="text" class="form-control"   formControlName="custSiteName" [(ngModel)]='custSiteName'  style="width: 100%;">
        <input disabled type="number" class="form-control" formControlName="customerSiteId" hidden
                                        [(ngModel)]='customerSiteId' value={{customerSiteId}} style="text-align:left ;">    
        </td>
            </ng-template>
            </tr>
        </table>
        </fieldset>
          <fieldset class="RFS">
        <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 10px;color: black;">Receipt&nbsp;Details </legend>
        <table class="center">
        <tr>
        <td style="width: 15%" class="LabelFontStyle">Receipt&nbsp;No:&nbsp;</td>
        <td> 
        <input disabled style="font-weight: bold; background-color: lightgreen;" type="text" formControlName="receiptNumber" id="receiptNumber" [(ngModel)]="receiptNumber" class="form-control">
        </td>
        <td style="width: 15%" class="LabelFontStyle">Receipt&nbsp;Date:&nbsp;</td>
        <td>
        <div *ngIf="displayglDateDisabled ,then thenglDateDisabled; else elseglDateDisabled"></div>
        <ng-template #thenglDateDisabled>
        <input disabled type="date" formControlName="receiptDate" id="receiptDate"  [(ngModel)]="receiptDate" class="form-control"  style="background-color: lightgreen;">
        </ng-template>
        <ng-template #elseglDateDisabled>
        <input type="date" formControlName="receiptDate" id="receiptDate"  [(ngModel)]="receiptDate" class="form-control">
        </ng-template>
        </td>
        <div *ngIf="displayButton ,then thenshowDet1Yes; else thenshowDet1No"></div>
        <ng-template #thenshowDet1Yes>
        <td style="width: 15%" class="LabelFontStyle">GL&nbsp;Date:&nbsp;</td>
        <td>
        <div *ngIf="displayglDateDisabled ,then thenglDateDisabled; else elseglDateDisabled"></div>
        <ng-template #thenglDateDisabled>
        <input disabled type="date" formControlName="glDate" id="glDate" [(ngModel)]="glDate" class="form-control" max="{{minDate | date:'yyyy-MM-dd'}}" (change)="glPrdValidate(glDate)">
        </ng-template>
        <ng-template #elseglDateDisabled>
        <input type="date" formControlName="glDate" id="glDate" [(ngModel)]="glDate"  class="form-control" max="{{minDate | date:'yyyy-MM-dd'}}"  (change)="glPrdValidate(glDate)">
        </ng-template>
        </td>
        <td style="width: 15%" class="LabelFontStyle1">Receipt&nbsp;Amt:&nbsp;</td>
        <td> 
        <input style="font-weight: bold;text-align: right;" type="number" min="1" formControlName="paymentAmt" id="paymentAmt" [(ngModel)]="paymentAmt" class="form-control" (change)="validateAmt(paymentAmt)" (keydown.tab)="validateAmt(paymentAmt)" (keyup)="onKey($event)" style="background-color: yellow;">
        </td>
        </ng-template>
         <ng-template #thenshowDet1No>
        <td style="width: 15%" class="LabelFontStyle">GL&nbsp;Date:&nbsp;</td>
        <td>
        <input disabled type="date" formControlName="glDate" id="glDate" [(ngModel)]="glDate" class="form-control" (change)="glPrdValidate(glDate)"
          style="background-color: yellow;">
        </td>
         <td style="width: 15%" class="LabelFontStyle1">Receipt&nbsp;Amt:&nbsp;</td>
        <td><input disabled style="font-weight: bold;text-align: right;" type="number"  min="1" formControlName="paymentAmt" id="paymentAmt"
        [(ngModel)]="paymentAmt" class="form-control" (change)="validateAmt(paymentAmt)" style="background-color: yellow;"> 
        </td>
         </ng-template>
        </tr>
        <tr>
        <div *ngIf="displayButton ,then thenshowDet2Yes; else thenshowDet2No"></div>
        <ng-template #thenshowDet2Yes>
        <div *ngIf="fromJc ,then jcref1; else jcref2"></div>
        <ng-template #jcref1>
        <td style="width: 15%" class="LabelFontStyle1">Ref.&nbsp;Type:&nbsp;</td>
        <td><input disabled style="font-weight: bold;" type="text" min="1" formControlName="refType" id="refType" [(ngModel)]="refType" class="form-control"> </td>
        <td style="width: 15%" class="LabelFontStyle">Ref.&nbsp;No:&nbsp;</td>
        <td> <input disabled type="text" formControlName="referenceNo" id="referenceNo" [(ngModel)]="referenceNo" class="form-control"> </td>
        <td style="width: 15%" class="LabelFontStyle">Ref&nbsp;Date:&nbsp;</td>
        <td><input disabled type="date" formControlName="referenceDate"  id="referenceDate" max="{{minDate | date:'yyyy-MM-dd'}}" [(ngModel)]="referenceDate" class="form-control"></td>
        <td style="width: 15%" class="LabelFontStyle1">TDS&nbsp;Amt:&nbsp;</td>
        <td><input style="font-weight: bold;text-align: right;" type="number" min="1"  formControlName="tdsAmount" id="tdsAmount" [(ngModel)]="tdsAmount"
              class="form-control" style="background-color: yellow;" (change)="validateTdsAmt(tdsAmount)"></td>
    </ng-template>
    <ng-template #jcref2>
    <td style="width: 15%" class="LabelFontStyle1">Ref.&nbsp;Type:&nbsp;</td>
    <td>
    <select formControlName="refType" id="refType" [(ngModel)]="refType"  class="form-control" style="background-color: yellow;" (Change)='onRefTypeSelected($event)'>
    <option disabled>--Select--</option>
    <option *ngFor="let sc of  ReceiptTypeArList" [ngValue]="sc.code"> {{sc.code}} </option>
    </select>
    </td>
    <div *ngIf="reInsurance ,then reinYes1; else reinNo1" ></div>
    <ng-template #reinNo1>
    <td style="width: 15%" class="LabelFontStyle">Ref.&nbsp;No:&nbsp;</td>
    </ng-template>
    <ng-template #reinYes1>
    <td style="width: 15%" class="LabelFontStyle">Policy&nbsp;No:&nbsp;</td>
    </ng-template>
    <div *ngIf="showRefYellow; then thenBlockRef1; else elseBlockRef1"></div>
    <ng-template #thenBlockRef1>
    <td> <input type="text" formControlName="referenceNo" id="referenceNo" [(ngModel)]="referenceNo" class="form-control" (change)="validateSaleOrder(referenceNo)"
          style="background-color: yellow;"> 
    </td>
    </ng-template>
    <ng-template #elseBlockRef1>
    <td><input type="text" formControlName="referenceNo" id="referenceNo" [(ngModel)]="referenceNo" class="form-control" placeholder=" "> </td>
    </ng-template>
    <div *ngIf="reInsurance ,then reinYes2; else reinNo2"></div>
    <ng-template #reinNo2>
    <td style="width: 15%" class="LabelFontStyle">Ref&nbsp;Date:&nbsp;</td>
    </ng-template>
    <ng-template #reinYes2>
    <td style="width: 15%" class="LabelFontStyle">Policy&nbsp;Date:&nbsp;</td>
    </ng-template>
    <div *ngIf="showRefYellow; then Y1; else Y2"></div>
    <ng-template #Y1>
    <td><input type="date" formControlName="referenceDate" id="referenceDate"  style="background-color:yellow ;"
          max="{{minDate | date:'yyyy-MM-dd'}}" [(ngModel)]="referenceDate" class="form-control"></td>
    </ng-template>
    <ng-template #Y2>
    <td><input type="date" formControlName="referenceDate" id="referenceDate" max="{{minDate | date:'yyyy-MM-dd'}}" [(ngModel)]="referenceDate" class="form-control"></td>
    </ng-template>
    <td style="width: 15%" class="LabelFontStyle1">TDS&nbsp;Amt:&nbsp;</td>
    <td><input style="font-weight: bold;text-align: right;" type="number" min="1"  formControlName="tdsAmount" id="tdsAmount" [(ngModel)]="tdsAmount"
           class="form-control" style="background-color: yellow;"  (change)="validateTdsAmt(tdsAmount)"></td>
    </ng-template>
    </ng-template>
    <ng-template #thenshowDet2No>
    <td style="width: 15%" class="LabelFontStyle1">Ref.&nbsp;Type:&nbsp;</td>
    <td>
    <select disabled formControlName="refType" id="refType" [(ngModel)]="refType"class="form-control" style="background-color: yellow;" (ngModelChange)='onRefTypeSelected($event)'>
    <option disabled>--Select--</option>
    <option *ngFor="let sc of  ReceiptTypeArList" [ngValue]="sc.code"> {{sc.code}} </option>
    </select>
    </td>
    <div *ngIf="reInsurance ,then reinYes11; else reinNo11"></div>
    <ng-template #reinNo11>
    <td style="width: 15%" class="LabelFontStyle">Ref.&nbsp;No:&nbsp;</td>
    </ng-template>
    <ng-template #reinYes11>
    <td style="width: 15%" class="LabelFontStyle">Policy&nbsp;No:&nbsp;</td>
    </ng-template>
    <td> <input disabled type="text" formControlName="referenceNo" id="referenceNo" [(ngModel)]="referenceNo" class="form-control"> </td>
    <div *ngIf="reInsurance ,then reinYes21; else reinNo21" ></div>
    <ng-template #reinNo21>
    <td style="width: 15%" class="LabelFontStyle">Ref&nbsp;Date:&nbsp;</td>
    </ng-template>
    <ng-template #reinYes21>
    <td style="width: 15%" class="LabelFontStyle">Policy&nbsp;Date:&nbsp;</td>
    </ng-template>
    <td><input disabled type="date" formControlName="referenceDate" id="referenceDate"  [(ngModel)]="referenceDate" class="form-control"></td>
    <td style="width: 15%" class="LabelFontStyle1">TDS&nbsp;Amount:&nbsp;</td>
    <td><input disabled style="font-weight: bold;text-align: right;" type="number"  min="1" formControlName="tdsAmount" id="tdsAmount" [(ngModel)]="tdsAmount"
         class="form-control" style="background-color: yellow;"> </td>
     </ng-template>

        </tr>
        <tr>
        <div *ngIf="displayButton ,then thenshowDet21Yes; else thenshowDet21No" ></div>
        <ng-template #thenshowDet21Yes>
            <td style="width: 15%" class="LabelFontStyle">Receipt&nbsp;Status:&nbsp;</td>
             <td>
             <select disabled type="text" formControlName="receiptStatus" id="receiptStatus" [(ngModel)]="receiptStatus" class="form-control" style="background-color:lightgreen;">
             <option disabled>--Select--</option>
             <option *ngFor="let sc of  ReceiptStatusList" [ngValue]="sc.code"> {{sc.code}} </option>
             </select>
           </td>
            <td style="width: 15%" class="LabelFontStyle1">Receipt&nbsp;Mode:&nbsp;2</td>
             <td>
             <table>
             <tr>
            <td>
            <select formControlName="payType" id="payType" [(ngModel)]="payType" class="form-control"
            (change)='onPayTypeSelected($event,"Active")' style="background-color: yellow;">
            <option disabled>--Select--</option>
            <option *ngFor="let sc of  PaymentModeList"  [ngValue]="sc.lookupValue">  {{sc.lookupValue}} </option>
            </select>
            </td>
            <div *ngIf="showOTHERModal; then Yes1; else No1"></div>
            <ng-template #Yes1>
            <td>
             <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#othRefModal"  style="width: 2rem;color: black;">  &nbsp;...&nbsp;</button>
            </td>
            </ng-template>
            <ng-template #No1></ng-template>
            </tr>
            </table>
            </td>
            <td style="width: 15%" class="LabelFontStyle1">Receipt&nbsp;Method:&nbsp;</td>
             <td>
            <table>
            <tr>
            <td>
            <select formControlName="receiptMethodId" id="receiptMethodId" [(ngModel)]="receiptMethodId" class="form-control"
             style="background-color: yellow;width: 100%;" (change)='onReceiptMethodSelected(receiptMethodId,"Active")'>
            <option disabled>--Select--</option>
             <option *ngFor="let sc of  ReceiptMethodList " [ngValue]="sc.receiptMethodId"> {{sc.methodName}} </option>
             </select>
            </td>
            </tr>
            </table>
             </td>
            <td style="width: 15%" class="LabelFontStyle">TDS&nbsp;InvNo:&nbsp;</td>
            <td><input disabled style="font-weight: bold;text-align: right;" type="number" min="1"  formControlName="tdstrxNumber" id="tdstrxNumber" [(ngModel)]="tdstrxNumber"class="form-control"></td>
        </ng-template>
        <ng-template #thenshowDet21No>
        <td style="width: 15%" class="LabelFontStyle1">Receipt&nbsp;Status:&nbsp;</td>
        <td>
        <select disabled type="text" formControlName="receiptStatus" id="receiptStatus" [(ngModel)]="receiptStatus" class="form-control" style="background-color:lightgreen;">
         <option disabled>--Select--</option>
         <option *ngFor="let sc of  ReceiptStatusList" [ngValue]="sc.code"> {{sc.code}}</option>
        </select>
         </td>
         1
         <td style="width: 15%" class="LabelFontStyle1">Receipt&nbsp;Mode:&nbsp;</td>
         <td>
        <table>
        <tr>
        <td>
        <select disabled formControlName="payType" id="payType" [(ngModel)]="payType" class="form-control"(change)='onPayTypeSelected($event,"Active")' style="background-color: yellow;">
        <option disabled>--Select--</option>
        <option *ngFor="let sc of  PaymentModeList" [ngValue]="sc.lookupValue"> {{sc.lookupValue}} </option>
        </select>
        </td>
        <div *ngIf="showOTHERModal; then Yes1; else No1"></div>
        <ng-template #Yes1>
        <td>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#othRefModal" style="width: 2rem;color: black;"> &nbsp;...&nbsp;</button>
        </td>
        </ng-template>
        <ng-template #No1></ng-template>
        </tr>
        </table>
        </td>
        <td style="width: 15%" class="LabelFontStyle1">Receipt&nbsp;Method:&nbsp;</td>
        <td>
        <select disabled formControlName="receiptMethodId" id="receiptMethodId" [(ngModel)]="receiptMethodId" class="form-control" style="background-color: yellow;">
        <option disabled>--Select--</option>
        <option *ngFor="let sc of  ReceiptMethodList " [ngValue]="sc.receiptMethodId"> {{sc.methodName}}</option>
        </select>
         </td>
        <td style="width: 15%" class="LabelFontStyle">TDS&nbsp;InvNo:&nbsp;</td>
        <td><input disabled style="font-weight: bold;text-align: right;" type="number" min="1" formControlName="tdstrxNumber" id="tdstrxNumber" [(ngModel)]="tdstrxNumber"class="form-control"></td>
        </ng-template>
        </tr>
        </table>
          </fieldset>
     </form>
</div>