<form [formGroup]="orderCancellationUploadForm" (ngSubmit)="orderCancellationUpload(orderCancellationUploadForm.value)">
    <fieldset class="RFS">
        <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 12px;color: black;font-weight: bold;">
           Cancelled Order Upload</legend>
           <table class="center" style="width: 50%;">
            <tr>
                <td style="width: 15%" class="LabelFontStyle">Payment&nbsp;Mode:&nbsp;</td>

                            <td>  
                                <select  formControlName="payType" [(ngModel)]='payType' value={{payType}} (change)='onPayTypeSelected($event,"Active")'   class="form-control">
                                    <option>--Select--</option>
                                    <option value="RTGS/NEFT">RTGS/NEFT</option>
                                </select>
                            </td>

                            <td style="width: 15%" class="LabelFontStyle">Payment&nbsp;Method:&nbsp;</td>
                            <td>  
                                
                                <select  formControlName="receiptMethodName" [(ngModel)]='receiptMethodName' value={{receiptMethodName}}   class="form-control">
                                    <option>--Select--</option>
                                    <option *ngFor="let sc of  ReceiptMethodList ">
                                        {{sc.methodName}} 
                                    </option>
                                </select>
                               
                               
                            </td>
            </tr>
            <tr>
                <td class="LabelFontStyle">Select&nbsp;Upload&nbsp;File(.CSV&nbsp;only):&nbsp; </td>
                <td>
                <input  type="file"  accept=".csv"  #fileInput class="form-control" style="vertical-align: middle;margin-top: 22px;width: 350px;background-color: yellow;">&nbsp;&nbsp;  
                </td>
                
                <div *ngIf ="updStatus;then ButtonNo;else ButtonYes"></div>
                <ng-template #ButtonNo>  
                <td>
                    <button  disabled class="btn btn-primary" (click)="uploadFile();" style="width: 5rem;font-size: 11px;">Submit&nbsp;</button>
                </td>
                </ng-template>
                <ng-template #ButtonYes>  
                <td>
                    <button   class="btn btn-primary" (click)="uploadFile();" style="width: 5rem;font-size: 11px;">Submit&nbsp;</button>
                </td>
                </ng-template>
    
            </tr>
            <tr>
                <div *ngIf="closeResetButton; then hList1; else hList2"></div>
                <ng-template #hList2> 
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-primary" role="status" >
                              <span class="sr-only" id="loading"></span>
                       
                        </div>
                    </div>
              </ng-template>
              <ng-template #hList1> </ng-template>

              <!-- <h5 style="text-align: center;color:blue" > {{dataDisplay }}</h5> -->
              <td class="LabelFontStyle" style="color: blue;">&nbsp;{{dataDisplay }}&nbsp; </td>
            </tr>
           </table>
           <table class="GridFont"  style="border-color:#494949;border-collapse:collapse;width: 100%;">
            <tr class="GridHeader" style="font-size: 11px;">
                <th >Reference No</th>
                <!-- <th >Cust No</th> -->
                <th >Cust Name</th>
                <th >Receipt No</th>
                <th >Voucher No</th>
               
                <th >Date</th>
                <th >Remark</th>
            </tr>
            <tr *ngFor="let com of objDetails ; let i= index" class="ItemStyle" style="text-decoration:none;font-size: 11px;">
           <td>{{com.msRefNo}}</td>
           <td>{{com.custNo}}</td>
           <td>{{com.custName}}</td>
           <td>{{com.receiptNo}}</td>
           <td>{{com.payVouNo}}</td>
           <td>{{com.remark}}</td>
           <td>{{com.trxDate}}</td>
            </tr>
           </table>
           <table class="center">
            <tr>
                <td>
                    <button type="submit" class="btn btn-primary" id="resetBtn" data-toggle="modal" 
                    data-target="#confirmAlert" (click)="getMessage('Reset')">Reset</button>
                        
                </td>
                <td>
                    <button type="submit" class="btn btn-primary" id="closeBtn"
                    data-toggle="modal" data-target="#confirmAlert" (click)="getMessage('Close')">Close</button>
                </td>
    
            </tr>
           </table>
    </fieldset>

</form>
<div class="modal" id="confirmAlert" tabindex="-1" role="dialog" aria-hidden="true" style="width: 500px; text-align: center;">
    <div class="modal-dialog modal-dialog-centered modal-sm"  role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" >Confirmation!</h5>
        </div>
        <div class="modal-body">
            <label style="font-size: small; color: black; font-weight: bold; text-align: center; vertical-align: middle;">
                {{message}}
            </label>
        </div>
        <div class="modal-footer">
            <table class="center">
        <tr>
            <td>
            <button  type="submit" class="btn btn-primary" data-dismiss="modal" id="register"   (click)="executeAction()">Yes</button>
            </td>
            <td>
            <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
            </td>
        </tr>
        </table>
        </div>
        </div>
        </div>
    </div>