<div class="center">
    <table style="width: 100%;background-color: white;">
        <tr>
            <td class="PageHeader">
                &nbsp;Model&nbsp;Color&nbsp;Master&nbsp;
            </td>
        </tr>
    </table>
    <form [formGroup]="colorForm">
        <div class="center" style="width: 100%;">
            <div class="form-bg">
                <div class="center" style="width: 100%;">
                    <fieldset class="RFS">
                        <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 10px;color: black;"> Details
                        </legend>
                        <table class="center" style="width: 100%;">
                            <tr>
                                <td>
                                    <table class="center">
                                        <tr>
                                        <tr style="align-items: center;">
                                            <td style="width: 15%" class="LabelFontStyle"> &nbsp;Model&nbsp;:&nbsp;
                                            </td>
                                            <td>
                                                <select formControlName="modelName" class="form-control"
                                                    (change)="onModelChange($event)">
                                                    <option value="">--Select Model--</option>
                                                    <option *ngFor="let m of modelList" [value]="m.cmnId">
                                                        {{ m.code }}
                                                    </option>
                                                </select>


                                            </td>

                                            <td style="width: 15%" class="LabelFontStyle"> &nbsp;Variant&nbsp;:&nbsp;
                                            </td>
                                            <td style="border: none;color: black;">
                                                <select formControlName="variantName" class="form-control"
                                                    [disabled]="variantDisabled" (change)="onVariantChange($event)">
                                                    <option value="">--Select Variant--</option>
                                                    <option *ngFor="let v of filteredVariantList" [value]="v.variantId">
                                                        {{ v.variant }}-{{ v.variantDesc }}
                                                    </option>
                                                </select>


                                            </td>

                                            <td style="width: 15%" class="LabelFontStyle">
                                                &nbsp;&nbsp;Color&nbsp;:&nbsp; </td>
                                            <td>
                                                <select formControlName="colorName" class="form-control"
                                                    [disabled]="colorDisabled">
                                                    <option value="">--Select Colour--</option>
                                                    <option *ngFor="let c of colorList" [value]="c.cmnId">
                                                        {{ c.code }}-{{ c.codeDesc }}
                                                    </option>
                                                </select>


                                            </td>

                                        </tr>

                                    </table>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
            </div>
        </div>

<fieldset class="RFS">
        <table class="center" style="width:30%">
            <tr>
              <td> <button type="submit" class="btn btn-primary" (click)="onSave()">Save</button> </td>
               <td> <button type="submit" class="btn btn-primary" id="register" (click)="onSearch()">  Search  </button> </td>
                 <td> <button type="submit" class="btn btn-primary" id="register" (click)="refresh()">Clear</button> </td>
                 <td>  <button type="submit" class="btn btn-primary" (click)="close()">Close</button> </td>                        
            </tr>
        </table>
</fieldset>
<fieldset class="RFS">
        <table class="table table-bordered table-striped mt-3" *ngIf="showTable">
            <thead>
              <tr>
                <th>Model</th>
                <th>Variant</th>
                <th>Variant Description</th>
                <th>Color Code</th>
                <th>Color Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of searchResult">
                <td>{{ row.MODELCODE }}</td>
                <td>{{ row.VARIANT }}</td>
                <td>{{ row.VARDESCRIPTION }}</td>
                <td>{{ row.COLORCODE }}</td>
                <td>{{ row.COLORDESC }}</td>
              </tr>
            </tbody>
        </table>
 </fieldset> 
    </form>
</div>

