/* form {
    padding: 10px;
   }
*{
    margin: 0;
}

.auto-style103{
   border-color: #000066;
    border-style: ridge;
    width: auto;
    height: auto;
    box-shadow: 5px 5px 8px rgb(29, 29, 77);
    padding: 10px;
    }
.PageHeader {
        font-size: x-large;
        font-weight: bold;
        margin: 0;
        height: 22px;
        font-family: Verdana,Sans-serif, Arial, Helvetica;
        vertical-align: middle;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    
.center {
    margin-left: auto;
    margin-right: auto;
  }

    .btn-primary{
        width: 10em;
        border-color: black;
        box-shadow: 5px 5px 8px rgb(13, 13, 19);
    }
    
    .btn-primary:hover{
        box-shadow: 5px 5px 8px rgb(60, 60, 224);  
        background-color: blue;
    }


    .LabelFontStyle {
        background-color: #FAFAFA;
        font-family: Verdana,Sans-serif, Arial, Helvetica;
        font-weight: normal;
        color: Black;
        font-size: small;
        text-align: right;
        vertical-align: middle;
        padding-top: 0px;
        padding-bottom: 0px;
        border-color: Gray;
        height: 25px;
    }

    .form-control {
        font-family: Verdana,Sans-serif, Arial, Helvetica;
        font-size: small;
        outline: medium none;
        padding: 3px;
        vertical-align: top;
        width: 198px;
       border-color: black;
       box-shadow: 5px 5px 8px rgb(13, 13, 19);
    }
    

    .vertical-center{
        display: block;
        margin: auto;
     }

   
body {
    font: 0.7em/1.5em "Calibri Trebuchet MS" ,Verdana,sans-serif;
    background: white;
}


th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}


.GridHeader {
    border-top-width: 1px;
    border-style: solid;
    border-top-color: rgb(217,0,25);
    border-left: none;
    border-right: none;
    height: 25px;
    padding: 0px 10px 0px 10px;
    font-family: Verdana,Sans-serif, Arial, Helvetica;
    font-size: 11px;
    text-align: center;
    color: #1F2436;
    background-color: #fff;
    border-bottom: 2px solid rgb(158, 155, 155);
}

.ItemStyle{
    border-left: none;
    border-right: none;
    height: 25px;
    padding: 0px 10px 0px 10px;
    font-family: Verdana,Sans-serif, Arial, Helvetica;
    font-size: 11px;
    text-align: center;
    color: #1F2436;
    background-color: #fff;
    border-bottom: 2px solid rgb(158, 155, 155);   
}


.modal-header{
    text-align: center;
}


label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
.auto-style4{
 color:#333333;
 font-family:Verdana;
 font-size:Small;
 height:16px;
 width: 100em;
 text-align: left; 
 margin-right: 0px; 
 margin-left: 24px;
 border-color: #35357c;
 border-style: ridge;
}

.grid_scroll
{
    overflow: auto;
    width: 800px;
    height: 100px;
    width: 28%;
} */


.grid_scroll
{
    overflow: auto;
    width: 100%;
    height: 100px;
}