<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="form-bg">
    <div class="center">
        <form [formGroup]="taxCategoryMasterForm" (ngSubmit)="taxCategoryMaster(taxCategoryMasterForm.value)">
            <div id="Panel1" class="auto-style103">
                <div class="container">
                    <div class="row">
                        <table style="width: 100%;background-color: white;">
                            <tr>
                                <td class="PageHeader">
                                    &nbsp;&nbsp;Tax&nbsp;Category&nbsp;Master&nbsp;
                                </td>
                            </tr>
                        </table>
                        <div class="center">
                            <table style="width: fit-content;">
                                <tr>
                                    <td><input hidden formControlName="taxCategoryId" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td style="width: 15%" class="LabelFontStyle">Operating&nbsp;Unit&nbsp;:&nbsp;</td>
                                    <td>
                                        <select formControlName="ouId" id="ouId" class="form-control">
                                            <option>--Select--</option>
                                            <option *ngFor="let sc of  OUIdList" [ngValue]="sc.ouId">
                                                {{sc.ouName}}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && f. ouId.errors" class="invalid-feedback">
                                            <div *ngIf="f.ouId.errors.required">OU Id is required</div>
                                            <span
                                                *ngIf="!taxCategoryMasterForm.get('ouId').valid && taxCategoryMasterForm.get('ouId').touched">Please
                                                Enter valid Operating Unit </span>
                                        </div>
                                    </td>
                                    <td style="width: 15%" class="LabelFontStyle">Tax&nbsp;Category&nbsp;Name:</td>
                                    <td><input type="text" formControlName="taxCategoryName" class="form-control"
                                            placeholder="Enter tax Category name">
                                        <span
                                            *ngIf="!taxCategoryMasterForm.get('taxCategoryName').valid && taxCategoryMasterForm.get('taxCategoryName').touched">Please
                                            Enter tax Category name </span>
                                    </td>

                                    <td style="width: 15%" class="LabelFontStyle">Tax&nbsp;Category&nbsp;Description:
                                    </td>
                                    <td><input type="text" formControlName="taxCategoryDesc" class="form-control"
                                            placeholder="Enter tax category desc">
                                        <span
                                            *ngIf="!taxCategoryMasterForm.get('taxCategoryDesc').valid && taxCategoryMasterForm.get('taxCategoryDesc').touched">Please
                                            Enter tax category desc </span>
                                    </td>

                                    <td style="width: 15%" class="LabelFontStyle">Item&nbsp;Class&nbsp;Code:</td>
                                    <td><input type="text" formControlName="itemClassCode" class="form-control"
                                            placeholder="Enter item class code">
                                        <span
                                            *ngIf="!taxCategoryMasterForm.get('itemClassCode').valid && taxCategoryMasterForm.get('itemClassCode').touched">Please
                                            Enter item class code </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 15%" class="LabelFontStyle">Record&nbsp;Type&nbsp;Code:</td>
                                    <td><input type="text" formControlName="recordTypeCode" class="form-control"
                                            placeholder="Enter record type code">
                                        <span
                                            *ngIf="!taxCategoryMasterForm.get('recordTypeCode').valid && taxCategoryMasterForm.get('recordTypeCode').touched">Please
                                            Enter record type code </span>
                                    </td>

                                    <td style="width: 15%" class="LabelFontStyle">Start&nbsp;Date:</td>
                                    <td>
                                        <input type="date" formControlName="startDate" class="form-control"
                                            placeholder="Enter start Date" min="{{minDate | date:'yyyy-MM-dd'}}">
                                        <span
                                            *ngIf="!taxCategoryMasterForm.get('startDate').valid && taxCategoryMasterForm.get('startDate').touched">Please
                                            Enter start Date </span>
                                    </td>

                                    <td style="width: 15%" class="LabelFontStyle">Status&nbsp;:</td>
                                    <td>
                                        <!-- <input disabled type="text" [ngModel]="status" formControlName="status" class="form-control" > -->
                                        <select formControlName="status" id="status" class="form-control"
                                            [ngModel]="status" (ngModelChange)='onOptionsSelected($event)'>
                                            <option>--Select--</option>
                                            <option *ngFor="let sc of  statusList">
                                                {{sc.codeDesc}}
                                            </option>
                                        </select>
                                        <span
                                            *ngIf="!taxCategoryMasterForm.get('status').valid && taxCategoryMasterForm.get('status').touched">Please
                                            Enter valid status </span>
                                    </td>
                                    <div *ngIf="displayInactive; then thenBlockInactive; else elseBlockInactive"></div>
                                    <ng-template #thenBlockInactive>
                                    </ng-template>
                                    <ng-template #elseBlockInactive>
                                        <td style="width: 15%" class="LabelFontStyle">Inactive&nbsp;Date:&nbsp;</td>
                                        <td> <input disabled type="text" formControlName="endDate" class="form-control"
                                                [ngModel]="endDate | date:'yyyy-MM-dd'">
                                        </td>
                                    </ng-template>

                                </tr>
                            </table>
                        </div>

                        <table class="autostyle1">
                            <tr>
                                <div *ngIf="displayButton; then thenBlock1; else elseBlock1"></div>
                                <ng-template #thenBlock1>
                                    <td>
                                        <button type="submit" class="btn btn-primary" id="register"
                                            [disabled]="!taxCategoryMasterForm.valid" (click)="newMast()">New</button>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-primary" id="register"
                                            (click)="resetMast()">Reset</button>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-primary" id="register"
                                            (click)="closeMast()">Close</button>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-primary" id="register"
                                            (click)="searchMast()">Search</button>
                                    </td>
                                </ng-template>
                                <ng-template #elseBlock1>
                                    <td>
                                        <button type="submit" class="btn btn-primary" id="register"
                                            [disabled]="!taxCategoryMasterForm.valid"
                                            (click)="updateMast()">Update</button>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-primary" id="register"
                                            (click)="resetMast()">Reset</button>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-primary" id="register"
                                            (click)="closeMast()">Close</button>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-primary" id="register"
                                            (click)="searchMast()">Search</button>
                                    </td>
                                </ng-template>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<br>
<div class="container1">
    <table class="auto-style4" cellspacing="0" cellpadding="4" rules="all">
        <tbody>
            <tr class="auto-style5">
                <th scope="col">Tax Category Id</th>
                <th scope="col">Tax Category Name</th>
                <th scope="col">Tax Category Desc</th>
                <th scope="col">Item Class Code</th>
                <th scope="col">Record Type Code</th>
                <th scope="col">Start Date</th>
                <th scope="col">Status</th>
                <th scope="col">Select one</th>
            </tr>
        </tbody>
        <tr *ngFor="let com of lstcomments" style="background-color:#E3EAEB;">
            <td>{{com.taxCategoryId}}</td>
            <td>{{com.taxCategoryName}}</td>
            <td>{{com.taxCategoryDesc}}</td>
            <td>{{com.itemClassCode}}</td>
            <td>{{com.recordTypeCode }}</td>
            <td>{{com.startDate}}</td>
            <td>{{com.status}}</td>
            <td><button (click)="Select(com.taxCategoryId)">Select</button></td>
        </tr>
    </table>
</div>
<br>
<br>