<div class="center">
    <table style="width: 100%;background-color: white;">
        <tr>
            <td class="PageHeader">
                &nbsp;&nbsp;THRESHOLD&nbsp;SETUP&nbsp;
            </td>
        </tr>
    </table>

    <div class="center" style="width: 100%;">
        <div class="form-bg">
            <div class="center" style="width: 100%;">
                <form [formGroup]="taxThresholdSetupForm" (ngSubmit)="taxThresholdSetup(taxThresholdSetupForm.value)">

                     <table class="center">
                        <tr>
                        <!-- <td  class="LabelFontStyle">DivId/div/ouid/locid/deptid/empId/custid/inssite/Aging/type/Stat/itemcd&nbsp;:&nbsp;</td> -->
   
                            <input  style="width:30px ;"   type="text" disabled formControlName="divisionId"      class="form-control" [(ngModel)]="divisionId" placeholder="">

                            <input  style="width:100px ;"  type="text" disabled formControlName="loginArray"    class="form-control" [(ngModel)]="loginArray" placeholder="">
                      
                            <input   style="width:30px ;"  disabled type="text" formControlName="ouId"
                            class="form-control" [(ngModel)]="ouId" >
                       
                            <input  style="width:30px ;" disabled type="text" formControlName="locId"  [(ngModel)]="locId" class="form-control"  placeholder="Location Name">
                            <input  style="width:30px ;"  type="text" disabled formControlName="deptId"
                            class="form-control" [(ngModel)]="deptId" placeholder="">
                            <input  style="width:30px ;"   type="text" disabled formControlName="emplId"
                            class="form-control" [(ngModel)]="emplId" placeholder="">

                       
                        </tr>
                    </table>

                    <fieldset class="RFS">
                        <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 10px;color: black;">Setup Details</legend>
                    <table class="center">

                        <tr>
                            <td  style="width: 15%" class="LabelFontStyle"> Setup&nbsp;Name&nbsp;: </td>
      
                            <td> <input  type="text"  formControlName="thresholdSetupName" formControlName="thresholdSetupName"  [(ngModel)]="thresholdSetupName" class="form-control" ></td> 
                            
                            <td  style="width: 15%" class="LabelFontStyle"> Setup&nbsp;Description&nbsp;: </td>
                            <td> <input  type="text"  formControlName="description" formControlName="description"  [(ngModel)]="description" class="form-control"></td> 
      
                            <td  style="width: 15%" class="LabelFontStyle"> Section&nbsp;Type&nbsp;: </td>
  
                            <td> <input  type="text"  formControlName="sectionType" formControlName="sectionType"  [(ngModel)]="sectionType" class="form-control" ></td> 
                      </tr>
                              
                    <tr>
                        <td style="width: 15%" class="LabelFontStyle1">Regime&nbsp;Name:&nbsp;</td>
                        <td>
                        <select  formControlName="regimeId" [(ngModel)]="regimeId" id="regimeId" class="form-control" >
                            <!-- (ngModelChange)='onOptionSelected($event)' -->
                            <option>--Select--</option>
                            <option *ngFor="let sc of regimeIdList" [ngValue]="sc.regimeId" >
                               <!-- {{sc.regimeId}}- -->
                               {{sc.regimeCode}}
                               <!-- -{{sc.regimeName}} -->
                            </option>
                           </select> 
                        </td>

                        <td style="width: 15%" class="LabelFontStyle1">Vendor&nbsp;Type:&nbsp;</td>
                        
                        <td>
                        <select formControlName="vendorTypeLookupCode" id="vendorTypeLookupCode" [(ngModel)]="vendorTypeLookupCode" class="form-control" >
                            <option>--Select--</option>
                            <option *ngFor="let ts of tdsVendorList" [ngValue]="ts.code" >
                                {{ts.code}}
                            </option>
                        </select>
                    </td>

                  </tr>

                    <tr>

                      <td style="width: 15%" class="LabelFontStyle1">Section&nbsp;Code:&nbsp;</td>
                        
                       <td>
                        <select formControlName="sectionCode" id="sectionCode" [(ngModel)]="sectionCode" class="form-control" (ngModelChange)='onOptionSelectedSectionCode($event)'>
                            <option>--Select--</option>
                            <option *ngFor="let ts of tdsSectionList" [ngValue]="ts.code" >
                                {{ts.lookupValueDesc}}
                            </option>
                        </select>
                        </td>

                        <td style="width: 15%" class="LabelFontStyle">Section&nbsp;Description:&nbsp;</td>
                        
                        <td>
                            <input disabled type="text" formControlName="sectionDesc"  [(ngModel)]="sectionDesc"   class="form-control" placeholder="sectionDesc" > 
                        </td> 
                    </tr>

                   

                    <tr>
                      <td  style="width: 15%" class="LabelFontStyle"> Exception&nbsp;Setup&nbsp;: </td>

                      <td> <input  type="checkbox"  name="exceptionSetupFlag" formControlName="exceptionSetupFlag"  [(ngModel)]="exceptionSetupFlag"  (change)="exceptionSetupFlag1($event)"></td> 
                      
                      <td  style="width: 15%" class="LabelFontStyle"> Retrospective&nbsp;Flag&nbsp;: </td>
                      <td> <input  type="checkbox"  name="retrospectiveFlag" formControlName="retrospectiveFlag"  [(ngModel)]="retrospectiveFlag"  (change)="retrospectiveFlag1($event)"></td> 

                    
                    </tr>


                    </table>
                </fieldset>

               
               
                <!-- <tr>
                <table>
                <tr>
                <td>  -->
                   <fieldset class="RFS">
                    <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 10px;color: black;">Threshold Types</legend>
                    <div class="center">
                     <div class="center" formArrayName="jaiApThreshSlabs">

                        <div class="grid_scroll">

                            <table style="width: 100%; border: solid 1px Gray" class="auto-style4"
                                      cellspacing="0" cellpadding="4" rules="all" class="center">
                                      <thead>
                                        <tr class="GridHeader">
                                              <th style="width:9rem"  scope="col">Threshold Type</th>
                                              <th style="width:8rem" scope="col">From Amount</th>
                                              <th style="width:8rem" scope="col">To Amount</th>
                                              <th style="width:8rem" scope="col">Start Date</th>
                                              <th style="width:8rem" scope="col">End Date</th>
                                              <th style="width:3rem" scope="col">Add+</th>
                                              <th style="width:3rem" scope="col">Del-</th>
                                          </tr>
                                      </thead>

                                    <tr *ngFor="let group of lineDetailsArray().controls; let i= index" [formGroupName]="i">
                                        
                                        <input type="text" hidden formControlName="thresholdTypeId">
                                        <input type="text" hidden formControlName="thresholdSlabId">
                                        
                                        
                                        <td>
                                        <select style="width:18rem" formControlName="thresholdType" id="thresholdType"  class="form-control" (ngModelChange)='onThresholdTypeSelected($event,i)' >
                                            <option>--Select--</option>
                                            <option *ngFor="let ts of thresholdTypeList" [ngValue]="ts.code" >
                                                {{ts.code}}
                                            </option>
                                        </select>
                                        </td>

                                        <div *ngIf="showLineInputCol; then thenBlockThreshLine else  elseBlockThreshLine"></div>
                                        <ng-template #thenBlockThreshLine> 
                                            <td><input  style="width: 13rem;" type="number" formControlName="fromAmount"  class="form-control" placeholder=" "  ></td>
                                            <td> <input style="width: 13rem;"  type="number" formControlName="toAmount"  class="form-control" placeholder=""  > </td>
                                            <td><input style="width: 13rem;"  type="date" formControlName="fromDate"  class="form-control" placeholder=""  ></td>
                                            <td><input style="width: 13rem;"    type="date" formControlName="toDate"  class="form-control" placeholder=""  ></td>
                                            <td><button type="submit" class="btn btn-info" (click)="addRow(i)" (keydown.shift.arrowdown)="addRow(i)" style="width: min-content;"><i class="fa fa-plus"></i></button></td>
                                            <td><button type="submit" class="btn btn-info" (click)="RemoveRow(i)" style="width: min-content;"><i class="fa fa-trash"></i></button> </td>
                                          </ng-template>
                                        <ng-template #elseBlockThreshLine>
                                            <td><input  disabled style="width: 13rem;" type="number" formControlName="fromAmount"  class="form-control" placeholder=" "  ></td>
                                            <td> <input disabled style="width: 13rem;"  type="number" formControlName="toAmount"  class="form-control" placeholder=""  > </td>
                                            <td><input  disabled style="width: 13rem;"  type="date" formControlName="fromDate"  class="form-control" placeholder=""  ></td>
                                            <td><input  disabled style="width: 13rem;"    type="date" formControlName="toDate"  class="form-control" placeholder=""  ></td>
                                            <td><button disabled type="submit" class="btn btn-info" (click)="addRow(i)" (keydown.shift.arrowdown)="addRow(i)" style="width: min-content;"><i class="fa fa-plus"></i></button></td>
                                            <td><button disabled type="submit" class="btn btn-info" (click)="RemoveRow(i)" style="width: min-content;"><i class="fa fa-trash"></i></button> </td>
                                        </ng-template>
                                
                                      </tr>
                            </table>
                        </div>
                    </div>
                    </div>
                    </fieldset>
                    
                <!-- </td>
                <td> -->

                 <fieldset class="RFS" >
                    <legend  id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 10px;color: black; ">Taxes</legend>
                   

                <div class="center">
                    <!-- <br> -->
                   <div class="center" formArrayName="jaiApThreshTaxes">

                        <div class="grid_scroll_1">

                            <table style="width: 50%; border: solid 1px Gray" class="auto-style4"
                                      cellspacing="0" cellpadding="4" rules="all" class="left">
                                      <thead>
                                        <tr class="GridHeader">
                                              <!-- <th  scope="col">Threshold</th> -->
                                              <th style="width:9rem"  scope="col">Threshold Type</th>
                                              <th style="width:13rem"  scope="col">Operating Unit</th>
                                              <th style="width:24rem" scope="col">Tax Category</th>
                                               <th style="width:3rem" scope="col">Add+</th>
                                              <th style="width:3rem" scope="col">Del-</th>
                                        </tr>
                                      </thead>

                                    <tr *ngFor="let group of lineDetailsArrayTax().controls; let i= index" [formGroupName]="i">
                                        
                                        <input type="text" hidden formControlName="thresholdTaxId">
                                        
                                        
                                        <td>
                                            <select  style="width:18rem" formControlName="thresholdTypeTax" id="thresholdTypeTax"  class="form-control"  (ngModelChange)='onTaxThreshTypeSelected($event,i)' >
                                                <option>--Select--</option>
                                                <option *ngFor="let ts of thresholdTypeList" [ngValue]="ts.code" >
                                                    {{ts.code}}
                                                </option>
                                            </select>
                                        </td>

                                        <div *ngIf="showTaxLine; then thenBlockTaxLine else  elseBlockTaxLine"></div>
                                        <ng-template #thenBlockTaxLine> 
                                        <td> 
                                        <select style="width:13rem" style="width:11rem" formControlName="ouId" id="ouId" class="form-control"  >
                                          <option>--Select--</option>
                                            <option *ngFor="let sc of  OUIdList" [ngValue]="sc.ouId">
                                                {{sc.ouName}}
                                            </option>
                                        </select>
                                        </td>

                                        <td>                 
                                        <select style="width:25rem" formControlName="taxCategoryId" id="taxCategoryId" class="form-control" >
                                            <option>--Select--</option>
                                            <option *ngFor="let ts of tdsTaxCategoryList" [ngValue]="ts.taxCategoryId" >
                                                {{ts.taxCategoryName}}
                                            </option>
                                        </select>
                                    </td> 
                                    </ng-template>

                                    <ng-template #elseBlockTaxLine> 
                                        <td> 
                                        <select disabled style="width:13rem" style="width:11rem" formControlName="ouId" id="ouId" class="form-control"  >
                                          <option>--Select--</option>
                                            <option *ngFor="let sc of  OUIdList" [ngValue]="sc.ouId">
                                                {{sc.ouName}}
                                            </option>
                                        </select>
                                        </td>

                                        <td>                 
                                        <select disabled style="width:25rem" formControlName="taxCategoryId" id="taxCategoryId" class="form-control" >
                                            <option>--Select--</option>
                                            <option *ngFor="let ts of tdsTaxCategoryList" [ngValue]="ts.taxCategoryId" >
                                                {{ts.taxCategoryName}}
                                            </option>
                                        </select>
                                    </td> 
                                    </ng-template>
                                        
                                       
                                        <td>
                                            <button type="submit" class="btn btn-info" (click)="addRow1(i)" (keydown.shift.arrowdown)="addRow(i)" style="width: min-content;"><i
                                            class="fa fa-plus"></i></button>
                                        </td>

                                        <td>
                                                <button type="submit" class="btn btn-info" (click)="RemoveRow1(i)" style="width: min-content;"><i
                                                class="fa fa-trash"></i></button>
                                        </td>

                                      </tr>
                            </table>
                        </div>
                   </div>
                </div>
                </fieldset>
            <!-- </td>
            </tr>
            </table>
            </tr> -->

              <br>  
                <!-- ===================================Buttons======================================== -->
                  <table class="center">
                    <tr>
                        <div *ngIf="displayButton; then thenBlock1; else elseBlock1"></div>
                        <ng-template #thenBlock1>
                            <td>
                                <button type="button" class="btn btn-info" (click)="newMast()" [disabled]="!taxThresholdSetupForm">Save</button>
                            </td>

                            <div *ngIf="displaySuccess; then thenBlockSaveStat; else elseBlockSaveSatat"></div>
                            <ng-template #thenBlockSaveStat>
                                <div class="alert alert success alert-dismissible fade show " role="alert">
                                    <strong>Success!</strong> Record Updated Successfully.
                                    <button  type="button" (click)="closeAlert()"    class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>

                                </ng-template>
                            <ng-template #elseBlockSaveSatat>
                                <!-- <div class="alert warning">
                                    <span class="closebtn">&times;</span>  
                                    <strong>Warning!</strong> Rcord Not added.Please check
                                  </div> -->

                            </ng-template>
                            
                            <td>
                                <button type="button" class="btn btn-info" (click)="searchMast()">Search</button>
                            </td>

                                <!-- ====================Reset Dialog ======================== -->

                            <td>
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Reset</button>
                            </td>
                             <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width:600px;">
                                    <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <label style="font-size: small; color: black;font-weight: bold; text-align:center;vertical-align: middle;">
                                                <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                                                Want&nbsp;to&nbsp;Reset. &nbsp;Confirm&nbsp;(Yes/No)?&nbsp;
                                            </label>
                                        </div>
                                        <div class="modal-footer">
                                            <table class="center">
                                                <tr>
                                                    <td>
                                                        <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
                                                    </td>
                                                    <td>
                                                        <button type="submit" class="btn btn-info" id="register" (click)="resetMast()">Yes</button> 
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                    <!-- =====================Close Dialog Box====================== -->
                                    <td>
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalLong">Close</button>
                                    </td>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="width:600px;">
                                        <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <label style="font-size: small; color: black; font-weight: bold; text-align: center; vertical-align: middle;">
                                                    <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                                                    Want&nbsp;to&nbsp;Close.&nbsp;Confirm&nbsp;(Yes/No)?&nbsp;
                                                </label>
                                            </div>
                                            <div class="modal-footer">
                                                <table class="center">
                                                    <tr>
                                                        <td>
                                                        <button  type="submit" class="btn btn-info" data-dismiss="modal" id="register"   (click)="closeMast()">Yes</button>
                                                        </td>
                                                        <td>
                                                        <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        </div>
                                    </div>

                    <!-- ==================================================== -->

                                </ng-template>
                                <ng-template #elseBlock1>
                               
                                        <td>
                                            <button type="button" class="btn btn-info" (click)="updateMast()"[disabled]="!taxThresholdSetupForm">Update</button>
                                        </td>

                                        <div *ngIf="displaySuccess; then thenBlockSaveStat; else elseBlockSaveStat"></div>
                                        <ng-template #thenBlockSaveStat>
                                            <div class="alert alert success alert-dismissible fade show " role="alert">
                                                <strong>Success!</strong> Record Updated Successfully.
                                                <button  type="button" (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                        </ng-template>
                                        <ng-template #elseBlockSaveStat>
                                            <!-- <div class="alert warning">
                                                <span class="closebtn">&times;</span>  
                                                <strong>Warning!</strong> Rcord Not added.Please check
                                            </div> -->
                                        </ng-template>
                                        <td>
                                            <button type="button" class="btn btn-info" (click)="searchMast()">Search</button>
                                        </td>
                                        <!-- <td>
                                            <button type="submit" class="btn btn-primary" id="register" (click)="resetMast()">Reset</button>
                                        </td>
                                        <td>
                                            <button type="submit" class="btn btn-primary" id="register" (click)="closeMast()">Close</button>
                                                    </td> -->
                                <!-- ====================Reset Dialog ======================== -->

                                <td>
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Reset</button>
                                </td>
                                <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width:600px;">
                                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <label style="font-size: small; color: black;font-weight: bold; text-align:center;vertical-align: middle;">
                                                <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                                                Want&nbsp;to&nbsp;Reset. &nbsp;Confirm&nbsp;(Yes/No)?&nbsp;
                                            </label>
                                        </div>
                                        <div class="modal-footer">
                                            <table class="center">
                                                <tr>
                                                    <td>
                                                        <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
                                                    </td>
                                                    <td>
                                                        <button type="submit" class="btn btn-info" id="register" (click)="resetMast()">Yes</button> 
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                 <!-- =====================Close Dialog Box====================== -->
                            <td>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalLong">Close</button>
                            </td>
                                    <!-- Modal -->
                                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="width:600px;">
                                    <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <label style="font-size: small; color: black; font-weight: bold; text-align: center; vertical-align: middle;">
                                                <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                                                Want&nbsp;to&nbsp;Close.&nbsp;Confirm&nbsp;(Yes/No)?&nbsp;
                                            </label>
                                        </div>
                                        <div class="modal-footer">
                                            <table class="center">
                                                <tr>
                                                    <td>
                                                    <button  type="submit" class="btn btn-info" data-dismiss="modal" id="register"   (click)="closeMast()">Yes</button>
                                                    </td>
                                                    <td>
                                                    <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                             <!-- ==================================================== -->
                                </ng-template>
                                
                            </tr>
                        </table>
                        <!-- ==================================================== -->
                </form>
            </div>
        </div>
    </div>
</div>

<br>

<div class="container1">
    <div class="grid_scroll">
    <table class="auto-style4" class="GridFont" cellspacing="0" cellpadding="4" border="0" id="ctl00_cpForm_grdActions" style="border-color:#959595;border-collapse:collapse;width: 100%;">
   <tbody>
        <tr class="GridHeader">
            <th style="width:6rem" scope="col">Setup Id</th>
            <th style="width:10rem" scope="col">Section Code</th>
            <th style="width:10rem" scope="col">Section Type</th>
            <th style="width:15rem" scope="col">Vendor Type</th>
            <th style="width:10rem" scope="col">Regime Id</th>
           
        <th style="width:6rem" scope="col">Select</th>
    </tr>
   </tbody>
   <tr *ngFor="let com of lstcomments" class="ItemStyle" style="text-decoration:none;">
    <td>{{com.thresholdHdrId}}</td>
    <td>{{com.sectionType}}</td>
    <td>{{com.sectionCode}}</td>
    <td>{{com.vendorTypeLookupCode}}</td>
    <td>{{com.regimeId}}</td>  
    <td><button class="btn btn-secondary" (click)="Select(com.thresholdHdrId)">Select</button></td>   
   </tr>
    </table>
</div>
</div>