/* You can add global styles to this file, and also import other style files */


.PageHeader {
    font-size:large;
    font-weight: bold;
    margin: 0;
    height: 10px;
    font-family: Verdana,Sans-serif, Arial, Helvetica;
    vertical-align: middle;
    text-align: center;
    padding: 2px;
    color: white;
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    width: 100%;
}



.LabelFontStyle {
    font-family: Verdana,Sans-serif, Arial, Helvetica;
    font-weight: normal;
    color: Black;
    font-size: 11px;
    text-align: right;
    vertical-align: middle;
    padding-top: 0px;
    padding-bottom: 0px;
    border-color: Gray;
    height: 15px;
  }

.LabelFontStyle1 {
    font-family: Verdana,Sans-serif, Arial, Helvetica;
    font-weight: normal;
    color: Black;
    font-size: 11px;
    text-align: right;
    vertical-align: middle;
    padding-top: 0px;
    padding-bottom: 0px;
    border-color: Gray;
    height: 15px;
  }


  .form-control {
    font-family: Verdana,Sans-serif, Arial, Helvetica;
    font-size: 11px;
    outline: medium none;
    padding: 3px;
    vertical-align: top;
    width: 190px;
    height: 18%;
   border-color: black;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }


  td{
    padding: 6px;
  }
  
  span{
    font-size: xx-small;
    color:red;
    position: absolute;
  }

  .LabelFontStyle1:before{
    content:"*";
    color:rgb(252, 29, 29);
  }


  .btn-primary{
    width: 5em;
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3rem;
    border-color: #2c3e50;
    height: 22px;
    font-size: 11px;
    vertical-align: middle;
    text-align: center;
    line-height: 10px; /* Tamaño de linea */
    width: 5rem;
  }

  .btn-secondary{
    width: 5em;
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3rem;
    border-color: #2c3e50;
    height: 22px;
    font-size: 11px;
    vertical-align: middle;
    text-align: center;
    line-height: 10px; /* Tamaño de linea */
    width: 4rem;
  }



  .btn-primary:hover{
    background-color: #5c9bda;
  }

.modal {
  width: 20rem;
  margin-left: 50%;
  /* margin-left: auto; */
}


  .nav-fill{
      padding: 0;
  }

  .waves-light{
      font-size: 14px;
      font-weight: bold;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .waves-light:hover{
    text-decoration: underline;
  }



.modal-header{
  text-align: center;
}





/* table tbody .GridHeader th {
  position: sticky; top: 0; 
  position: relative; 
} */
