@media (min-width: 992px){
	.dropdown-menu .dropdown-toggle:after{
		border-top: .3em solid transparent;
	    border-right: 0;
	    border-bottom: .3em solid transparent;
	    border-left: .3em solid;
	}
	.dropdown-menu .dropdown-menu{
		margin-left:0; margin-right: 0;
	}
	.dropdown-menu li{
		position: relative;
	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{
		display: block;
	}
}

.navbar-expand-lg{
	background-color: rgb(56, 55, 55);
}

.dropdown-toggle{
	color: white;
}



legend {
	display: block;
	padding-inline-start: 1px;
	padding-inline-end: 1px;
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
	width: fit-content;
}



fieldset {
	display: block;
	margin-inline-start: .30px;
	margin-inline-end: 1px;
	padding-block-start: 0.15em;
	padding-inline-start: 0.75em;
	padding-inline-end: 0.75em;
	padding-block-end: 0.625em;
	min-inline-size: min-content;
	border-width: 10px;
	border-style:solid;
	border-color: threedface;
	border-image: initial;
}

.RFS legend {
	font-size: 1em;
	letter-spacing: 0.05em;
	color: #000 !important;
	
	padding: 2px 5px;
	background: #fefeff;
	border-radius: 3px;
	border: #608cb0 solid 1px;
}

.RFS {
	margin: 1px auto;
	border: 1px solid #608cb0;
	/* padding-bottom: 10px; */
	-moz-border-radius-bottomleft: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 7px;
	-webkit-border-radius: 7px;
	border-radius: 3px;
	/* box-shadow: 2px 10px 15px #ececec inset; */
	min-height: 30px;
	/* background-color: #fefeff; */
	/* width: 100%; */
}