td{
  padding: 0px;
}



.grid_scroll2{
<<<<<<< HEAD
    overflow: auto;
    width: 100%;
    height: 170px;
  }

  .GridFont{
    font-family: "Calibri";
    font-size: 11px;
    color: Black;
    height: 25px;
    background-color: #eeeeee;
    margin-left: auto;
    margin-right: auto;
  }



  .LabelFontStyle4 {
    font-family: Verdana,Sans-serif, Arial, Helvetica;
    font-weight: normal;
    color: Black;
    font-size: 11px;
    text-align: right;
    vertical-align: middle;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 15px;
  }



  .ItemStyle{
    font-size: 15px;
    color: Black;
  }
=======
  overflow: auto;
  width: 100%;
  height: 170px;
}

.GridFont{
  font-family: "Calibri";
  font-size: 11px;
  color: Black;
  height: 25px;
  background-color: #eeeeee;
  margin-left: auto;
  margin-right: auto;
}



.LabelFontStyle4 {
  font-family: Verdana,Sans-serif, Arial, Helvetica;
  font-weight: normal;
  color: Black;
  font-size: 11px;
  text-align: right;
  vertical-align: middle;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 15px;
}



.ItemStyle{
  font-size: 15px;
  color: Black;
}
>>>>>>> 16fe2ae73245d25736e48240b3aca7a8626fc93e
