td{
    padding: 0px;
}

legend {
    display: block;
    padding-inline-start: 1px;
    padding-inline-end: 1px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    width: fit-content;
}



fieldset {
    display: block;
    margin-inline-start: 1px;
    margin-inline-end: 1px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

.RFS legend {
    font-size: 1em;
    letter-spacing: 0.05em;
    color: #000 !important;
    
    padding: 2px 5px;
    background: #fefeff;
    border-radius: 3px;
    border: #608cb0 solid 1px;
}

.RFS {
    margin: 1px auto;
    border: 1px solid #608cb0;
    /* padding-bottom: 10px; */
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 7px;
    -webkit-border-radius: 7px;
    border-radius: 3px;
    /* box-shadow: 2px 10px 15px #ececec inset; */
    min-height: 30px;
    /* background-color: #fefeff; */
    /* width: 100%; */
}

.grid_scroll1{
    overflow: auto;
     height: 300px; 
    width: 100%;
    }



    /* .LabelFontStyle1:before{
        content:"*";
        color:rgb(252, 29, 29);
      }

      .LabelFontStyle {
        font-family: Verdana,Sans-serif, Arial, Helvetica;
        font-weight: normal;
        color: Black;
        font-size: 11px;
        text-align: right;
        vertical-align: middle;
        padding-top: 0px;
        padding-bottom: 0px;
        border-color: Gray;
        height: 15px;
      } */
      
      /* .LabelFontStyle1 {
        font-family: Verdana,Sans-serif, Arial, Helvetica;
        font-weight: normal;
        color: Black;
        font-size: 11px;
        text-align: right;
        vertical-align: middle;
        padding-top: 0px;
        padding-bottom: 0px;
        border-color: Gray;
        height: 15px;
      } */


.href{
    color: blue;
    font-size: medium;
    font-family: Verdana,Sans-serif, Arial, Helvetica;    
}
