<div class="center">
    <table style="width: 100%;background-color: white;">
        <tr>
            <td class="PageHeader">
                &nbsp;&nbsp;RECEIVABLE&nbsp;TRANSACTION&nbsp;TYPE&nbsp;MASTER
            </td>
        </tr>
    </table>

    <div class="center" style="width: 100%;">
        <div class="form-bg">
            <div class="center" style="width: 100%;">
                <form [formGroup]="recTransTypeMasterForm" (ngSubmit)="recTransTypeMaster(recTransTypeMasterForm.value)">

                     <table class="center">
                        <tr>
                       <td> <input  style="width:50px ;" hidden disabled type="text"  formControlName="loginArray" class="form-control" [(ngModel)]="loginArray"></td>
                       <td> <input  style="width:30px ;" hidden disabled type="text"  formControlName="ouId"       class="form-control" [(ngModel)]="ouId" ></td>
                       <td> <input  style="width:30px ;" hidden disabled type="text"  formControlName="locId"      class="form-control" [(ngModel)]="locId" ></td>
                       <td> <input  style="width:30px ;" hidden disabled type="text"  formControlName="deptId"     class="form-control" [(ngModel)]="deptId"></td>
                       <td> <input  style="width: 30px;" hidden disabled type="text"  formControlName="emplId"     class="form-control" [(ngModel)]="emplId"> </td>
                       </tr>
                    </table>

                    <fieldset class="RFS">
                        <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 10px;color: black;">Transaction Type Master Details</legend>
                        <table class="center">
                            <tr>

                                <td style="width: 15%" class="LabelFontStyle">Division&nbsp;:&nbsp;</td>
                                <td><input   type="text" formControlName="loginArray"  id="loginArray" [(ngModel)]="loginArray"  class="form-control" placeholder="Trans Type Description " style="background-color: yellow;"  > </td>



                                <td style="width: 15%" class="LabelFontStyle">Op&nbsp;Unit:&nbsp;</td>

                                <td>
                                    <select   formControlName="ouId" id="ouId" [(ngModel)]="ouId"  class="form-control"    style="background-color: yellow;"  >
                                        <!-- (ngModelChange)='onOuIdSelected($event)' -->

                                    <option disabled >--Select--</option>
                                    <option *ngFor="let sc of  OUIdList" [ngValue]="sc.ouId">
                                       {{sc.ouId}}-{{sc.ouName}}
                                    </option>
                                    </select>
                                </td>

                                <td style="width: 15%" class="LabelFontStyle">Dept&nbsp;:</td>

                                <td>
                                    <select formControlName="deptId" id="deptId" [(ngModel)]="deptId" class="form-control" style="background-color: yellow;" >
                                        <option disabled>--Select--</option>
                                        <option *ngFor="let sc of  DepartmentList" [ngValue]="sc.cmnTypeId"  >
                                            {{sc.cmnTypeId}}-{{sc.code}}
                                        </option>
                                    </select>
                                </td>



                            </tr>

                            <tr>

                                <td style="width: 15%" class="LabelFontStyle">Class:&nbsp;</td>
                                <td>
                                    <select formControlName="type" id="type" [(ngModel)]="type" class="form-control" style="background-color: yellow;"
                                          >
                                        <option disabled>--Select--</option>
                                        <option *ngFor="let sc of  classTypeList" [ngValue]="sc.code"  >
                                            {{sc.codeDesc}}-{{sc.code}}
                                        </option>
                                    </select>
                                </td>

                                <td style="width: 15%" class="LabelFontStyle">Name&nbsp;:&nbsp;</td>
                                <td><input    type="text" formControlName="transTypeName"  id="transTypeName" [(ngModel)]="transTypeName" class="form-control" placeholder="Trans Type Name" style="background-color: yellow;"   > </td>
                                <td style="width: 15%" class="LabelFontStyle">Description:&nbsp;</td>
                                <td><input   type="text" formControlName="transTypeDesc"  id="transTypeDesc" [(ngModel)]="transTypeDesc"  class="form-control" placeholder="Trans Type Description " style="background-color: yellow;"  > </td>


                            </tr>



                            <tr>
                                <td style="width: 15%" class="LabelFontStyle">Creation&nbsp;Sign:&nbsp;</td>
                                <td>
                                 <select formControlName="creationSign" id="creationSign" class="form-control"  [(ngModel)]="creationSign"
                                     style="background-color: yellow;">
                                     <!-- (ngModelChange)="onSelectionRevStatus($event)" -->
                                      <option value="Any">Any</option>
                                      <option value="Positive">Positive</option>
                                      <option value="Negative">Negative</option>
                                     </select>
                                 </td>


                                <td style="width: 15%" class="LabelFontStyle">Cr&nbsp;Memo&nbsp;Type:&nbsp;</td>
                                <!-- <td><input   type="text" formControlName="creditMemoType"  id="creditMemoType" [(ngModel)]="creditMemoType"  class="form-control"  style="background-color: yellow;" placeholder="LOV"> </td> -->
                                <td>
                                    <select formControlName="creditMemoTypeId" id="creditMemoTypeId" [(ngModel)]="creditMemoTypeId" class="form-control" style="background-color: yellow;" >
                                        <option disabled>--Select--</option>
                                        <option *ngFor="let sc of  creditMemoTypeList" [ngValue]="sc.creditMemoTypeId"  >
                                            {{sc.creditMemoTypeId}}-{{sc.name}}
                                        </option>
                                    </select>
                                </td>



                                <td style="width: 15%" class="LabelFontStyle">Category&nbsp;Base:&nbsp;</td>

                                    <td>
                                        <select formControlName="attributeCategory" id="attributeCategory" [(ngModel)]="attributeCategory" class="form-control" style="background-color: yellow;" >
                                            <option disabled>--Select--</option>
                                            <option *ngFor="let sc of  categoryBaseList" [ngValue]="sc.code"  >
                                                {{sc.codeDesc}}-{{sc.code}}
                                            </option>
                                        </select>
                                    </td>




                                </tr>





                        <tr>
                            <td  style="width: 15%" class="LabelFontStyle"> Open&nbsp;Receivable&nbsp;: </td>
                                <td>
                                    <div *ngIf="selfAssesedFagDiss">
                                       <input  type="checkbox"  name="selfAssesedFlag" formControlName="selfAssesedFlag"  [(ngModel)]="selfAssesedFlag"  (change)="selfAssesedFlg($event)">
                                    </div>
                                    <div *ngIf="TRUEs">
                                        <input  type="checkbox"  name="selfAssesedFlag" [formControl]="selfAssesedFlag"  [(ngModel)]="selfAssesedFlag" (change)="selfAssesedFlag=$event.target.checked?'Y':'N'">
                                    </div>
                                    <div *ngIf="FALSEs">
                                        <input  type="checkbox" checked   id="selfAssesedFlag" [formControl]="selfAssesedFlag"   value="selfAssesedFlag" [(ngModel)]="selfAssesedFlag" (change)="selfAssesedFlag=$event.target.checked?'Y':'N'">
                                    </div>

                                </td>

                                <td  style="width: 15%" class="LabelFontStyle">Post&nbsp;To&nbsp;GL&nbsp;:</td>
                                <td>


                                    <div *ngIf="offsetFlagFagDiss">
                                          <input  type="checkbox"  name="offsetFlag" formControlName="offsetFlag"  [(ngModel)]="offsetFlag"   (change)="offsetFlg($event)">
                                        </div>
                                        <div *ngIf="TRUEo">
                                            <input  type="checkbox"  name="offsetFlag" [formControl]="offsetFlag"  [(ngModel)]="offsetFlag" (change)="offsetFlag=$event.target.checked?'Y':'N'">
                                        </div>
                                        <div *ngIf="FALSEo">
                                            <input  type="checkbox" checked   id="offsetFlag" [formControl]="offsetFlag"   value="offsetFlag" [(ngModel)]="offsetFlag" (change)="offsetFlag=$event.target.checked?'Y':'N'">
                                        </div>
                                </td>



                            <td  style="width: 15%" class="LabelFontStyle">Allow&nbsp;Adjustment&nbsp;Posting&nbsp;:</td>

                            <td>
                                <div *ngIf="recFlagDiss">
                                    <input  type="checkbox"  name="recoverableFlag" formControlName="recoverableFlag"  [(ngModel)]="recoverableFlag"  (change)="recoverableFlg1($event)">
                                </div>
                                <div *ngIf="TRUER">
                                    <input  type="checkbox"  name="recoverableFlag" [formControl]="recoverableFlag"  [(ngModel)]="recoverableFlag" (change)="recoverableFlag1=$event.target.checked?'Y':'N'">
                                </div>
                                <div *ngIf="FALSER">
                                    <input  type="checkbox" checked   id="recoverableFlag" [formControl]="recoverableFlag"   [(ngModel)]="recoverableFlag" (change)="recoverableFlag1=$event.target.checked?'Y':'N'">
                                </div>

                            </td>

                        </tr>
                        <tr>
                            <td style="width: 15%" class="LabelFontStyle">Trans&nbsp;Status:&nbsp;</td>
                            <td>
                            <select formControlName="tranStatus" id="tranStatus" class="form-control"  [(ngModel)]="tranStatus"
                                style="background-color: yellow;"  (ngModelChange)="onOptionsSelected($event)">
                                <option value="Open">Open</option>
                                <option value="Closed">Closed</option>
                            </select>
                            </td>

                            <td style="width: 15%" class="LabelFontStyle">Start&nbsp;Date:&nbsp;</td>
                            <td><input    type="date" formControlName="startDate"  id="startDate" [(ngModel)]="startDate" class="form-control"
                            style="background-color: yellow;"  max="{{minDate | date:'yyyy-MM-dd'}}" > </td>


                            <td style="width: 15%" class="LabelFontStyle">End&nbsp;Date&nbsp;:&nbsp;</td>
                            <td><input  disabled  type="date" formControlName="endDate"  id="endDate" [(ngModel)]="endDate"  class="form-control"  > </td>



                        </tr>

                        <tr>


                            <td style="width: 15%" class="LabelFontStyle">Receivable A/c:&nbsp;</td>
                            <td colspan="2">
                                <select formControlName="glIdRecAcct" id="glIdRecAcct" [(ngModel)]="glIdRecAcct" class="form-control"
                                                (ngModelChange)='onGlRecAcctSelected($event)' style="background-color: yellow;width: 100%;" >
                                    <option disabled>--Select--</option>
                                    <option *ngFor="let sc of  receivableAccountList" [ngValue]="sc.lookupValue"  >
                                        {{sc.lookupValue}}-{{sc.lookupValueDesc}}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 15%" class="LabelFontStyle">Revenue A/c:&nbsp;</td>
                            <td colspan="2">
                                <select formControlName="glIdRevAcct" id="glIdRevAcct" [(ngModel)]="glIdRevAcct" class="form-control"
                                                  (ngModelChange)='onGlRevAcctSelected($event)'style="background-color: yellow; width: 100%;" >
                                    <option disabled>--Select--</option>
                                    <option *ngFor="let sc of  revenueAccountList" [ngValue]="sc.lookupValue"  >
                                        {{sc.lookupValue}}-{{sc.lookupValueDesc}}
                                    </option>
                                </select>
                            </td>

                        </tr>

                    </table>
                    </fieldset>
                    <br>

                      <!-- ===================================Buttons======================================== -->
                    <!-- <br> -->
                    <table class="center">
                        <tr>
                            <div *ngIf="displayButton; then thenBlock1; else elseBlock1"></div>
                            <ng-template #thenBlock1>
                                <td>
                                    <button type="button" class="btn btn-info" (click)="newMast()" [disabled]="!orderTypeMasterForm">Save</button>
                                </td>

                                <td>
                                    <button type="button" class="btn btn-info" (click)="searchMast()">Search</button>
                                </td>

                                    <!-- ====================Reset Dialog ======================== -->

                <td>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Reset</button>
                </td>
                 <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <label style="font-size: small; color: black;font-weight: bold; text-align:center;vertical-align: middle;">
                                <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                                Want&nbsp;to&nbsp;Reset. &nbsp;Confirm&nbsp;(Yes/No)?&nbsp;
                            </label>
                        </div>
                        <div class="modal-footer">
                            <table class="center">
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-info" id="register" (click)="resetMast()">Yes</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>

                        <!-- =====================Close Dialog Box====================== -->
                        <td>
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalLong">Close</button>
                        </td>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <label style="font-size: small; color: black; font-weight: bold; text-align: center; vertical-align: middle;">
                                        <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                                        Want&nbsp;to&nbsp;Close.&nbsp;Confirm&nbsp;(Yes/No)?&nbsp;
                                    </label>
                                </div>
                                <div class="modal-footer">
                                    <table class="center">
                                        <tr>
                                            <td>
                                            <button  type="submit" class="btn btn-info" data-dismiss="modal" id="register"   (click)="closeMast()">Yes</button>
                                            </td>
                                            <td>
                                            <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            </div>
                        </div>

                        <!-- ==================================================== -->

                                    </ng-template>
                                    <ng-template #elseBlock1>

                                            <td>
                                                <button type="button" class="btn btn-info" (click)="updateMast()"[disabled]="!orderTypeMasterForm">Update</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-info" (click)="searchMast()">Search</button>
                                            </td>
                                            <!-- <td>
                                                <button type="submit" class="btn btn-primary" id="register" (click)="resetMast()">Reset</button>
                                            </td>
                                            <td>
                                                <button type="submit" class="btn btn-primary" id="register" (click)="closeMast()">Close</button>
                                            </td> -->
 <!-- ====================Reset Dialog ======================== -->

 <td>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Reset</button>
</td>
<!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <label style="font-size: small; color: black;font-weight: bold; text-align:center;vertical-align: middle;">
                            <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                            Want&nbsp;to&nbsp;Reset. &nbsp;Confirm&nbsp;(Yes/No)?&nbsp;
                        </label>
                    </div>
                    <div class="modal-footer">
                        <table class="center">
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-primary" id="register" (click)="resetMast()">Yes</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                </div>
            </div>

                    <!-- =====================Close Dialog Box====================== -->
                    <td>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalLong">Close</button>
                    </td>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <label style="font-size: small; color: black; font-weight: bold; text-align: center; vertical-align: middle;">
                                    <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                                    Want&nbsp;to&nbsp;Close.&nbsp;Confirm&nbsp;(Yes/No)?&nbsp;
                                </label>
                            </div>
                            <div class="modal-footer">
                                <table class="center">
                                    <tr>
                                        <td>
                                        <button  type="submit" class="btn btn-primary" data-dismiss="modal" id="register"   (click)="closeMast()">Yes</button>
                                        </td>
                                        <td>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        </div>
                    </div>

                    <!-- ==================================================== -->


                                    </ng-template>
                                </tr>
                            </table>



                                <!-- ============================= -->

                <!-- --------------------------------------------------------------------------------- -->
                </form>
            </div>
        </div>
    </div>

</div>
