<div class="center">
    <form [formGroup]="stockTranferForm" (ngSubmit)="stockTransfer(stockTranferForm.value)">
    <table style="width: 100%;background-color: white;">
        <tr>
            <!-- class="PageHeader" -->
            <td class="PageHeader">
                &nbsp;&nbsp;Stock Transfer Form &nbsp;
            </td>
  
  
        <table style="width: 100%; background-color: #a4d3e9;">
          <tr>
              <td style="width: 15%" class="LabelFontStyle">Stock&nbsp;Transfer&nbsp;Form&nbsp;:</td>
              <td>
                  <input type="text"  class="form-control" formControlName="ShipmentNo" id="ShipmentNo" name="ShipmentNo" #reqNo>
              </td>
              <td colspan="8" style="text-align: left; width: 100%;">
                  <button type="submit" class="btn btn-primary" ><i class="fa fa-search"></i></button>
              </td>
          </tr>
      </table>
      </tr>
    </table>
    <div class="center" style="width: 100%;">
      <!-- <form [formGroup]="moveOrderForm" (ngSubmit)="MoveOrder(moveOrderForm.value)"> -->
       <table class="center">
          <tr>
            <td style="width: 15%" class="LabelFontStyle">
              Shipment Number:
            </td>
            <td>
              <input disabled type="text" class="form-control">
            </td>
            <td style="width: 15%" class="LabelFontStyle">
              To Organization:
            </td>
            <td>
              <input type="text" class="form-control">
            </td>
            <td style="width: 15%" class="LabelFontStyle">
              Shipment Date:
            </td>
            <td>
              <input type="date" class="form-control" >
            </td>
  
            <td>
              <!-- <input type="hidden" formControlName="locId" [(ngModel)]="locId"> -->
            </td>
          </tr>
          <tr>
            <td style="width: 15%" class="LabelFontStyle">
              Eway Bill Number:
            </td>
            <td>
              <input type="text" class="form-control">
            </td>
            <td style="width: 15%" class="LabelFontStyle">
              Eway Bill Date:
            </td>
            <td>
              <input type="date" class="form-control">
            </td>
            <td style="width: 15%" class="LabelFontStyle">
              Remark:
            </td>
            <td>
              <input type="text" class="form-control" >
            </td>
          </tr>
          <tr>
            <td style="width: 15%" class="LabelFontStyle">
              Request By:
            </td>
            <td>
              <select type="text" class="form-control">
                <option>--Select--</option>
                </select>
            </td>
            <td style="width: 15%" class="LabelFontStyle">
              Request To:
            </td>
            <td>
              <select type="text" class="form-control">
                <option>--Select--</option>
                </select>
            </td>
            <td style="width: 15%" class="LabelFontStyle">
              Status:
            </td>
            <td>
              <input type="text" class="form-control" >
            </td>
          </tr>
  
        </table>
        <br>
        <div formArrayName="trxLinesList">
        <div class="grid_scroll">
  
          <table class="center">
            <tr>
              <td>
                <div class="grid_scroll">
            <table  style="width:100%; border-collapse:collapse;" cellspacing="0"
            cellpadding="4" class="auto-style4" class="GridFont">
              <thead>
                  <tr class="GridHeader">
                          <th scope="col">Srl No.</th>
                          <th scope="col">Item Code</th>
                          <th scope="col">Item Description</th>
                          <th scope="col">UOM</th>
                          <th scope="col">Subinventory</th>
                          <th scope="col">Price</th>
                          <th scope="col">Locator</th>
                          <th scope="col">Quantity</th>
                          <th scope="col">Reason</th>
                          <th scope="col">Add</th>
                          <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <input type="number" hidden formControlName="trxLineId">
                  </tr>
                <ng-container *ngFor="let trxLinesLists of trxLinesList().controls; let trxLineIndex=index" [formGroupName]="trxLineIndex">
                  <td><input type="text" class="form-control"  style="height: 20px;width: 50px;" >
                   </td>
                  <td><select  class="form-control" style="height: 20px;" formControlName="invItemId">
                    <option>--Select--</option>
                    <option *ngFor="let invId of ItemIdList" [ngValue]="invId.itemId">{{item.SEGMENT}}</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control" style="height: 20px;"></td>
                  <td><input type="text" class="form-control" style="height: 20px;width: 70px;" ></td>
                  <td><select class="form-control" style="height: 20px; width: 110px;" >
                    <option>--Select--</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control" style="height: 20px;width: 70px;"></td>
                  <td><input type="text" class="form-control" style="height: 20px; width: 110px;" ></td>
                  <td><input type="text" class="form-control" style="height: 20px;width: 50px;"></td>
                  <td><input type="text" class="form-control" style="height: 20px;width: 50px;" ></td>
                  <td><button type="button" class="btn btn-primary fa fa-plus"  style="width: 2rem;" (click)="addnewtrxLinesList()"></button></td>
                  <td><button type="button" class="btn btn-primary fa fa-trash"style="width: 2rem;" ></button></td>
                </ng-container>
                </tbody>
            </table>
          </div>
          </td>
          </tr>
          </table>
          </div>
        </div>
    </div>
  
          <table class="center">
            <tr>
               <td>
                <button type="submit" class="btn btn-primary" >Close</button>
              </td>
              <td>
                <button type="submit" class="btn btn-primary" >Reset</button>
              </td>
              <td>
                <button type="submit" class="btn btn-primary">New</button>
              </td>
  
            </tr>
          </table>
      <!-- </form> -->
  
  </form>
    </div>
  
  
  