<form [formGroup]="bulkUploadCSVForm" (ngSubmit)="bulkUploadCSV(bulkUploadCSVForm.value)">
    <!-- <br> -->
    <table style="width: 100%;background-color: white;">
        <tr>
            <td class="PageHeader">
                Purchase&nbsp;Order&nbsp;Upload&nbsp;
            </td>
        </tr>
        </table>
    <table class="center">
        <tr>
            <td class="LabelFontStyle">
                &nbsp;&nbsp;Location&nbsp;ID&nbsp;:&nbsp;
            </td>
            <td>
                <input type="text" class="form-control" disabled formControlName="location" style="width: 100px;" >
            </td>
            <td class="LabelFontStyle">
                &nbsp;&nbsp;User&nbsp;Name&nbsp;:&nbsp;
            </td>
            <td>
                <input disabled type="text" class="form-control"  formControlName="userName"  >
            </td>
        </tr>
        <tr>  
            <td class="LabelFontStyle">
                &nbsp;&nbsp;Invoice&nbsp;No&nbsp;:&nbsp;
            </td>
            <td>
                <input type="text" class="form-control"  formControlName="invcNo"  >
                <div *ngIf="submitted && f.invcNo.errors" class="invalid-feedback">
                    <div *ngIf="f.invcNo.errors.required">Code cannot be blank</div>
                </div>
            </td>
            <td class="LabelFontStyle">
                &nbsp;&nbsp;Invoice&nbsp;Date&nbsp;:&nbsp;
            </td>
            <td>
                <input type="date" class="form-control"  formControlName="invcDt1" onkeydown="return false"  max="{{minDate | date:'yyyy-MM-dd'}}" >
            </td>
            <div *ngIf="submitted && f.invcDt1.errors" class="invalid-feedback">
                <div *ngIf="f.invcDt1.errors.required">Code cannot be blank</div>
            </div>
        </tr>
        <tr>
            <td class="LabelFontStyle">
                &nbsp;&nbsp;Supplier&nbsp;No&nbsp;:&nbsp;
            </td>
                        <td>
                <input type="text" formControlName="supplierNo"
                    (keyup)="getUserIdsFirstWay($event)" id="userIdFirstWay"
                    list="dynmicUserIds" class="form-control" placeholder="Supplier details"
                    (ngModelChange)="onSupplierCodeSelected($event)" />
                <datalist id="dynmicUserIds">
                    <option *ngFor="let item of supplierCodeList" [ngValue]="item.suppNo">
                        {{item.name}}@{{item.suppNo}}</option>
                </datalist>
                <div *ngIf="submitted && f.supplierNo.errors" class="invalid-feedback">
                    <div *ngIf="f.supplierNo.errors.required">Code cannot be blank</div>
                </div>
            </td>
       
            <td class="LabelFontStyle">
                &nbsp;&nbsp;Supplier&nbsp;Site&nbsp;:&nbsp;
            </td>
            <td>
                <select formControlName="supplierSite" id="supplierSite" #myinput
                data-live-search="true" 
                class="form-control">
                <option>--Select--</option>
                <option *ngFor="let sc of  suppIdList">
                    {{sc.siteName}}
                </option>
            </select>
            <div *ngIf="submitted && f.supplierSite.errors" class="invalid-feedback">
                <div *ngIf="f.supplierSite.errors.required">Code cannot be blank</div>
            </div>
            </td>
        </tr>
        <tr>
         <td colspan="6" style="width: 100%;padding-top: 0px;">
            <table style="width: 50%;padding-top: 0px;">
                <tr>
                   <td class="LabelFontStyle">
                       &nbsp;&nbsp;Select&nbsp;CSV&nbsp;:&nbsp;
                   </td>
                   <td colspan="3">
                       <input class="form-control" type="file" #fileInput  accept=".csv" formControlName="file" style="vertical-align: middle;margin-top: 22px;width: 350px;">&nbsp;&nbsp;  
                   </td>
                   <td>
                       <button  class="btn btn-primary" (click)="uploadCSVFile($event)" style="width: 100%;font-size: 11px;">Upload</button>
                   </td>
                    <div *ngIf="itemButton1; then thenBlockitemButton; else elseBlockitemButton"></div>
                        <ng-template #thenBlockitemButton>
                        </ng-template>
                        <ng-template #elseBlockitemButton>    
         <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="width: 8rem;">
                Item&nbsp;Not&nbsp;Found&nbsp;List
              </button>
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                     <table style="width: 100%;">
                    <tr>
                        <td colspan="4" style="color: black;">
                            ErrorCode-101&nbsp;:&nbsp;Item&nbsp;Not&nbsp;found&nbsp;in&nbsp;Master
                        </td>
                    </tr>
                    </table>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12 table-responsive" #epltable>
                            <div style="padding-bottom: 10px;padding-top: 10px;">
                             <div class="row">
                              <div class="col-sm-12">
                               <button (click)="exportToExcel()" class="btn btn-success">Export To Excel</button> 
                              </div>
                             </div>
                            </div>
                        <table class="auto-style4" class="GridFont" cellspacing="0" cellpadding="4" border="0" style="border-color:#959595;border-collapse:collapse;width: 100%;">
                            <tr class="GridHeader" style="font-size: 14px;">
                                <th scope="col" >Item</th>
                                <th scope="col">Item&nbsp;Description</th> 
                                <th scope="col">Tax&nbsp;Percentage</th> 
                                <th scope="col">HSN&nbsp;SAC&nbsp;Code</th> 
                                <th scope="col">PO&nbsp;Charge&nbsp;Account</th> 
                                <th scope="col">Error&nbsp;Description&nbsp;</th>
                                
                            </tr>
                            <tr *ngFor="let com of itemList" class="ItemStyle" style="text-decoration:none;font-size: 14px;">
                                <td style="border: 1px solid black;padding-left: 5px;">{{com.segment}}</td>  
                                <td style="border: 1px solid black;padding-left: 5px;">{{com.description}}</td>
                                <td style="border: 1px solid black;padding-left: 5px;">{{com.isTaxable}}</td>
                                <td style="border: 1px solid black;padding-left: 5px;">{{com.hsnSacCode}}</td>
                                <td style="border: 1px solid black;padding-left: 5px;">{{com.poChargeAccount}}</td>
                                <td style="border: 1px solid black;padding-left: 5px;">{{com.attribute1}}</td>
                                       
                            </tr>
                        </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="refresh()">Close</button>
                    </div>
                  </div>
                </div>
              </div>
                     </td>
                    </ng-template>
                </tr>
            </table>
         </td>
        
        </tr>
    </table>
    <table class="center" cellspacing="0" cellpadding="4" border="0"  style="border-color:#959595;border-collapse:collapse;">
        <tr class="GridHeader" style="font-size: 14px;">
            <th scope="col" style="border: 1px solid black;width: 250px;">PO Number</th>
            <th scope="col" style="border: 1px solid black;">Base Amount</th>
            <th scope="col" style="border: 1px solid black;">Total Tax Amount</th>
            <th scope="col" style="border: 1px solid black;">Total Amount</th>
            <th scope="col" style="border: 1px solid black;width: 200px;">PO Status</th>
            <th scope="col" style="border: 1px solid black;width: 200px;">PO Date</th>
        </tr>
        <tr *ngFor="let com of poDetails" class="ItemStyle" style="text-decoration:none;font-size: 14px;">
          <td style="border: 1px solid #000000;padding-left: 5px;padding-top: 10px;text-align: center;">
            <a   [routerLink]="['/admin/master/OPMasterDto',com.segment1]" href="{{segment1}}">{{com.segment1}}</a>
        </td>
            <td style="border: 1px solid black;padding-right: 15px;text-align: right;">{{com.baseAmount}}</td>
            <td style="border: 1px solid black;padding-right: 15px;text-align: right;">{{com.totTaxAmt}}</td>
            <td style="border: 1px solid black;padding-right: 15px;text-align: right;">{{com.totalAmt}}</td>
            <td style="border: 1px solid black;padding-right: 15px;text-align: center;">{{com.authorizationStatus}}</td>
            <td style="border: 1px solid black;padding-right: 5px;text-align: center;width: 30px;">{{com.poDate}}</td>
        </tr>
    </table>
    <table class="center">
        <tr>
            <td>
                <button type="submit" class="btn btn-primary" id="register" (click)="refresh()">
                    Clear
                </button>
            </td>
            <td>
                <button type="submit" (click)="close()" class="btn btn-primary">Close</button>
            </td>
        </tr>
    </table>
    <!-- <button class="btn btn-primary" (click)="routeOMAndCSPage(2111022111889)" style="width: fit-content;">2111022111889</button>  -->
    <!-- <table class="table"  *ngIf="records.length > 0">
        <thead class="GridFont" >
          <tr>
            <th scope="col">PO</th>
            <th scope="col">Part</th>
            <th scope="col">PartName</th>
            <th scope="col">HSNCode</th>
            <th scope="col">UOM</th>
            <th scope="col">Location</th>
            <th scope="col">Account</th>
            <th scope="col">SupplierInvoiceQty</th>
            <th scope="col">TransporterDamagedQty</th>
            <th scope="col">TransporterShortageQty</th>
            <th scope="col">TransitReceivedQty</th>
            <th scope="col">ActualReceivedQty</th>
            <th scope="col">WarehouseShortage</th>
            <th scope="col">WarehouseDamage</th>
            <th scope="col">WarehouseExcessQty</th>
            <th scope="col">Remark</th>
            <th scope="col">BaseAmount</th>
            <th scope="col">CESS</th>
            <th scope="col">UTGST</th>
            <th scope="col">SGSTUTGST</th>
            <th scope="col">CGST</th>
            <th scope="col">IGST</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr class="ItemStyle" *ngFor="let record of records;let i = index;">
            <td >{{record.PO}}</td>
            <td >{{record.Part}}</td>
            <td >{{record.PartName}}</td>
            <td >{{record.HSNCode}}</td>
            <td >{{record.UOM}}</td>
            <td >{{record.Location}}</td>
            <td >{{record.Account}}</td>
            <td >{{record.SupplierInvoiceQty}}</td>
            <td >{{record.TransporterDamagedQty}}</td>
            <td >{{record.TransporterShortageQty}}</td>
            <td >{{record.TransitReceivedQty}}</td>
            <td >{{record.ActualReceivedQty}}</td>
            <td >{{record.WarehouseShortage}}</td>
            <td >{{record.WarehouseDamage}}</td>
            <td >{{record.WarehouseExcessQty}}</td>
            <td >{{record.Remark}}</td>
            <td >{{record.BaseAmount}}</td>
            <td >{{record.CESS}}</td>
            <td >{{record.UTGST}}</td>
            <td >{{record.SGSTUTGST}}</td>
            <td >{{record.CGST}}</td>
            <td >{{record.IGST}}</td>
            <td >{{record.Amount}}</td>
          </tr>
      
        </tbody>
      </table> -->

</form>
