<div class="center">
    <table style="width: 100%;background-color: white;">
        <tr>
            <td class="PageHeader">
                &nbsp;Receipt&nbsp;Method&nbsp;
            </td>
        </tr>
    </table>
     <form [formGroup]="receiptForm" (ngSubmit)="save()">

        <div class="center" style="width: 100%;">
            <div class="form-bg">
                <div class="center" style="width: 100%;">
                    <fieldset class="RFS">
                        <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 10px;color: black;"> Details
                        </legend>
                        <table class="center" style="width: 100%;">
                            <tr>
                                <td>
                                    <table class="center">
                                        <tr>
                                        <tr style="align-items: center;">
                                            <td style="width: 15%" class="LabelFontStyle"> &nbsp;Method&nbsp;Type:&nbsp;
                                            </td>
                                            <td>
                                               <select  class="form-control" formControlName="methodType">
                                                <option value="">--Select--</option>
                                                        <option *ngFor="let sc of  MethodTypeList"
                                                            [value]="sc.lookupValue">
                                                            {{sc.lookupValue}}

                                                </option>
                                               </select>


                                            </td>
                                            <td style="width: 15%" class="LabelFontStyle"> &nbsp;Method&nbsp;Name:&nbsp;
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" formControlName="methodName" >


                                            </td>

                                            

                                            <td style="width: 15%" class="LabelFontStyle">
                                                &nbsp;&nbsp;Cost &nbsp;Center:&nbsp; </td>
                                              <td>
                                                    <select formControlName="costCentre"
                                                        class="form-control" >
                                                        <option value="">--Select--</option>
                                                        <option *ngFor="let sc of  CostCenterList"
                                                            [value]="sc.lookupValue" >
                                                            {{sc.lookupValue}}

                                                        </option>
                                                    </select>
                                                </td>

                                        </tr>

                                         <tr>
                                        <tr style="align-items: center;">
                          

                                            <td style="width: 15%" class="LabelFontStyle"> &nbsp;Status&nbsp;:&nbsp;
                                            </td>
                                            <td style="border: none;color: black;">
                                                <select formControlName="Status" class="form-control" >
                                                    <option value="">--Select Status--</option>
                                                    <option value="ACTIVE"> Active</option>
                                                    <option value="INACTIVE"> Inactive</option>
                                                </select>


                                            </td>

                                            <td style="width: 15%" class="LabelFontStyle">
                                                &nbsp;&nbsp;Start  &nbsp;Date:&nbsp; </td>
                                            <td>
                                               <input type="date" class="form-control" formControlName="startDate" >


                                            </td>
                                             <td style="width: 15%" class="LabelFontStyle">
                                                &nbsp;&nbsp;End &nbsp;Date:&nbsp; </td>
                                            <td>
                                               <!-- <input type="date" class="form-control" formControlName="endDate" [disabled]="receiptForm.get('Status')?.value === 'ACTIVE'"> -->
                                               <input type="date" class="form-control" [min]="todayDate" formControlName="endDate">

                                            </td>

                                        </tr>

                                        <tr>
                                        <tr style="align-items: center;">
                                               <td style="width: 15%" class="LabelFontStyle">
                                                &nbsp;&nbsp;Refund&nbsp;CCID:&nbsp;</td>
                                            <td>
                                             
                                                <select formControlName="refundccId"  
                                                        class="form-control">
                                                        <option value="">--Select--</option>
                                                        <option *ngFor="let sc of  NaturalAccountList"
                                                            [value]="sc.lookupValue">
                                                            {{sc.lookupValue}}
                                                        </option>
                                                    </select>


                                            </td>
                                         

                                            <td style="width: 15%" class="LabelFontStyle"> &nbsp;Earned&nbsp;CCID:&nbsp;
                                            </td>
                                            <td style="border: none;color: black;">
                                                 <select formControlName="earnedccId"  
                                                        class="form-control" >
                                                        <option value="">--Select--</option>
                                                        <option *ngFor="let sc of  NaturalAccountList"
                                                            [value]="sc.lookupValue">
                                                            {{sc.lookupValue}}
                                                        </option>
                                                    </select>


                                            </td>

                                            <td style="width: 15%" class="LabelFontStyle">
                                                &nbsp;&nbsp;OnAccount  &nbsp;CCID:&nbsp; </td>
                                            <td>
                                               
                                                <select formControlName="onaccountccId"  
                                                        class="form-control">
                                                        <option value="">--Select--</option>
                                                        <option *ngFor="let sc of  NaturalAccountList"
                                                            [value]="sc.lookupValue">
                                                            {{sc.lookupValue}}
                                                        </option>
                                                    </select>


                                            </td>

                                        </tr>

                                         <tr>
                                        <tr style="align-items: center;">
                                            <td style="width: 15%" class="LabelFontStyle"> &nbsp;Receipt&nbsp;Clearing&nbsp;CCID:&nbsp;
                                            </td>
                                            <td>
                                             
                                                 <select formControlName="receiptclearingccId"  
                                                        class="form-control">
                                                        <option value="">--Select--</option>
                                                        <option *ngFor="let sc of  NaturalAccountList"
                                                            [value]="sc.lookupValue">
                                                            {{sc.lookupValue}}
                                                        </option>
                                                    </select>

                                            </td>

                                            <td style="width: 15%" class="LabelFontStyle"> &nbsp;Remittance&nbsp;CCID:&nbsp;
                                            </td>
                                            <td style="border: none;color: black;">
                                             
                                                 <select formControlName="remittanceccId"  
                                                        class="form-control">
                                                        <option value="">--Select--</option>
                                                        <option *ngFor="let sc of  NaturalAccountList"
                                                            [value]="sc.lookupValue">
                                                            {{sc.lookupValue}}
                                                        </option>
                                                    </select>


                                            </td>

                                            <td style="width: 15%" class="LabelFontStyle">
                                                &nbsp;&nbsp;Unearned  &nbsp;CCID:&nbsp; </td>
                                            <td>
                                       
                                                <select formControlName="unearnedccId"  
                                                        class="form-control">
                                                        <option value="">--Select--</option>
                                                        <option *ngFor="let sc of  NaturalAccountList"
                                                            [value]="sc.lookupValue">
                                                            {{sc.lookupValue}}
                                                        </option>
                                                    </select>


                                            </td>

                                        </tr>

                                        <tr style="align-items: center;">
                                            <td style="width: 15%" class="LabelFontStyle"> &nbsp;Unidentified&nbsp;CCID:&nbsp;
                                            </td>
                                            <td>
                                             
                                                 <select formControlName="unidentifiedccId"  
                                                        class="form-control">
                                                        <option value="">--Select--</option>
                                                        <option *ngFor="let sc of  NaturalAccountList"
                                                            [value]="sc.lookupValue">
                                                            {{sc.lookupValue}}
                                                        </option>
                                                    </select>


                                            </td>

                                            <td style="width: 15%" class="LabelFontStyle"> &nbsp;Unapplied&nbsp;CCID:&nbsp;
                                            </td>
                                            <td style="border: none;color: black;">
                                            
                                                 <select formControlName="unappliedccId"  
                                                        class="form-control">
                                                        <option value="">--Select--</option>
                                                        <option *ngFor="let sc of  NaturalAccountList"
                                                            [value]="sc.lookupValue">
                                                            {{sc.lookupValue}}
                                                        </option>
                                                    </select>


                                            </td>

                                         
                                               <td style="width: 15%" class="LabelFontStyle"> &nbsp;Bank&nbsp;Method:&nbsp;&nbsp;
                                            </td>
                                            <td>
                                                <select formControlName="bankMethod"  
                                                        class="form-control" >
                                                        <option value="">--Select--</option>
                                                        <option >
                                                            Y
                                                        </option>
                                                         <option >
                                                            N
                                                        </option>
                                                    </select>


                                            </td>
                                            

                                        </tr>
                                        <tr style="align-items: center;" [hidden]="receiptForm.get('bankMethod')?.value !== 'Y'">
                                         
                                               <td style="width: 15%" class="LabelFontStyle"> &nbsp;Bank&nbsp;Name:&nbsp;
                                            </td>
                                            <td>
                                                <select formControlName="bankAccName"  
                                                        class="form-control" (ngModelChange)="onBankNameSelected1($event)">
                                                        <option value="">--Select--</option>
                                                        <option *ngFor="let sc of BankNameList"
                                                [value]="sc.customerId">
                                            {{sc.custName}}
                                        </option>
                                                    </select>


                                            </td>
                                                <td style="width: 15%;" class="LabelFontStyle">&nbsp;Branch&nbsp; Name:&nbsp;</td>
                                                <td>
                                                      <!-- <select formControlName="branchName" id="branchName"
                                                class="form-control"
                                                >
                                                <option value="">--Select--</option>
                                                <option *ngFor="let sc of BankBranchList" [value]="sc.name">
                                                    {{sc.name}}
                                                </option>
                                            </select> -->
                                            <select formControlName="branchName" class="form-control">

                                                <option value="">--Select--</option>

                                                <option *ngFor="let sc of BankBranchList"
                                                        [value]="sc.id">
                                                    {{sc.name}}
                                                </option>

                                                </select>
                                                </td>
                                                         <td style="width: 15%" class="LabelFontStyle">
                                            Operating&nbsp;Party&nbsp;:&nbsp;
                                        </td>
                                        <td style="border: none;color: black;">
                                    
                                            <select formControlName="orgPartyId" id="orgPartyId" class="form-control"  >
                                                    
                                                   <option>--Select--</option>
                                                <option *ngFor="let sc of  BankNameList1" [ngValue]="sc.customerId">
                                                    {{sc.custName}}
                                                </option>
                                                </select>
                                        </td>
                                              <!-- <td style="width: 15%" class="LabelFontStyle"> &nbsp;Min &nbsp;Amount:&nbsp;
                                            </td>
                                            <td>
                                               <input class="form-control" formControlName="minCheckAmt">


                                            </td> -->
                                           
                                        </tr>
                                        <tr style="align-items: center;"  [hidden]="receiptForm.get('bankMethod')?.value !== 'Y'">
                                               <!-- <td style="width: 15%" class="LabelFontStyle"> &nbsp;Max&nbsp;Amount:&nbsp;
                                            </td>
                                            <td>
                                                <input class="form-control" formControlName="maxCheckAmt">


                                            </td> -->
                                    
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                           
                            
                          
                        </table>
                    </fieldset>
                </div>
            </div>
        </div>


        <table class="center" style="width:100%">
            <tr>
                <td>
                    <table class="center">
                        <tr>
                            

                            <td>
                                <button type="submit" class="btn btn-primary" [disabled]="!isSave" >Save</button>
                            </td>
                            <td>
                            <button
                                    type="button"
                                    class="btn btn-primary"
                                    (click)="update()"
                                    [disabled]="!isEditMode"
                                    >
                                    Update
                                    </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary" (click)="clear()" >
                                    Clear
                                </button>
                            </td>

                            <td>
                                <button type="button" class="btn btn-primary" (click)="close()" >Close</button>
                            </td>
                            <td>
                           
                            </td>


                        </tr>
                    </table>
                </td>
            </tr>
        </table>

          
    </form>
    <form [formGroup]="searchForm" >
          <table style="width: 100%; background-color: #FFE4B5;display: flex;justify-content: center; align-items: center; padding: 8px; height: 40px; margin-top: 8px;">
            <tr>
                 <td style="width: 15%" class="LabelFontStyle1">Method&nbsp;Type&nbsp;:</td>
                <td>
              
           <select  class="form-control" formControlName="methodSearch" required>
                                                <option value="">--Select--</option>
                                                        <option *ngFor="let sc of  MethodTypeList"
                                                            [value]="sc.lookupValue">
                                                            {{sc.lookupValue}}

                                                </option>
                                               </select>
                 
                </td>
               
        

                <td style="width: 15%" class="LabelFontStyle1">Method&nbsp;Name&nbsp;:</td>
                <td>
                 <!-- <input type="text" formControlName="methodTypeSearch" class="form-control"  (input)="onMethodTypeInput()"
          autocomplete="off"> -->
                  <select formControlName="methodTypeSearch" class="form-control" required>
                    <option value="">--Select--</option>

                    <option *ngFor="let m of methodNameList" [value]="m.methodName">
                        {{ m.methodName }}
                    </option>
                    </select>

                </td>
               
        
                <td>
                    <button type="button" class="btn-primary" (click)="search()"
 ><i
                            class="fa fa-search" aria-hidden="true"></i></button>
                </td>
              
            </tr>
        </table>

    </form>
    


<table *ngIf="methods.length > 0" class="table table-bordered table-striped mt-3">
  <thead>
    <tr>
      <th>Sr No</th>
      <th>Method Type</th>
      <th>Method Name</th>
      <th>Status</th>
      <th>Select</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let m of methods; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ m.methodType }}</td>
      <td>{{ m.methodName }}</td>
      <td>{{ m.status }}</td>
      <td>
        <button class="btn btn-sm btn-success" (click)="selectMethod(m)">
          Select
        </button>
      </td>
    </tr>
  </tbody>
</table>


</div>
