/* You can add global styles to this file, and also import other style files */


.PageHeader {
  font-size:large;
  font-weight: bold;
  margin: 0;
  height: 10px;
  font-family: Verdana,Sans-serif, Arial, Helvetica;
  vertical-align: middle;
  text-align: center;
  padding: 2px;
  color: white;
  background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  width: 100%;
}



.LabelFontStyle {
  font-family: Verdana,Sans-serif, Arial, Helvetica;
  font-weight: bolder;
  color:#373535;
  font-size: 12px;
  text-align: right;
  vertical-align: middle;
  padding-top: 0px;
  padding-bottom: 0px;
  border-color: Gray;
  height: 15px;
}

.LabelFontStyle1 {
  font-family: Verdana,Sans-serif, Arial, Helvetica;
  font-weight: bolder;
  color:#373535;
  font-size: 12px;
  text-align: right;
  vertical-align: middle;
  padding-top: 0px;
  padding-bottom: 0px;
  border-color: Gray;
  height: 15px;
  
}


.form-control {
  font-family: Verdana,Sans-serif, Arial, Helvetica;
  font-size: 11px;
  outline: medium none;
  font-weight: 200;
  padding: 2px;
  vertical-align: top;
  width: 190px;
  height: 20%;
  border-color: black;
  color: #373535;
}

.center {
  margin-left: auto;
  margin-right: auto;
}


td{
  padding: 3px;
}

span{
  font-size: xx-small;
  color:red;
  position: absolute;
}

.LabelFontStyle1:before{
  content:"*";
  color:rgb(252, 29, 29);
}


.btn-primary{
  width: 5em;
  background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3rem;
  border-color: #2c3e50;
  height: 22px;
  font-size: 11px;
  vertical-align: middle;
  text-align: center;
  line-height: 10px; /* Tamaño de linea */
  width: 5rem;
}

.btn-success{
  height: 22px;
  font-size: 11px;
  vertical-align: middle;
  text-align: center;
  line-height: 10px; /* Tamaño de linea */
  width: 5rem;
  color: white;
  font-weight: bold;
}


.btn-secondary{
  width: 5em;
  background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3rem;
  border-color: #2c3e50;
  height: 22px;
  font-size: 11px;
  vertical-align: middle;
  text-align: center;
  line-height: 10px; /* Tamaño de linea */
  width: 5rem;
}




.center {
  margin-left: auto;
  margin-right: auto;
}


td{
  padding: 3px;
}

span{
  font-size: xx-small;
  color:red;
  position: absolute;
}




.btn-primary{
  width: 5em;
  background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3rem;
  border-color: #2c3e50;
  height: 22px;
  font-size: 11px;
  vertical-align: middle;
  text-align: center;
  line-height: 10px; /* Tamaño de linea */
  width: 5rem;
}

.btn-secondary{
  width: 5em;
  background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3rem;
  border-color: #2c3e50;
  height: 22px;
  font-size: 11px;
  vertical-align: middle;
  text-align: center;
  line-height: 10px; /* Tamaño de linea */
  width: 5rem;
}



.btn-primary:hover{
  background-color: #5c9bda;
}

/* .modal {
width: 20rem;
margin-left: 50%;
} */


.nav-fill{
    padding: 0;
}

.waves-light{
    font-size: 14px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.waves-light:hover{
  text-decoration: underline;
}


.waves-light{
    font-size: 14px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.waves-light:hover{
  text-decoration: underline;
}



.GridFont{
  font-family: "Calibri";
  font-size: 11px;
  color: Black;
  height: 25px;
  background-color: #eeeeee;
}




.GridHeader {
  border-top-width: 1px;
  border-style: solid;
  border-top-color: red;
  border-left: none;
  border-right: none;
  height: 25px;
  padding: 0px 10px 0px 10px;
  font-family: Verdana,Sans-serif, Arial, Helvetica;
  font-size: 9px;
  text-align: center;
  color: black;
  background-image: linear-gradient(#bcdcee, #4fb6f1 60%, #0299f0);
  border-bottom: 2px solid rgb(158, 155, 155);
  /* position: fixed; */
  position: sticky; top: 0; 
}
.GridFont{
  font-family: "Calibri";
  font-size: 11px;
  color: Black;
  height: 25px;
  background-color: #eeeeee;
}




.GridHeader {
  border-top-width: 1px;
  border-style: solid;
  border-top-color: red;
  border-left: none;
  border-right: none;
  height: 25px;
  padding: 0px 10px 0px 10px;
  font-family: Verdana,Sans-serif, Arial, Helvetica;
  font-size: 9px;
  text-align: center;
  color: black;
  background-image: linear-gradient(#bcdcee, #4fb6f1 60%, #0299f0);
  border-bottom: 2px solid rgb(158, 155, 155);
  /* position: fixed; */
  position: sticky; top: 0; 
}

.GridDeatails{
  color: black;
  font-size: 9px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.GridDeatails:nth-child(even) {
background: #fff;
color: black;
font-weight: bold;
}

.GridDeatails:nth-child(odd) {
background-image: linear-gradient(#cce2ee, #99cae5 60%, #83c9f1);
color: black;
font-weight: bold;
}

.GridFont {
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
}

.GridFont td, .GridFont th {
border: 1px solid #ddd;
/* padding: 8px; */
padding: 0px;
}



.modal-header{
text-align: center;
}





table tbody .GridHeader th {
position: sticky; top: 0; 
position: relative; 
}

  
.form-control:focus {
  background-color :#FFE4B5;
}


input[type=number]{
  text-align: right;
  
}



.invalid-feedback {
  width: 100%;
  font-size: 70%;
  color: #dc3545;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  font-weight: 200;
}



input:disabled {
  background: #a9b4a9;
  font-weight: 200;
}

input.ng-invalid{
  background-color: rgb(240, 243, 63);
  font-weight: 200;
  border: 1px solid rgb(81, 81, 251);
}

select.ng-invalid{
  background-color: rgb(245, 235, 102);
  border: 1px solid rgb(81, 81, 251);
}
 input:ng-valid[required], .ng-valid.required  {
  background-color: rgb(66, 32, 189);
  font-weight: 200;
  border: 1px solid rgb(81, 81, 251);
}


input[type="text"][disabled]{
  background-color:lightgreen;
  color: #000000;
  font-weight: 200;
  border: 1px solid rgb(81, 81, 251);
}

input[type="number"][disabled]{
  background-color:lightgreen;
  color: #000000;
  font-weight: 200;
  border: 1px solid rgb(81, 81, 251);
}

input[type="date"][disabled]{
  background-color:lightgreen;
  color: #000000;
  font-weight: 200;
  border: 1px solid rgb(81, 81, 251);
}

input[disabled]{
  background-color:lightgreen;
  color: #000000;
  font-weight: 200;
  border: 1px solid rgb(81, 81, 251);
}




.bg-primary{
  /* width: 5em; */
  background-image: linear-gradient(#a3a0a0, #888686 60%, #606060);
  color: black;
  font-weight: bold;
  cursor: pointer;
  /* border-radius: 3rem; */
  border-color: #2c3e50;
  height: 30px;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
  border: rgb(63, 62, 62);
  line-height: 10px; /* Tamaño de linea */
  /* width: 5rem; */
}


.grid_scroll{
  overflow: auto;
  width: 100%;
  height: 400px;
}