<form [formGroup]="InterStateForm" (ngSubmit)="InterState(InterStateForm.value)">
    <!-- <input hidden  type="number" class="form-control" formControlName="emplId"  [(ngModel)]='emplId' style="width: 40px;">
    <input hidden class="form-control" formControlName="locCode" [(ngModel)]='locCode'>
    <input hidden class="form-control" formControlName="locId" [(ngModel)]='locId'>
    <input hidden class="form-control" formControlName="locationId" [(ngModel)]='locationId'>
    <input hidden type="number" class="form-control" formControlName="ouId" [(ngModel)]='ouId'>
    <input hidden class="form-control" formControlName="billLocName" [(ngModel)]='billLocName'>
    <input hidden class="form-control" formControlName="shipLocName" [(ngModel)]='shipLocName'>
    <input hidden class="form-control" formControlName="customerId" [(ngModel)]='customerId'> -->

    <table style="width: 100%;background-color: white;">
        <tr>
            <td colspan="4" class="PageHeader" style="width: 100%;">
                &nbsp;InterState&nbsp;Transfer&nbsp;
            </td>
            <td colspan="2" align="right" style="background-color: #FFE4B5;text-align: right;width: 100%;">
                &nbsp;InterState&nbsp;No&nbsp;&nbsp;
            </td>
            <td style="background-color: #FFE4B5;">
                <input class="form-control" formControlName="InterStateNo" [(ngModel)]='InterStateNo'
                    value={{InterStateNo}}>
            </td>
            <td style="background-color: #FFE4B5;">
                <button type="button" class="btn-primary"><i class="fa fa-search"
                        aria-hidden="true"></i></button>
            </td>
        </tr>
    </table>
    <fieldset class="RFS">
        <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 12px;color: black;font-weight: bold;">
            Order&nbsp;Header&nbsp;Details&nbsp;</legend>
            <table class="center" style="width: 100%;">
            <tr>
                  <td style="width: 15%;font-weight: bold;" class="LabelFontStyle">
                    Order&nbsp;Number&nbsp;:&nbsp;
                </td>
                <td>
                    <input disabled class="form-control" formControlName="orderNumber" [(ngModel)]='orderNumber' value={{orderNumber}} style="width: 160px;font-weight: bold;">
                </td>
                <td style="width: 18%" class="LabelFontStyle1">
                    Order&nbsp;Type&nbsp;:&nbsp;
                </td>
                <td>
              <select formControlName="transactionTypeName" id="transactionTypeName" class="form-control" style="width: 160px;">
                    <option>--Select--</option>
                    <option *ngFor="let orderType of orderTypeList">
                        {{orderType.transactionTypeName}}
                    </option>
                </select>
                </td>
                
                <td style="width: 15%" class="LabelFontStyle">
                    To&nbsp;Location&nbsp;:&nbsp;
                </td>
                <td>
                    <input type="text" formControlName="BillLocName" [(ngModel)]='BillLocName' value={{BillLocName}} class="form-control" style="width: 160px;" >
                </td>
                <td style="width: 15%;font-weight: bold;" class="LabelFontStyle">
                        Order&nbsp;Date&nbsp;:&nbsp;
                    </td>
                    <td>
                        <input disabled type="date" formControlName="orderedDate" [(ngModel)]='orderedDate' value={{orderedDate}}
                            class="form-control" [ngModel]="orderedDate | date:'yyyy-MM-dd'" style="width: 160px;text-align: right;font-weight: bold;">
                    </td>
               
            </tr>
            <tr>
                <td style="width: 35%" class="LabelFontStyle1">
                    Payment&nbsp;Term&nbsp;:&nbsp;
                </td>
                <td>
                    <input disabled type="text" formControlName="paymentType" [(ngModel)]='paymentType' value={{paymentType}}  class="form-control" style="width: 160px;">
                    <input hidden disabled type="text" formControlName="paymentTermId" [(ngModel)]='paymentTermId' value={{paymentTermId}}
                    class="form-control" style="width: 160px;">
                </td>
                <td style="width: 15%" class="LabelFontStyle1">
                    Price&nbsp;List&nbsp;:&nbsp;
                </td>
                <td>
                    <select formControlName="priceListName" id="priceListName" class="form-control"
                        style="width: 160px;"   >
                        <option>--Select--</option>
                        <option *ngFor="let pl of priceListNameList">
                            {{pl.priceListName}}
                        </option>
                    </select>
                    <input hidden disabled type="text" formControlName="priceListId" [(ngModel)]='priceListId' value={{priceListId}}
                        class="form-control" style="width: 160px;">
                </td>
                    <td style="width: 15%" class="LabelFontStyle">
                            Issue&nbsp;By&nbsp;:&nbsp;
                        </td>  
                        <td>
                            <input disabled type="text" formControlName="issuedBy" [(ngModel)]='issuedBy' value={{issuedBy}}
                            class="form-control" style="width: 160px;">
                        </td> 
                   
                <td style="width: 15%" class="LabelFontStyle">
                    Order&nbsp;Status&nbsp;:&nbsp;
                </td>
                <td>
                    <input disabled type="text" formControlName="orderStatus" 
                    class="form-control" style="width: 160px;">
                </td>
              </tr>
            <tr>
                
                    <td style="width: 15%" class="LabelFontStyle">
                            Subtotal&nbsp;Amount&nbsp;:&nbsp;
                        </td>
                        <td>
                            <input disabled type="number" formControlName="subtotal" [(ngModel)]='subtotal' value={{subtotal}}
                                class="form-control" style="width: 160px;text-align: right;">
                        </td>
                        <td style="width: 15%" class="LabelFontStyle">
                            Tax&nbsp;Amount&nbsp;:&nbsp;
                        </td>
                        <td>
                            <input disabled type="number" formControlName="totTax" [(ngModel)]='totTax' value={{totTax}}
                                class="form-control" style="width: 160px;text-align: right;">
                        </td>
                        <td style="width: 15%;font-weight: bold;" class="LabelFontStyle">
                            Total&nbsp;Amount&nbsp;:&nbsp;
                        </td>
                        <td>
                            <input disabled type="number" formControlName="totAmt" [(ngModel)]='totAmt' value={{totAmt}}
                                class="form-control" style="width: 160px;font-weight: bold;">
                        </td>
                <td style="width: 15%" class="LabelFontStyle">
                    Invoice&nbsp;Number&nbsp;:&nbsp;
                </td>
                <td >
                    <input disabled type="text" formControlName="trxNumber" [(ngModel)]='trxNumber' value={{trxNumber}}
                        class="form-control" style="width: 100%;">
                </td>
            </tr>
            <tr>
              
                <td style="width: 15%" class="LabelFontStyle">
                        Remark&nbsp;:&nbsp;
                    </td>
                    <td colspan="3">
                        <input type="text" formControlName="remarks" [(ngModel)]='remarks' value={{remarks}}
                            class="form-control" style="width: 100%;">
                    </td>
                  
            </tr>
        </table>
    </fieldset>
    <fieldset class="RFS">
            <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 12px;color: black;font-weight: bold;">Customer
                Details&nbsp;/&nbsp;</legend>
                                <table class="center" style="width: 100%;">
                                    <tr>
                                            <td style="width: 15%" class="LabelFontStyle1">
                                                    Customer&nbsp;No&nbsp;:&nbsp;
                                                </td>
                                                <td>
                                                    <input disabled type="text" class="form-control" formControlName="custAccountNo" [(ngModel)]='custAccountNo'
                                                        value={{custAccountNo}} style="width: 160px;">
                                                    </td>
                                                <td style="width: 15%" class="LabelFontStyle">
                                                    Name:&nbsp;
                                                </td>
                                                <td colspan="3">
                                                    <input  type="text" class="form-control" formControlName="custName" [(ngModel)]='custName'
                                                        value={{custName}}  style="width: 100%;">
                                                </td>
                                                <td style="width: 15%" class="LabelFontStyle">
                                                    Contact&nbsp;No&nbsp;:&nbsp;
                                                </td>
                                                <td>
                                                    <input class="form-control" formControlName="mobile1" [(ngModel)]='mobile1'
                                                    value={{mobile1}}  style="width: 100%;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 15%" class="LabelFontStyle">
                                                    Address&nbsp;:&nbsp;
                                                </td>
                                                <td colspan="5">
                                                    <input disabled type="text" class="form-control" formControlName="custAddress"
                                                        [(ngModel)]='custAddress' value={{custAddress}} style="width:100%;">
                                                </td>
                                        <td style="width: 15%" class="LabelFontStyle">
                                            State&nbsp;:&nbsp;
                                        </td>
                                        <td>
                                            <input disabled type="text" class="form-control" formControlName="state"
                                                [(ngModel)]='state' value={{state}} style="width: 150px;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 15%" class="LabelFontStyle">
                                            GSTN&nbsp;No&nbsp;:&nbsp;
                                        </td>
                                        <td>
                                            <input disabled type="text" class="form-control" formControlName="gstNo"
                                                [(ngModel)]='gstNo' value={{gstNo}} style="width: 150px;">
                                        </td>
                                        <td style="width: 15%" class="LabelFontStyle">
                                                DMS&nbsp;Transaction&nbsp;No&nbsp;:&nbsp;
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" style="width: 150px;">
                                            </td>
                                       </tr>
                                    </table>
    </fieldset>
                            
                        
</form>