<form [formGroup]="orderListForm" (ngSubmit)="orderList(orderListForm.value)">
    <table style="width: 100%;background-color: white;">
        <tr>
            <td class="PageHeader">
                Purchase Order&nbsp;List(Taxi Vehicle) &nbsp;
            </td>
        </tr>
    </table>
    <div class="col-md-12 table-responsive" #epltable>
        <div style="padding-bottom: 10px;padding-top: 10px;">
            <div class="row">
                <div class="col-sm-12">
                    <button (click)="exportToExcel()" class="btn btn-success" style="width: fit-content;">Export To
                        Excel</button>
                </div>
            </div>
        </div>
        <table class="center" style="width: 100%;background-color: #FFE4B5;">
            <tr>
                <td>
                    <table class="center">
                        <tr>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br>
        <table class="GridFont"
            style="font-size: 14px;border-color:#1f1e1e;border-collapse:collapse;width: 100%;text-align: center;">
            <tr>
                <td><b>Total Order Count : {{orderListDetails.length}}</b></td>
        </table>
        <div class="grid_scroll">
            <table class="GridFont" style="border-color:#494949;border-collapse:collapse;width: 100%;">

                <tr class="GridHeader" style="font-size: 11px;">
                    <th>Trx No.</th>
                    <th>Trx Date</th>
                    <th>DMS Location</th>
                    <th>DMS Inv No</th>
                    <th>DMS Inv Date</th>
                    <th>ERP Location</th>
                    <th>ERP Inv No</th>
                    <th>ERP Inv Date</th>
                    <th>Model</th>
                    <th>Variant Code</th>
                    <th>Vin No</th>
                    <th>Chassis No</th>
                    <th>Color Code</th>
                    <th>Created By</th>
                </tr>
                <tr *ngFor="let com of orderListDetails ; let i= index" class="ItemStyle"
                    style="text-decoration:none;font-size: 11px;">
                    <td style="padding-left: 5px;padding-top: 10px;">
                    <a [routerLink]="['/admin/OrderManagement/TxiVehPurchaseorder',com.transId]" href="{{transId}}">{{com.transId}}</a></td>
                    <td style="padding-left: 5px; text-align: center;">{{com.creationDate}}</td>
                    <td style="padding-left: 5px; text-align: center;">{{com.dmsLocation}}</td>
                    <td style="padding-left: 5px; text-align: left;">{{com.dmsInvoiceNo}}</td>
                    <td style="padding-left: 5px; text-align: center;">{{com.dmsInvoiceDate}}</td>
                    <td style="padding-left: 5px; text-align: center;">{{com.erpLocation}}</td>
                    <td style="padding-left: 5px; text-align: center;">{{com.erpInvoiceNo}}</td>
                    <td style="padding-left: 5px; text-align: center;">{{com.erpInvoiceDate}}</td>
                    <td style="padding-left: 5px; text-align: center;">{{com.model}}</td>
                    <td style="padding-left: 5px; text-align: center;">{{com.variantCd}}</td>
                    <td style="padding-left: 5px; text-align: right;">{{com.vin}}</td>
                    <td style="padding-left: 5px; text-align: right;">{{com.chassisNum}}</td>
                    <td style="padding-left: 5px; text-align: right;">{{com.ecolorCd}}</td>
                    <td style="padding-left: 5px; text-align: center;">{{com.createdBy}}</td>
                </tr>
            </table>
        </div>
    </div>
    <table class="center">
        <tr>
            <td>
                <button type="submit" class="btn btn-primary" id="register" (click)="refresh()">
                    Clear
                </button>
            </td>
            <td>
                <button type="submit" (click)="close()" class="btn btn-primary">Close</button>
            </td>
        </tr>
    </table>
</form>