<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

<div class="center">
    <table style="width: 100%;background-color: white;">
        <tr>
            <td class="PageHeader">
                &nbsp;&nbsp;TAX&nbsp;REGIME&nbsp;MASTER
            </td>
        </tr>
    </table>

 <div class="form-bg">
    <form [formGroup]="jaiRegimeMasterForm" (ngSubmit)="jaiRegimeMaster(jaiRegimeMasterForm.value)">
        <div class="center" style="width: 100%;">
            <table class="center">
                        <!-- <td>
                            <input type="text" hidden  formControlName="regimeId">
                        </td> -->

                        <!-- <div *ngIf="display; then thenBlock; else elseBlock"></div> -->
                        <!-- <ng-template #thenBlock> -->

                        <tr>
                                    <td style="width: 15%" class="LabelFontStyle">
                                        Regime&nbsp;Code&nbsp;:
                                    </td>

                                    <td>
                                        <input autofocus  type="text" formControlName="regimeCode" class="form-control" maxlength="7"
                                            placeholder="Enter Regime code"
                                            [ngClass]="{ 'is-invalid': submitted && f.regimeCode.errors }"
                                            placeholder="Enter Tax Regime code">

                                        <div *ngIf="submitted && f.regimeCode.errors" class="invalid-feedback">
                                            <div *ngIf="f.regimeCode.errors.required">Regime code must be a valid</div>
                                            <div *ngIf="f.regimeCode.errors?.maxLength">Regime code must be a valid for 7 digit>
                                            </div>
                                        </div>
                                        <!-- <span
                                            *ngIf="!jaiRegimeMasterForm.get('regimeCode').valid && jaiRegimeMasterForm.get('regimeCode').touched">Please
                                            Enter regime code 
                                        </span> -->
                                    </td>

                                    <td style="width: 15%" class="LabelFontStyle">
                                            Regime&nbsp;Name&nbsp;:
                                    </td>

                                    <td>
                                        <input type="text" formControlName="regimeName" class="form-control" placeholder="Enter Regime Name">
                                    </td>

                           
                        
                     
                                    <td style="width: 15%" class="LabelFontStyle">
                                        Regime&nbsp;Type&nbsp;:
                                    </td>

                                    <td>
                                    <select formControlName="regimeType" id="regimeType" class="form-control">
                                            <option>--Select--</option>
                                            <option *ngFor="let sc of regimeTypeList">
                                                {{sc.codeDesc}}
                                            </option>
                                        </select>
                                    </td>
                        </tr>
                       <tr>
                                    <td style="width: 15%" class="LabelFontStyle">
                                        Status&nbsp;&nbsp;:
                                    </td>

                                    <td>
                                        <select formControlName="status" id="status" class="form-control"  
                                        [ngModel]="status" (ngModelChange)='onOptionsSelected($event)'>
                                        <option>--Select--</option>
                                        <option *ngFor="let sc of  statusList">
                                            {{sc.codeDesc}}
                                        </option>
                                    </select>
                                </td>

                        
                                <div *ngIf="displayInactive; then thenBlockInactive; else elseBlockInactive"></div>
                                    <ng-template #thenBlockInactive> 
                                        <td style="width: 15%" class="LabelFontStyle">
                                            Start&nbsp;Date&nbsp;:
                                        </td>
                
                                        <td>
                                            <input   type="date"   id="startDate"  formControlName="startDate"  class="form-control"
                                                max="{{minDate | date:'yyyy-MM-dd'}}">
                                        </td>
                                        
                                    </ng-template>


                                    <ng-template #elseBlockInactive>
                                            <td style="width: 18%" class="LabelFontStyle">
                                                Inactive&nbsp;Date:&nbsp;
                                            </td>
                                            <td>
                                                <input disabled type="text" formControlName="endDate" class="form-control"
                                                       [ngModel]="endDate | date:'dd/MM/yyyy'">
                                            </td>
                                   
                                    </ng-template>

                                    <td style="width: 15%" class="LabelFontStyle">Regime&nbsp;Id&nbsp;:</td>
                                    <td>
                                        <input type="text" disabled  formControlName="regimeId" id="regimeId" class="form-control">
                                    </td>

                            </tr>
                            

                                    
                                  
                            </table>                    
                            <br>
                            <table class="center">
                                <tr>
                                    <div *ngIf="displayButton; then thenBlock1; else elseBlock1"></div>
                                    <ng-template #thenBlock1>
                                        <td>
                                            <button type="button" class="btn btn-info" (click)="newMast()" [disabled]="!jaiRegimeMasterForm">Save</button>
                                        </td>
                                        
                                        <td>
                                            <button type="button" class="btn btn-info" (click)="searchMast()">Search</button>
                                        </td>
                                        <!-- <td>
                                            <button type="submit" class="btn btn-primary" id="register" (click)="resetMast()">Reset</button>
                                        </td>
                                        <td>
                                            <button type="submit" class="btn btn-primary" id="register" (click)="closeMast()">Close</button>
                                        </td> -->

                                         <!-- ====================Reset Dialog ======================== -->

     <td>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Reset</button>
    </td>
    <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <label style="font-size: small; color: black;font-weight: bold; text-align:center;vertical-align: middle;">
                                <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                                Want&nbsp;to&nbsp;Reset. &nbsp;Confirm&nbsp;(Yes/No)?&nbsp;
                            </label>
                        </div>
                        <div class="modal-footer">
                            <table class="center">
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-info" id="register" (click)="resetMast()">Yes</button> 
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>

                        <!-- =====================Close Dialog Box====================== -->
                        <td>
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalLong">Close</button>
                        </td>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <label style="font-size: small; color: black; font-weight: bold; text-align: center; vertical-align: middle;">
                                        <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                                        Want&nbsp;to&nbsp;Close.&nbsp;Confirm&nbsp;(Yes/No)?&nbsp;
                                    </label>
                                </div>
                                <div class="modal-footer">
                                    <table class="center">
                                        <tr>
                                            <td>
                                            <button  type="submit" class="btn btn-info" data-dismiss="modal" id="register"   (click)="closeMast()">Yes</button>
                                            </td>
                                            <td>
                                            <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            </div>
                        </div>

                        <!-- ==================================================== -->

                                    </ng-template>
                                    <ng-template #elseBlock1>
                                   
                                            <td>
                                                <button type="button" class="btn btn-info" (click)="updateMast()"[disabled]="!jaiRegimeMasterForm">Update</button>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-info" (click)="searchMast()">Search</button>
                                            </td>
                                            <!-- <td>
                                                <button type="submit" class="btn btn-primary" id="register" (click)="resetMast()">Reset</button>
                                            </td>
                                            <td>
                                                <button type="submit" class="btn btn-primary" id="register" (click)="closeMast()">Close</button>
                                            </td> -->
 <!-- ====================Reset Dialog ======================== -->

 <td>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Reset</button>
</td>
<!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <label style="font-size: small; color: black;font-weight: bold; text-align:center;vertical-align: middle;">
                            <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                            Want&nbsp;to&nbsp;Reset. &nbsp;Confirm&nbsp;(Yes/No)?&nbsp;
                        </label>
                    </div>
                    <div class="modal-footer">
                        <table class="center">
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-primary" id="register" (click)="resetMast()">Yes</button> 
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                </div>
            </div>

                    <!-- =====================Close Dialog Box====================== -->
                    <td>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalLong">Close</button>
                    </td>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <label style="font-size: small; color: black; font-weight: bold; text-align: center; vertical-align: middle;">
                                    <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                                    Want&nbsp;to&nbsp;Close.&nbsp;Confirm&nbsp;(Yes/No)?&nbsp;
                                </label>
                            </div>
                            <div class="modal-footer">
                                <table class="center">
                                    <tr>
                                        <td>
                                        <button  type="submit" class="btn btn-primary" data-dismiss="modal" id="register"   (click)="closeMast()">Yes</button>
                                        </td>
                                        <td>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        </div>
                    </div>

                    <!-- ==================================================== -->


                                    </ng-template>
                                </tr>
                            </table>

                        </div>
                            <!-- </div> -->
                        <!-- </div> -->
                    <!-- </div> -->
                </form>
            </div>
            </div>
            <br>

        

<div class="container1">
    <div class="grid_scroll">
    <table class="auto-style4" class="GridFont" cellspacing="0" cellpadding="4" border="0" id="ctl00_cpForm_grdActions" style="border-color:#959595;border-collapse:collapse;width: 100%;">
   <tbody>
        <tr class="GridHeader">
            <th style="width:6rem" scope="col">Regime Id</th>
            <th style="width:10rem" scope="col">Regime Code</th>
            <th style="width:15rem" scope="col">Regime Name</th>
            <th style="width:10rem" scope="col">Regime Type</th>
            <th style="width:10rem" scope="col">Start Date</th>
            <th style="width:10rem" scope="col">Status</th>
        <th style="width:6rem" scope="col">Select</th>
    </tr>
   </tbody>
   <tr *ngFor="let com of lstcomments" class="ItemStyle" style="text-decoration:none;">
    <td>{{com.regimeId}}</td>
    <td>{{com.regimeCode}}</td>
    <td>{{com.regimeName}}</td>
    <td>{{com.regimeType}}</td>  
    <td>{{com.startDate}}</td>
    <td>{{com.status}}</td>
    <td><button class="btn btn-secondary" (click)="Select(com.regimeId)">Select</button></td>   
   </tr>
    </table>
</div>
</div>

