<form [formGroup]="SalesGatepassForm" (ngSubmit)="SalesGatepass(SalesGatepassForm.value)" >
    <table style="width: 100%;background-color: white;">
        <tr>
            <td colspan="4" class="PageHeader" style="width: 100%;">
                &nbsp;Sales&nbsp;Gate&nbsp;Pass&nbsp;
            </td>
        </tr>
    </table>
    <!-- <fieldset class="RFS">
        <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 12px;color: black;font-weight: bold;">
           Vehicle Number Details</legend>
           <table class="center">
            <tr>
                <td style="font-weight: bold;" class="LabelFontStyle1"> Order&nbsp;No&nbsp;:&nbsp;  </td> 
            </tr>
           </table>
    </fieldset> -->
  
    <fieldset class="RFS">
        <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 12px;color: black;font-weight: bold;">
           Find</legend>
    <table class="center" style="width: 100%;background-color: #FFE4B5;">
        <tr>
          <td >
              <table class="center">
                  <tr>
                    <td  style="background-color: #FFE4B5;">
                        &nbsp;Order&nbsp;No&nbsp;:&nbsp;
                    </td>
                    <td style="background-color: #FFE4B5;">
                        <input class="form-control" formControlName="orderNumber" [(ngModel)]='orderNumber'
                            value={{orderNumber}}>
                    </td>
                    <td style="background-color: #FFE4B5;">
                        <button type="button" class="btn-primary" (click)="gatePassOrderNo(orderNumber)"><i class="fa fa-search"
                                aria-hidden="true"></i></button>
                    </td>
                  </tr>
              </table>
          </td>
        </tr>
    </table>
    </fieldset>
    <fieldset class="RFS">
        <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 12px;color: black;font-weight: bold;">Details</legend>
  <table class="center" style="width: 100%;">
    <tr>
        <td style="width: 15%" class="LabelFontStyle"> Item&nbsp;Number&nbsp;: </td>
        <input disabled type="text" formControlName="segment" value="segment" [(ngModel)]='segment'  class="form-control" style="height: 20px;width: 160px;">
        <td style="width: 15%" class="LabelFontStyle">   Vehicle&nbsp;Id&nbsp;(VIN)&nbsp;:  </td>
        <input disabled type="text" formControlName="vin" value="vin"  [(ngModel)]='vin' class="form-control" style="height: 20px;width: 160px;">
        <td style="width: 15%" class="LabelFontStyle">  Model&nbsp;/&nbsp;Variant&nbsp;/&nbsp;Color: </td>
        <input disabled type="text" formControlName="modelVarClr" value="modelVarClr" [(ngModel)]='modelVarClr' class="form-control" style="height: 20px;width: 160px;">
        <td style="width: 15%" class="LabelFontStyle">  Delivery&nbsp;Location&nbsp;:  </td>
        <input disabled type="text" formControlName="deliveryLoc" [(ngModel)]='deliveryLoc' id="deliveryLoc" value="deliveryLoc"  class="form-control" style="height: 20px;width: 160px;">

    </tr>
    <tr>
        <td style="width: 15%" class="LabelFontStyle">  Servicing&nbsp;Location&nbsp;: </td>
        <td><input disabled type="text" formControlName="deliveryLoc" [(ngModel)]='serviceLoc' id="serviceLoc" value="serviceLoc"  class="form-control" style="height: 20px;width: 160px;"></td>
        <td style="width: 15%" class="LabelFontStyle">  Customer&nbsp;Name&nbsp;: </td>
        <td><input disabled type="text" formControlName="custName" [(ngModel)]='custName' id="custName" value="custName"  class="form-control" style="height: 20px;width: 160px;"></td>
        <td style="width: 15%" class="LabelFontStyle">  Customer&nbsp;Address&nbsp;: </td>
        <td colspan="3"><input disabled type="text" formControlName="custAdd" [(ngModel)]='custAdd' id="custAdd" value="custAdd"  class="form-control" style="height: 20px;width: 100%;"></td>
    </tr>
    <tr>
        <td style="width: 15%" class="LabelFontStyle">  Contact&nbsp;Number&nbsp;: </td> 
            <td><input disabled type="text" formControlName="contactNo" [(ngModel)]='contactNo' id="contactNo" value="contactNo"  class="form-control" style="height: 20px;width: 160px;"></td>
            <td style="width: 15%" class="LabelFontStyle">  Contact&nbsp;Person&nbsp;: </td>
            <td><input disabled type="text" formControlName="contactPerson" [(ngModel)]='contactPerson' id="contactPerson" value="contactPerson"  class="form-control" style="height: 20px;width: 160px;"></td>
            <td style="width: 15%" class="LabelFontStyle">  Sales&nbsp;Exicutive&nbsp;: </td>
            <td><input disabled type="text" formControlName="salesExeName" [(ngModel)]='salesExeName' id="salesExeName" value="salesExeName"  class="form-control" style="height: 20px;width: 160px;"></td>
        </tr>
    <tr>
        <td style="width: 15%" class="LabelFontStyle">   Order&nbsp;Number&nbsp;: </td>
        <td><input disabled type="text" formControlName="orderNumber" [(ngModel)]='orderNumber' id="orderNumber" value="orderNumber"  class="form-control" style="height: 20px;width: 160px;"></td>
        <td style="width: 15%" class="LabelFontStyle"> Order&nbsp;Date&nbsp;: </td>
        <td><input disabled type="text" formControlName="dateOfDelv"  id="dateOfDelv" [(ngModel)]="dateOfDelv" value="dateOfDelv"  class="form-control" style="height: 20px;width: 160px;"></td>
        <td style="width: 15%" class="LabelFontStyle"> Invoice&nbsp;Number&nbsp;: </td>
        <td><input disabled type="text" formControlName="invoiceNo" [ngModel]="invoiceNo" id="invoiceNo" value="invoiceNo"  class="form-control" style="height: 20px;width: 160px;"></td>
        <td style="width: 15%" class="LabelFontStyle"> Invoice&nbsp;Date&nbsp;:</td>
        <td><input disabled type="text" formControlName="invoiceDt"  id="invoiceDt" value="invoiceDt" [(ngModel)]="invoiceDt" class="form-control" style="height: 20px;width: 160px;"></td>
    </tr>
    <tr>
        <td style="width: 15%" class="LabelFontStyle"> Registration&nbsp;Number&nbsp;: </td>
        <td><input disabled type="text" formControlName="vehicleNo" [ngModel]="vehicleNo" id="vehicleNo" value="vehicleNo"  class="form-control" style="height: 20px;width: 160px;"></td>
        <td style="width: 15%" class="LabelFontStyle">  DMS&nbsp;SOB&nbsp;No&nbsp;: </td>
        <td><input disabled type="text" formControlName="dmsSob" [ngModel]="dmsSob" id="dmsSob" value="dmsSob"  class="form-control" style="height: 20px;width: 160px;"></td>
        <td style="width: 15%" class="LabelFontStyle"> Remark&nbsp;: </td>
        <td><input disabled type="text" formControlName="remark" [ngModel]="remark" id="remark" value="remark"  class="form-control" style="height: 20px;width: 160px;"></td>
        <td style="width: 15%" class="LabelFontStyle"> Gatepass&nbsp;No&nbsp;: </td>
        <td><input disabled type="number" formControlName="gatepassNo" [ngModel]="gatepassNo" id="gatepassNo" value="gatepassNo"  class="form-control" style="height: 20px;width: 160px;"></td>
    </tr>
</table>
    </fieldset>
    <div [style.display]="isVisiblegatePassVehicleDetails ? 'block' : 'none'">
    <fieldset class="RFS">
        <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 12px;color: black;font-weight: bold;">
           Vehicle Details Updation</legend>
           <table class="center" style="width: 100%;">
            <tr>
                <td style="font-weight: bold;" class="LabelFontStyle1"> Vehicle&nbsp;Item&nbsp;:&nbsp;  </td>
                <td><input disabled  class="form-control" formControlName="segment" style="border:solid 1px black" [(ngModel)]="segment"> 
                    <input disabled hidden type="number" class="form-control" formControlName="itemId" [(ngModel)]="itemId" style="border:solid 1px black" >
                </td>&nbsp;&nbsp; 
                <td style="font-weight: bold;" class="LabelFontStyle1"> Vehicle&nbsp;No&nbsp;:&nbsp;  </td>
                <td><input  class="form-control" formControlName="regNo" style="border:solid 1px black" [(ngModel)]="regNo"> </td>
                <td style="font-weight: bold;" class="LabelFontStyle1"> Vehicle&nbsp;Date&nbsp;:&nbsp;  </td>
                <td><input type="date"  class="form-control" formControlName="regDate" style="border:solid 1px black" [(ngModel)]="regDate"> </td>
                <td  class="center">
                    <button type="submit" class="btn btn-primary" id="register" (click)="vehicleNoupdate(itemId,regNo,regDate)" style="width: fit-content;">vehicle No Update</button> 
                </td>
            </tr>   
           </table>
    </fieldset>
</div>
<div [style.display]="isVisiblegatePassDetails ? 'block' : 'none'">
    <fieldset class="RFS">
        <legend id="FormsPH_LGAadhaar" class="RFSL" style="font-size: 12px;color: black;font-weight: bold;">
           Gate Pass Generation</legend>
    <table class="center" style="width: 100%;">
        <tr>
          <td>
              <table> 
                  <tr>
                    <td style="font-weight: bold;" class="LabelFontStyle1"> Order&nbsp;No&nbsp;:&nbsp;  </td>
                    <td><input  class="form-control" formControlName="orderNumber" style="border:solid 1px black" [(ngModel)]="orderNumber"> </td>&nbsp;&nbsp;
                    <td style="font-weight: bold;" class="LabelFontStyle1"> Service&nbsp;Location&nbsp;:&nbsp;  </td>
                    <td>
                        <select formControlName="shipToLoc" id="shipToLoc" [(ngModel)]="shipToLoc" class="form-control">
                            <option>--Select--</option>
                            <option *ngFor="let sc of  BillShipList" [value]="sc.locId">
                                {{sc.locCode}}
                            </option>
                        </select>
                    </td>&nbsp;&nbsp;
                    <td>
                        <button type="button" style="width:fit-content ;" class="btn btn-secondary" data-dismiss="modal" (click)="orderNumberPost(orderNumber,shipToLoc)">Generate&nbsp;Gatepass</button>
                    </td>
        
                  </tr>
              </table>
          </td>
        </tr>
    </table>
    </fieldset>
</div>
    <fieldset class="RFS">
        <table class="center">
            <tr>
                <td>
                    <button type="submit" class="btn btn-primary" id="register" (click)="resetMast()">Reset</button> 
                </td>
                <td>
                    <button type="submit" class="btn btn-primary" id="register" (click)="Close()">Close</button> 
                </td>
                <td>
                    <button type="submit" class="btn btn-primary" id="register" (click)="downloadGatePass()" style="width: fit-content;">Download Gatepass</button> 
                </td>
            </tr>
        </table>
    </fieldset>
</form>