<div class="center">
        <table style="width: 100%;background-color: white;">
            <tr>
                <td class="PageHeader"> &nbsp;Prorate&nbsp;Conventions&nbsp;</td>
            </tr>
        </table>
    
        <div class="center" style="width: 100%;">
            <div class="form-bg">
                <div class="center" style="width: 100%;">
                    <form [formGroup]="prorateConventionForm" (ngSubmit)="prorateConventions(prorateConventionForm.value)">
                        <table class="center" >
                            <tr>
    
                                <td style="width: 15%" class="LabelFontStyle">Convention:&nbsp;</td>
                            <td   style="border: none;color: black;">
                                <input type="text" class="form-control" formControlName="prorateConventionCode" [(ngModel)]="prorateConventionCode">
                            </td>
                            <td style="width: 15%" class="LabelFontStyle">Description :&nbsp;</td>
                            
                            <td>  
                                <input type="text"   class="form-control" formControlName="description" [(ngModel)]="description">
                            </td>
    
                         
                        </tr>
                                        
                        <tr>
    
                                <td style="width: 15%" class="LabelFontStyle">Fiscal&nbsp;Year&nbsp;Name&nbsp;:</td>
                            <td   style="border: none;color: black;">
                                <input type="text" class="form-control" formControlName="fiscalYearName" [(ngModel)]="fiscalYearName">
                            </td>
                            <td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input type="checkbox" class="form-check-input" formControlName="deprWhenAcquiredFlag" >
                                    <label for ="Fiscal"  class="LabelFontStyle">Depriciate When Place in Service</label>
                            
                           </td>
    
                         
                        </tr> 
                              
                           
                                              
                    
                     </table>
                            
                         <br>
                         <table style="width: 100%; background-color: #FFE4B5;">
                                <tr>
                                    <td class="SubHeading2"> Calender Line Details&nbsp;</td>
                                </tr>
                            </table>
                            <br>    
                            <div class="center">
                                <!-- <br> -->
                               <div class="center" formArrayName="faConvLst">
          
                                    <div class="grid_scroll">
    
                                        <table style="width: fit-content; border: solid 1px Gray" class="auto-style4"
                                                  cellspacing="0" cellpadding="4" rules="all" class="center">
                                                  <thead>
                                                    <tr class="GridHeader">
                                                          <!-- <th scope="col">No.</th> -->
                                                          <th scope="col">From Date</th>
                                                          <th scope="col">To Date</th>
                                                          <th scope="col">Prorate Date</th>
                                                          <th scope="col">Add+</th>
                                                          <th scope="col">Del-</th>
                                                    </tr>
                                                  </thead>
                                                  <ng-container *ngFor="let faConvLsts of faConvLst().controls; let trxLineIndex=index" [formGroupName]="trxLineIndex">
                                                <tr>
                                                    
                                                  <!-- <input type="text" hidden formControlName="priceListLineId"> -->
                                                    <td>
                                                        <input  style="width: 150px;" type="text"  class="form-control" formControlName="startDate">
                                                    </td>
                                                    <td>
                                                        <input style="width: 150px;"  type="text"   class="form-control" formControlName="endDate" >
                                                    </td>
                                                    <td>
                                                        <input style="width: 150px;" type="text"  class="form-control" formControlName="prorateDate">
                                                    </td>
                                                    
                                                    
                                                    <td>
                                                        <button type="submit" class="btn btn-info"  style="width: min-content;" (click)="addnewfisYrLst()"><i
                                                        class="fa fa-plus"></i></button>
                                                    </td>
    
                                                    <td>
                                                            <button type="submit" class="btn btn-info" style="width: min-content;" (click)="removenewtrxLinesList(trxLineIndex)"><i
                                                            class="fa fa-trash"></i></button>
                                                    </td>
    
                                                  </tr>
                                                  </ng-container>
                                        </table>
                                    </div>
                               </div>
                            </div>
    
                         
                        <!-- ===================================Buttons======================================== -->
                        <!-- <br> -->
                        <table class="center">
                            <tr>
                                 <td>
                                        <button type="button" class="btn btn-info" (click)="search()">Search</button>
                                    </td>
                                    
                      
                     <!-- ====================Reset Dialog ======================== -->
    
                        <td>
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Reset</button>
                        </td>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <label style="font-size: small; color: black;font-weight: bold; text-align:center;vertical-align: middle;">
                                    <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                                    Want&nbsp;to&nbsp;Reset. &nbsp;Confirm&nbsp;(Yes/No)?&nbsp;
                                </label>
                            </div>
                            <div class="modal-footer">
                                <table class="center">
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
                                        </td>
                                        <td>
                                            <button type="submit" class="btn btn-info" id="register" (click)="resetMast()">Yes</button> 
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        </div>
                        </div>
    
                            <!-- =====================Close Dialog Box====================== -->
                            <td>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalLong">Close</button>
                            </td>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <label style="font-size: small; color: black; font-weight: bold; text-align: center; vertical-align: middle;">
                                            <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                                            Want&nbsp;to&nbsp;Close.&nbsp;Confirm&nbsp;(Yes/No)?&nbsp;
                                        </label>
                                    </div>
                                    <div class="modal-footer">
                                        <table class="center">
                                            <tr>
                                                <td>
                                                <button  type="submit" class="btn btn-info" data-dismiss="modal" id="register"   (click)="closeMast()">Yes</button>
                                                </td>
                                                <td>
                                                <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                </div>
                            </div>
    
                    </tr>
                    </table>
                    <br>
                         
                    
    
                    </form>
                </div>
            </div>
        </div>
    </div>
    
                            
    
    
    
   