<form [formGroup]="orderListForm" (ngSubmit)="orderList(orderListForm.value)">
    <table style="width: 100%;background-color: white;">
        <tr>
            <td class="PageHeader">
                Order&nbsp;List&nbsp;
            </td>
        </tr>
    </table>
    <div class="col-md-12 table-responsive" #epltable>
        <div style="padding-bottom: 10px;padding-top: 10px;">
            <div class="row">
                <div class="col-sm-12">
                    <button (click)="exportToExcel()" class="btn btn-success" style="width: fit-content;">Export To Excel</button>
                </div>
            </div>
        </div>
        <table class="center" style="width: 100%;background-color: #FFE4B5;">
            <tr>
                <td>
                    <table class="center">
                        <tr>

                            <td>From&nbsp;Date&nbsp;</td>&nbsp;
                            <td>
                                <input type="date" class="form-control" formControlName="startDt" 
                                value={{startDt}}  max="{{minDate | date:'yyyy-MM-dd'}}">
                            </td>

                            <td>To&nbsp;Date&nbsp;</td>&nbsp;
                            <td>
                                <input type="date" class="form-control" formControlName="endDt" 
                                value={{endDt}} max="{{minDate | date:'yyyy-MM-dd'}}">
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary" id="search" (click)="getPO()">
                                    Get&nbsp;Order&nbsp;List
                                </button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br>
        <div class="grid_scroll">
        <table  class="GridFont"  style="border-color:#959595;border-collapse:collapse;width: 100%;">
            <tr class="GridHeader" style="font-size: 10px;">
                <th >Order No.</th>
                <th >Cust Name</th>
                <th style="width: fit-content;">Order&nbsp;Date</th>
                <th>  Invoice Details </th>
                <th> Receipt Details </th>
                <th>Order Status</th>
                <!-- <th >Invoice Date</th> -->
                <!-- <th> Receipt Details </th>
                <th >Receipt No.</th>
                <th >Receipt Date</th>
                <th >Receipt Amt</th>
                <th >Invoice Amt</th>
                <th >Receipt Status</th>
                <th>Invoice Status</th> -->

            </tr>
            <tr *ngFor="let com of orderListDetails ; let i= index" class="ItemStyle" style="text-decoration:none;font-size: 14px;">
                <td style="border: 1px solid #000000;padding-left: 5px;padding-top: 10px;">
                    <a [routerLink]="['/admin/OrderManagement/CounterSaleOrder',com.orNum]"
                        href="{{orNum}}">{{com.orNum}}</a>
                </td>
                <td style="padding-left: 5px; text-align: center;font-size: 11px;">{{com.custName}}</td>
                <td style="padding-left: 5px; text-align: center;width: fit-content;">{{com.orDate}}</td>
                <td>
                    <table>
                        <tr>
                            <td style="padding-left: 5px; text-align: center;border: none;">{{com.invNum}}</td>&nbsp;<td style="border: none;">/</td>
                            <td style="padding-left: 5px; text-align: center;border: none;width: 8rem;">{{com.invDate}}</td>&nbsp; /
                            <td style="padding-left: 5px; border: none;">{{com.invAmt}}&nbsp; </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td *ngIf="isPending[i]" style="padding-left: 5px; text-align: center; background-color:orangered;border: none;" >
                                {{com.reNum}}
                            </td>
                            <td *ngIf="!isPending[i]" style="padding-left: 5px; text-align: center;border: none;"> {{com.reNum}} </td>&nbsp;/           
                            <td style="padding-left: 5px; text-align: center;border: none;width: 8rem;">  {{com.reDate}}</td>&nbsp;/
                            <td style="padding-left: 5px; text-align: right;border: none;">{{com.reAmt}}&nbsp;/ </td>
                            <td style="padding-left: 5px; text-align: right;border: none;">{{com.reStatus}}&nbsp;</td>
                        </tr>
                    </table>
                </td>
                <td style="padding-left: 5px; text-align: center;">{{com.orStatus}} </td>

            </tr>
        </table>
        </div>
    </div>
    <table class="center">
        <tr>
            <td>
                <button type="submit" class="btn btn-primary" id="register" (click)="refresh()">
                    Clear
                </button>
            </td>
            <td>
                <button type="submit" (click)="close()" class="btn btn-primary">Close</button>
            </td>
        </tr>
    </table>
</form>
