<form [formGroup]="orderListForm" (ngSubmit)="orderList(orderListForm.value)">
    <table style="width: 100%;background-color: white;">
        <tr>
            <td class="PageHeader">
                Spares Order&nbsp;List&nbsp;
            </td>
        </tr>
    </table>
    <div class="col-md-12 table-responsive" #epltable>
        <div style="padding-bottom: 10px;padding-top: 10px;">
            <div class="row">
                <div class="col-sm-12">
                    <button (click)="exportToExcel()" class="btn btn-success" style="width: fit-content;">Export To Excel</button>
                </div>
            </div>
        </div>
        <table class="center" style="width: 100%;background-color: #FFE4B5;">
            <tr>
                <td>
                    <table class="center">
                        <tr>

                           

                            <td>From&nbsp;Date&nbsp;</td>&nbsp;
                            <td>
                                <input type="date" class="form-control" formControlName="startDt"  [(ngModel)]="startDt"
                                value={{startDt}}  max="{{minDate | date:'yyyy-MM-dd'}}">
                            </td>

                            <td>To&nbsp;Date&nbsp;</td>&nbsp;
                            <td>
                                <input type="date" class="form-control" formControlName="endDt" [(ngModel)]="endDt"
                                value={{endDt}} max="{{minDate | date:'yyyy-MM-dd'}}">
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary" id="search" (click)="getPO()" style="width:fit-content">
                                    Get&nbsp;Order&nbsp;List
                                </button>
                            </td>
                            <td>Status&nbsp;</td>&nbsp;
                            <td>
                                <select formControlName="status" 
                                id="status" class="form-control"
                                style="width: fit-content;height: 25px;font-size: 10px;"
                                (ngModelChange)="onSelectStatus($event)">
                                <option value="--Select--">--Select--</option>
                                <option value="BOOKED" >BOOKED</option>
                                <option value="CANCELLED">CANCELLED</option>
                                <option value="INVOICED" >INVOICED</option>
                            </select>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br>
        <table  class="GridFont"  style="font-size: 14px;border-color:#1f1e1e;border-collapse:collapse;width: 100%;text-align: center;">
            <tr>
                <td ><b>Total Order Count : {{orderListDetails.length}}</b></td>
                <td ><b>Total Amount : {{totInvAmt}}</b></td>
        </table>
        <div class="grid_scroll">
        <table  class="GridFont"  style="border-color:#494949;border-collapse:collapse;width: 100%;">
           
            <tr class="GridHeader" style="font-size: 11px;">
                <th >Order No.</th>
                <th >Order Date</th>
                <th >Customer Account No</th>
                <th >Customer Name</th>
                <th >Invoice No.</th>
                <th >Invoice Date</th>
                <th >Receipt No.</th>
                <th >Receipt Date</th>
                <th >Receipt Amt</th>
                <th >Invoice Amt</th>
                <th >Receipt Status</th>
                <th>Invoice Status</th>
                <th> IRN Status</th>
            </tr>
            <tr *ngFor="let com of orderListDetails ; let i= index" class="ItemStyle" style="text-decoration:none;font-size: 11px;">
                <td style="padding-left: 5px;padding-top: 10px;">
                    <a (click)="counterSaleOrder(com.orNum)" style="color: blue;">{{com.orNum}}</a>
                </td>
                <!-- href="{{orNum}}" -->
                <td style="padding-left: 5px; text-align: center;">{{com.orDate}}</td>
                <td style="padding-left: 5px; text-align: center;">{{com.custActNo}}</td>
                <td style="padding-left: 5px; text-align: left;">{{com.custName}}</td>
                <td style="padding-left: 5px; text-align: center;">{{com.invNum}}</td>
                <td style="padding-left: 5px; text-align: center;">{{com.invDate}}</td>
                <td *ngIf="isPending[i]" style="padding-left: 5px; text-align: center; background-color:orangered ;" >
                    {{com.reNum}}
                </td>
                    <td *ngIf="!isPending[i]" style="padding-left: 5px; text-align: center;">
                     {{com.reNum}}
                    </td>              
                 
                <td style="padding-left: 5px; text-align: center;">
                    {{com.reDate}}</td>
                <td style="padding-left: 5px; text-align: right;">{{com.reAmt}}&nbsp;&nbsp;
                </td>
                <td style="padding-left: 5px; text-align: right;">{{com.invAmt}}&nbsp;&nbsp;
                </td>
                <td style="padding-left: 5px; text-align: right;">{{com.reStatus}}&nbsp;&nbsp;
                </td>
                <td style="padding-left: 5px; text-align: center;">{{com.orStatus}}
                </td>
                <td style="padding-left: 5px; text-align: center;">{{com.IRNStatus}}
                </td>
                <!-- {{com.orAmt}} -->
            </tr>
        </table>
        </div>
    </div>
    <table class="center">
        <tr>
            <td>
                <button type="submit" class="btn btn-primary" id="register" (click)="refresh()">
                    Clear
                </button>
            </td>
            <td>
                <button type="submit" (click)="close()" class="btn btn-primary">Close</button>
            </td>
        </tr>
    </table>
</form>